@import '~carbon-components/scss/globals/scss/vars';
@import '../../globals/vars';

.#{$iot-prefix}-simple-pagination-container {
  display: flex;
  height: $spacing-09;
  justify-content: flex-end;
  width: 100%;
  border: 1px solid $ui-03;
  background-color: $ui-01;
  align-items: center;
}

.#{$iot-prefix}-simple-pagination-page-label {
  padding-right: $spacing-05;
  font-size: 0.875rem;
}

.#{$iot-prefix}-addons-simple-pagination-button {
  &:focus {
    outline: none;
    border: 1px solid $focus;
  }
  cursor: default;
}

.#{$iot-prefix}-simple-pagination-caret {
  fill: $icon-01;
}
