@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/typography';

// StatefulTileGallery extra content
.extraContent {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  .#{$prefix}--search-input {
    height: 2.5rem;
    font-size: 0.875rem;
  }
  & > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .#{$prefix}--form-item {
    flex-grow: 0;
    flex-basis: 20rem;
  }
  .#{$prefix}--content-switcher {
    width: 10rem;
  }
  .#{$prefix}--content-switcher-btn {
    padding: 0 1rem;
    width: 5rem;
  }
}

.tile-gallery {
  .accordion {
    .#{$prefix}--accordion__title {
      font-size: 1rem;
      font-weight: bold;
    }
    .#{$prefix}--accordion__item:last-child {
      border-bottom: none;
    }
    .#{$prefix}--accordion__item {
      border-top: none;
    }
    .#{$prefix}--accordion__heading {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: rem(1px) solid $ui-03;
      flex-direction: row;
    }
  }

  &--section {
    &--items {
      display: flex;
      padding-bottom: 2rem;
      flex-flow: row wrap;
    }
  }

  .dashboard-tile {
    text-decoration: none;
    margin-right: 1rem;
    flex-basis: 30%;
    // min-width: rem(305px);
    position: relative;
    margin-top: 1rem;
    box-shadow: none;
    border: solid rem(1px) $ui-background;

    .top {
      display: flex;
      align-items: center;
      line-height: 2rem;
      margin-bottom: 0.375rem;
      margin-top: -0.5rem;
    }
    &-add {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      max-width: rem(200px);
      justify-content: space-between;
      font-weight: 700;
      > svg {
        align-self: flex-end;
      }
    }
    .title {
      font-weight: bold;
      flex: 1;
      padding-right: 1rem;
      color: #000000;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
    .options {
      flex: 0;
      color: $text-01;
      .#{$prefix}--overflow-menu {
        height: 2rem;
        margin-right: -0.5rem;
      }
      .#{$prefix}--inline-loading {
        flex-direction: row-reverse;
        margin-left: 0.5rem;
      }
      .#{$prefix}--inline-loading__text {
        margin-bottom: 0;
      }
    }
    .dimensions,
    .time,
    .description {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
    small {
      color: $text-01;
    }
    .titleCard {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
      color: #000000;
      margin-top: 0.125rem;
    }
  }
}

.#{$prefix}--tile--clickable:hover,
.dashboard-pin-list-title:hover {
  background: #ffffff;
}

.overflowMenu {
  margin-top: -0.5rem;
  margin-left: auto;
}

.dashboard-pin-card-title {
  flex: 0 0 16rem;
  width: 305px;
  height: 272px;
  .topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9375rem;
    position: relative;
    width: 100%;
    height: 13rem;
  }
  .thumbnail {
    display: block;
    padding-left: rem(5px);
  }
  .descriptionCard {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    opacity: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    span {
      color: $ui-background;
      margin-bottom: 5px;
    }
    a {
      text-decoration: none;
      color: #729de7;
    }
  }
  .descriptionCard:hover {
    background: rgba(41, 41, 41, 0.8);
    opacity: 1;
  }
  .titleCard {
    margin-left: 0.5rem;
    width: 11rem;
  }
}

.dashboard-pin-list-title {
  height: 5.9375rem;
  flex: 0 0 31.25rem;
  box-shadow: none;
  border-bottom: 0.0625rem solid rgb(223, 227, 230);
  background: $ui-01;
  &:hover {
    background: $ui-03;
    border: none;
  }
  .titleCard {
    margin-left: 0.9375rem;
  }
  .descriptionCard {
    padding-left: 2rem;
    // color: '#717e87'
    color: $ui-04;
  }
}
