@use '../../../../globals/theme' as *;
@use '../../../../globals/spacing' as *;
@use '../../../../globals/vars' as *;

.#{$iot-prefix}--column-header-row--select-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.#{$iot-prefix}--column-header-row--table-header {
  border-top: none;

  .#{$prefix}--form-item {
    display: table-cell;

    input {
      min-width: 12.75rem;
    }
  }

  .#{$prefix}--table-header-label {
    flex-wrap: wrap;
  }
}

.#{$iot-prefix}--column-header-row--table-row {
  th {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }

  td {
    background-color: inherit;
    border-left: none;
    border-width: 0 0 0 4px;
  }

  &:hover {
    border: inherit;
    background-color: inherit;
    td {
      background-color: inherit;
      border-left: none;
      border-width: 0 0 0 4px;
    }
  }
}
