@use '../../../globals/config';
@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;
@use '../../../globals/mixins';

.drag-panel {
  position: absolute;
  z-index: 3;
  opacity: 0.8;
  @include mixins.box-shadow();
  cursor: move;
  padding: spacing.$spacing-05;
  background: theme.$layer-02;
}
