@use '../../../globals/mixins' as *;
@use '../../../globals/vars' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/utilities/box-shadow' as *;
.drag-panel {
  position: absolute;
  z-index: 3;
  opacity: 0.8;
  @include box-shadow();
  cursor: move;
  padding: $spacing-05;
  background: $layer-02;
}
