@use '../../../globals/config' as *;
@use '../../../globals/theme' as *;
@use '../../../globals/spacing' as *;
@use '../../../globals/vars' as *;
@use '../../../globals/mixins' as *;

.drag-panel {
  position: absolute;
  z-index: 3;
  opacity: 0.8;
  @include box-shadow();
  cursor: move;
  padding: $spacing-05;
  background: $layer-02;
}
