@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/components/accordion';

[dir='rtl'] .#{$prefix}--accordion__title {
  margin: 0 $spacing-05 0 0;
  text-align: right;
}

[dir='rtl'] .#{$prefix}--accordion__arrow {
  margin: $spacing-01 0 0 $spacing-05;
}
