@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;

.#{$iot-prefix}--combo-chart-card__container {
  padding: 0 spacing.$spacing-05 spacing.$spacing-05;
  position: absolute;
  width: 100%;
  height: 100%;
}
