@use '../../globals/vars' as *;
@use '@carbon/react/scss/spacing' as *;
.#{$iot-prefix}--combo-chart-card__container {
  padding: 0 $spacing-05 $spacing-05;
  position: absolute;
  width: 100%;
  height: 100%;
}
