@use '../../../globals/vars' as *;
@use 'TableDetailWizardHeader/table-detail-wizard-header' as *;
@use 'TableDetailWizardSidebar/table-detail-wizard-sidebar' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
.#{$iot-prefix}--table-detail-wizard--wizard-wrapper {
  background-color: $background;
  display: flex;
  flex-flow: column;
  align-items: left;
  border: to-rem(1px) solid #a2a2a28c;

  .#{$prefix}--inline-notification {
    max-width: none;
    width: calc(100% - #{$spacing-07});
    margin: $spacing-05;

    html[dir='rtl'] & {
      .#{$prefix}--inline-notification__close-button,
      .#{$prefix}--inline-notification__icon {
        margin-right: unset;
      }

      .#{$prefix}--inline-notification__icon {
        margin-left: $spacing-05;
      }

      &--error {
        border-left: unset;
        border-right: to-rem(3px) solid $support-error-inverse; //$inverse-support-01;
      }
    }
  }
}

.#{$iot-prefix}--table-detail-wizard--wizard-container {
  display: flex;
}

.#{$iot-prefix}--table-detail-wizard--inline-notification {
  width: 100%;
}

.#{$iot-prefix}--table-detail-wizard--footer {
  .#{$prefix}--modal-footer {
    justify-content: flex-end;

    & > div {
      width: 100%;
    }
  }
}

.#{$iot-prefix}--table-detail-wizard--content-container {
  padding-top: to-rem(30px);
  padding-right: to-rem(50px);
  padding-left: to-rem(40px);
}
