@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;
@use '../../../globals/layout';
@use './TableDetailWizardHeader/table-detail-wizard-header';
@use './TableDetailWizardSidebar/table-detail-wizard-sidebar';

.#{$iot-prefix}--table-detail-wizard--wizard-wrapper {
  background-color: theme.$ui-background;
  display: flex;
  flex-flow: column;
  align-items: left;
  border: layout.rem(1px) solid #a2a2a28c;

  .#{$prefix}--inline-notification {
    max-width: none;
    width: calc(100% - #{spacing.$spacing-07});
    margin: spacing.$spacing-05;

    html[dir='rtl'] & {
      .#{$prefix}--inline-notification__close-button,
      .#{$prefix}--inline-notification__icon {
        margin-right: unset;
      }

      .#{$prefix}--inline-notification__icon {
        margin-left: spacing.$spacing-05;
      }

      &--error {
        border-left: unset;
        border-right: layout.rem(3px) solid theme.$inverse-support-01;
      }
    }
  }
}

.#{$iot-prefix}--table-detail-wizard--wizard-container {
  display: flex;
}

.#{$iot-prefix}--table-detail-wizard--inline-notification {
  width: 100%;
}

.#{$iot-prefix}--table-detail-wizard--footer {
  .#{$prefix}--modal-footer {
    justify-content: flex-end;

    & > div {
      width: 100%;
    }
  }
}

.#{$iot-prefix}--table-detail-wizard--content-container {
  padding-top: layout.rem(30px);
  padding-right: layout.rem(50px);
  padding-left: layout.rem(40px);
}
