@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
@use "../../globals/layout";

.#{$iot-prefix}-simple-pagination-container {
  display: flex;
  height: spacing.$spacing-09;
  width: 100%;
  border: layout.rem(1px) solid theme.$ui-03;
  background-color: theme.$ui-01;
}

.#{$iot-prefix}-simple-pagination-page-bar {
  display: flex;
  margin-left: auto;
}

.#{$iot-prefix}-simple-pagination-page-label {
  padding-right: spacing.$spacing-05;
  padding-left: spacing.$spacing-05;
  font-size: 0.875rem;
  align-self: center;
}

.#{$iot-prefix}-addons-simple-pagination-button {
  &:focus {
    outline: none;
  }
}

.#{$iot-prefix}-addons-simple-pagination-button-disabled {
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: theme.$ui-01;
  }
  cursor: not-allowed;
}

.#{$iot-prefix}-simple-pagination-caret {
  fill: theme.$icon-01;
}

.#{$iot-prefix}-simple-pagination-caret-disabled {
  fill: theme.$disabled-02;
}
