@use '@carbon/react/scss/config' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/utilities/convert';
.#{$iot-prefix}-simple-pagination-container {
  display: flex;
  height: $spacing-09;
  width: 100%;
  border: convert.to-rem(1px) solid $border-subtle; //$ui-01
  background-color: $layer-01;
}

.#{$iot-prefix}-simple-pagination-page-bar {
  display: flex;
  margin-left: auto;
}

.#{$iot-prefix}-simple-pagination-page-label {
  padding-right: $spacing-05;
  padding-left: $spacing-05;
  font-size: 0.875rem;
  align-self: center;
}

.#{$iot-prefix}-addons-simple-pagination-button {
  &:focus {
    outline: none;
  }
}

.#{$iot-prefix}-addons-simple-pagination-button-disabled {
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $layer-01;
  }
  cursor: not-allowed;
}

.#{$iot-prefix}-simple-pagination-caret {
  fill: $icon-primary;
}

.#{$iot-prefix}-simple-pagination-caret-disabled {
  fill: $icon-disabled;
}
