// @use '@carbon/charts/scss/' as *; //carbon 11
@use './vars' as *;

html[dir='rtl'] .chart-holder {
  .legend-item {
    direction: ltr;
  }
  .axis {
    direction: ltr;
    .axis-title {
      direction: ltr;
    }
  }
}
