@use './config' as *;
@use './theme' as *;
@use './typography' as *;
@use './css--reset';

// This hasn't been converted to @carbon/styles yet, so I copied it out manually.

/// Body styles
/// @access private
/// @group global-body
@mixin css-body {
  body {
    @include css--reset.reset;
    @include type-style('body-short-01');

    background-color: $ui-background;
    color: $text-01;
    line-height: 1;
  }
}

@if variable-exists('css--body') == false or $css--body == true {
  @include css-body;
}
