@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;
type .#{$iot-prefix}--sparkline-chart--wrapper {
  width: 100%;
  height: calc(100% - (var(--card-list-height)));
  &--list {
    display: flex;
    margin-bottom: $spacing-03;
    > p,
    span {
      @include type-style('label-01');
    }
    > p {
      color: $text-secondary;
      padding-right: $spacing-05;
    }
  }
}

[dir='rtl'] {
  .#{$iot-prefix}--sparkline-chart--wrapper {
    &--list {
      > p {
        color: $text-secondary;
        padding-left: $spacing-05;
        padding-right: 0;
      }
    }
  }
}
