@import '../../globals/vars';

.#{$iot-prefix}--sparkline-card--wrapper {
  width: 100%;
  height: calc(100% - (var(--card-list-height) * 1.3));
  &--list {
    display: flex;
    margin-bottom: $spacing-03;
    > p,
    span {
      @include type-style('label-01');
    }
    > p {
      color: $text-02;
      padding-right: $spacing-05;
    }
  }
}
