@import '~@carbon/charts/styles/styles.scss';
@import './vars';

html[dir='rtl'] .chart-holder {
  .legend-item {
    direction: ltr;
  }
  .axis {
    direction: ltr;
    .axis-title {
      direction: ltr;
    }
  }
}
