@use '@carbon/react/scss/components/tag' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
html[dir='rtl'] {
  .#{$prefix}--tag--filter {
    padding-right: $spacing-03;
    padding-left: $spacing-01;
  }

  .#{$prefix}--tag__close-icon {
    margin: 0 $spacing-02 0 0;
  }
}
