@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use '~@carbon/styles/scss/components/tag';

html[dir='rtl'] {
  .#{vars.$prefix}--tag--filter {
    padding-right: spacing.$spacing-03;
    padding-left: spacing.$spacing-01;
  }

  .#{vars.$prefix}--tag__close-icon {
    margin: 0 spacing.$spacing-02 0 0;
  }
}
