@use '../../globals/vars' as *;
@use './list-vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/components/button' as *;
.#{$iot-prefix}--list {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 100%;
  &--header {
    flex: 0;
  }
  &--content {
    background: $layer-01;
    flex: 1;
    overflow-y: auto;

    &__full-height {
      overflow-y: unset;
    }

    &--w-horizontal-scrollbar .#{$iot-prefix}--list-item {
      overflow: unset;

      &--content--values--main {
        column-gap: $spacing-05;
      }

      &--content--values--value {
        overflow: visible;
        text-overflow: unset;
      }
    }

    &__full-height__support {
      overflow-x: auto;
    }

    &__scrollbar__support {
      display: inline-flex;
      flex-direction: column;
      min-width: 100%;
    }
  }

  &__full-height {
    height: 100%;
  }

  &--page {
    position: relative;
    .#{$iot-prefix}-simple-pagination-container {
      border-width: 1px 0 0 0;
      height: $list-item-height;
      box-sizing: content-box;

      .#{$iot-prefix}-simple-pagination-page-bar {
        margin-left: unset;
        justify-content: space-between;
        width: 100%;
        height: $spacing-08;

        .#{$iot-prefix}-simple-pagination-page-label {
          flex-grow: 2;
        }
      }
    }
  }

  &--empty-state {
    padding: $spacing-05 0 $spacing-05;
    display: flex;
    flex-flow: column;

    &__full-height {
      height: 100%;
      padding: 0;
    }
  }

  .#{$iot-prefix}--load-more-row {
    min-height: $list-item-height;
    cursor: pointer;
    min-width: 100%;
    background: $layer-01;
    &--content {
      color: $button-primary;
    }
    .#{prefix}--loading__stroke {
      stroke: $button-primary;
    }
    &.#{$prefix}--btn--disabled,
    .#{$prefix}--btn--disabled:focus,
    .#{$prefix}--btn--disabled:hover {
      // border-bottom: 1px solid $decorative-01; // $decorative-01 carbon 11
    }
  }

  .#{$iot-prefix}--list--load-more-skeleton {
    margin: $spacing-03 0;
  }
}

.#{$iot-prefix}--list--skeleton {
  margin: $spacing-03 0 $spacing-03 $spacing-05;
}
