@import '../../globals/vars';
@import './list-vars';

.#{$iot-prefix}--list {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 100%;
  &--header {
    flex: 0;
  }
  &--content {
    background: $ui-01;
    flex: 1;
    overflow-y: auto;

    &__full-height {
      overflow-y: unset;
    }
  }

  &__full-height {
    height: 100%;
  }

  &--page {
    position: relative;
    .#{$iot-prefix}-simple-pagination-container {
      border-width: 1px 0 0 0;
      height: $list-item-height;

      .#{$iot-prefix}-simple-pagination-page-bar {
        margin-left: unset;
        justify-content: space-between;
        width: 100%;

        .#{$iot-prefix}-simple-pagination-page-label {
          flex-grow: 2;
        }
      }
    }
  }

  &--empty-state {
    padding: $spacing-05 0 $spacing-05;
    display: flex;
    flex-flow: column;

    &__full-height {
      height: 100%;
      padding: 0;
    }
  }

  .#{$iot-prefix}--load-more-row {
    min-height: $list-item-height;
    cursor: pointer;
    min-width: 100%;
    background: $ui-01;
    &--content {
      color: $interactive-01;
    }
    .#{prefix}--loading__stroke {
      stroke: $interactive-01;
    }
    &.#{$prefix}--btn--disabled,
    .#{$prefix}--btn--disabled:focus,
    .#{$prefix}--btn--disabled:hover {
      border-bottom: 1px solid $decorative-01;
    }
  }

  .#{$iot-prefix}--list--load-more-skeleton {
    margin: $spacing-03 0;
  }
}

.#{$iot-prefix}--list--skeleton {
  margin: $spacing-03 0 $spacing-03 $spacing-05;
}
