@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
$list-item-height: to-rem(40px);
$list-item-height-large: to-rem(64px);
$list-item-border-color: $border-subtle; // $ui-03 carbon 11
