@use '../../globals/vars' as *;
.#{$iot-prefix}--dashboard-grid {
  position: relative;
  .react-grid-item.cssTransforms {
    transition-property: none;
  }

  .react-resizable-hide .react-resizable-handle {
    /* workaround to hide the resize handles in react-grid-layout */
    display: none;
  }
}

.#{$iot-prefix}--dashboard-grid__animate {
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
}
