@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
@use '../../globals/typography';
@use '../../globals/layout';

.#{$iot-prefix}--tile-catalog {
  &--persistent-search {
    margin-bottom: spacing.$spacing-05;
  }
  &--canvas-container {
    display: flex;
    flex-direction: row;
  }
  &--tile-canvas {
    flex: 1;
    &--featured-tile-title {
      @include typography.type-style('productive-heading-01');
    }
    &--featured-tile {
      background: theme.$ui-03;
      height: 17rem;
      margin-bottom: spacing.$spacing-05;
      margin-top: spacing.$spacing-05;
    }
    &--header {
      display: flex;
      align-items: center;
      padding-bottom: spacing.$spacing-05;
      justify-content: flex-end;
      &--title {
        @include typography.type-style('productive-heading-01');
        flex: 1;
      }

      .#{$prefix}--toolbar-action {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: spacing.$spacing-05;
      }

      &--search {
        flex: 1;
        height: layout.rem(40px);
        width: layout.rem(40px);
        .#{$prefix}--search {
          svg {
            height: 2.5rem;
            width: 2.5rem;
            padding: spacing.$spacing-04;
          }
        }
      }

      &--select {
        .#{$prefix}--label {
          margin-bottom: 0;
        }
      }
    }

    &--content {
      .#{$prefix}--grid {
        padding: 0;
      }
      .#{$prefix}--row {
        padding-bottom: spacing.$spacing-05;
        margin-left: -(spacing.$spacing-03);
        margin-right: -(spacing.$spacing-03);
      }
      .#{$prefix}--col {
        padding-left: spacing.$spacing-03;
        padding-right: spacing.$spacing-03;
      }
    }

    &--placeholder-tile {
      background: theme.$ui-03;
      height: layout.rem(224px);
    }

    &--no-placeholder-tile {
      background: theme.$ui-02;
      height: layout.rem(224px);
    }

    &--bottom {
      display: flex;
      justify-content: flex-end;
    }
  }
  &--filter {
    margin-left: spacing.$spacing-05;

    width: layout.rem(212px);
    &--title {
      @include typography.type-style('productive-heading-01');
      margin-bottom: spacing.$spacing-05;
    }
    &--content {
      background: theme.$ui-01;

      &--select {
        width: layout.rem(212px);
        padding: spacing.$spacing-05;

        .#{$prefix}--select-input {
          width: layout.rem(180px);
          background: theme.$ui-02;
        }
      }

      &--checkbox {
        border-top: 1px solid theme.$ui-03;
        padding: spacing.$spacing-05;
      }

      .#{$prefix}--link {
        padding: spacing.$spacing-05;
        color: theme.$interactive-04;
      }
    }
  }
}

.sample-tile {
  background: theme.$ui-01;
  padding: spacing.$spacing-05;
  height: layout.rem(224px);
  &--title {
    @include typography.type-style('productive-heading-01');
    padding-bottom: spacing.$spacing-03;
  }

  &--content {
    @include typography.type-style('label-01');
  }
}

.#{$iot-prefix}--tile-catalog--grid-container {
  display: grid;
  grid-template-columns: var(--columns);
  gap: 1rem;
}
