@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
.#{$iot-prefix}--tear-sheet {
  background-color: $layer-01; //$ui-01
  display: flex;
  flex-direction: column;
  height: 100%;

  & * {
    max-width: 100%;
  }

  &--header {
    padding: $spacing-06 $spacing-11 $spacing-06 $spacing-07;
    border-bottom: 1px solid $background-selected; //$selected-ui carbon 11

    [dir='rtl'] & {
      padding: $spacing-06 $spacing-07 $spacing-06 $spacing-11;
    }

    h1 {
      margin-bottom: $spacing-03;
    }
    &__extraContent {
      padding-bottom: $spacing-03;
    }
    &--description {
      // @include type-style('body-long-01');
      color: $text-secondary; //text-02 carbon 11
    }
    .#{$prefix}--btn.#{$prefix}--btn--icon-only.#{$prefix}--tooltip__trigger {
      position: absolute;
      top: 0;
      right: 0;

      [dir='rtl'] & {
        left: 0;
        right: unset;
      }
    }
  }

  &--content {
    flex: 1;
    overflow: auto;
  }
}
