.#{$iot-prefix}--tear-sheet-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  position: fixed;
  transition: all $duration--slow-01 motion(standard, expressive);

  &--container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background: none;
    transition: all $duration--slow-01 motion(standard, expressive);
    width: initial;
    max-height: calc(var(--window-height) - 88px);
    max-width: var(--content-max-width);
    height: auto;
    .#{$iot-prefix}--tear-sheet {
      max-width: inherit;
      width: 100%;
    }
    &.is-hidden {
      filter: brightness(75%);
      & * {
        transition: filter duration--slow-01 motion(standard, expressive);
      }
    }
  }

  &.is-visible {
    background-color: $overlay-01;
    z-index: 5999;
    transition: background-color $duration--slow-02 motion(standard, productive);
    opacity: 1;
  }
}
