.#{$iot-prefix}-tear-sheet {
  height: 100%;
  background-color: $ui-01;

  & * {
    max-width: 100%;
  }

  &--header {
    padding: $spacing-06 $spacing-11 $spacing-06 $spacing-07;
    border-bottom: 1px solid $selected-ui;
    h1 {
      margin-bottom: $spacing-03;
    }
    &__extraContent {
      padding-bottom: $spacing-03;
    }
    &--description {
      @include type-style('body-long-01');
      color: $text-02;
    }
    .#{$prefix}--btn.#{$prefix}--btn--icon-only.#{$prefix}--tooltip__trigger {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &--content {
    max-height: var(--content-max-height);
    height: var(--content-max-height);
    overflow-y: auto;
    overflow-x: auto;
  }
}
