@use '../../../globals/vars' as *;
@use '../list-vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/utilities/convert';
.#{$iot-prefix}--list-header {
  display: flex;
  align-items: center;
  background: $layer-01;
  padding: $spacing-04 $spacing-05;
  border-bottom: 1px solid $layer-accent-01;
  height: convert.to-rem(56px);
  column-gap: $spacing-05;
  &--title {
    @include type-style('heading-compact-02');
    flex: 1;
  }

  &--btn-container {
    display: flex;
    align-items: center;
    column-gap: $spacing-05;
    // Negative margin needed to have the buttons
    // closer to the edge than than the padding allows
    margin-right: -($spacing-03);
    [dir='rtl'] & {
      margin-right: unset;
      margin-left: -($spacing-03);
    }
  }

  &--search {
    .#{$prefix}--search .#{$prefix}--search-magnifier-icon {
      left: $spacing-05;
    }

    .#{$prefix}--search .#{$prefix}--search-input {
      background: $layer-01;
      border-bottom-color: $list-item-border-color;
      padding: 0 $spacing-09;
    }
  }
}
