@import '../../../globals/vars';
@import '../list-vars';

.#{$iot-prefix}--list-header {
  display: flex;
  align-items: center;
  background: $ui-01;
  padding: $spacing-04 $spacing-05;
  border-bottom: 1px solid $ui-03;
  height: rem(56px);
  &--title {
    @include type-style('productive-heading-02');
    flex: 1;
  }

  &--btn-container {
    display: flex;
    padding: $spacing-03;
    align-items: center;
    & > * {
      margin-left: $spacing-05;
    }
  }

  &--search {
    .#{$prefix}--search .#{$prefix}--search-magnifier-icon {
      left: $spacing-05;
    }

    .#{$prefix}--search .#{$prefix}--search-input {
      background: $ui-01;
      border-bottom-color: $list-item-border-color;
      padding: 0 $spacing-09;
    }
  }

  &--add {
    padding: $spacing-03;
  }
}
