# This CODEOWNERS file defines individuals or teams that are responsible
# for code in this repository.

#####
# Code owners are automatically requested for review when someone
# opens a pull request that modifies code that they own. This repository
# has enabled the `required reviews` setting, and therefore all PR's require
# approval from a code owner before the author can merge a pull request.
# Further documentation: https://help.github.com/articles/about-codeowners/

#####
# These owners are the default owners for everything in the repo.
# Unless a later match takes precedence, the users below will be
# requested for review when someone opens a pull request.

#####
# These users own any files in the following directory at the root of
# the repository and any of its subdirectories.

* @davidicus @jessieyan @sls-ca

#####
# Core admin team should be notified of changes to build/test/deploy

# Core dependencies
/package.json  @davidicus @jessieyan @sls-ca
/yarn.lock     @davidicus @jessieyan @sls-ca

# Configuration files
**/*.config.js  @davidicus @jessieyan @sls-ca
**/config/      @davidicus @jessieyan @sls-ca
/.nvmrc         @davidicus @jessieyan @sls-ca

# Deploy configuration
**/.storybook/       @davidicus @jessieyan @sls-ca
/.github/workflows/  @davidicus @jessieyan @sls-ca
/netlify.toml        @davidicus @jessieyan @sls-ca

#####
# Release team should be notified of Public API changes in the system

**/publicAPI.test.js       @davidicus @jessieyan @sls-ca
**/publicAPI.test.js.snap  @davidicus @jessieyan @sls-ca

# Angular team should be required for Angular changes
/packages/angular/ @carbon-design-system/angular-maintainers

# Monitor still has use for this component
/packages/react/src/components/DashboardEditor/ @davidicus @jessieyan @sls-ca @herleraja
