@use '../../../../globals/theme';
@use '../../../../globals/spacing';
@use '../../../../globals/vars';
@use '../../../../globals/layout';

.#{vars.$iot-prefix}--table-detail-wizard-sidebar--header {
  display: flex;
  flex-flow: column nowrap;
  border-right: layout.rem(1px) solid #dadada8c;

  html[dir='rtl'] & {
    border-right: unset;
    border-left: layout.rem(1px) solid #dadada8c;
  }

  .#{vars.$iot-prefix}--progress-indicator {
    padding: spacing.$spacing-05 spacing.$spacing-05 spacing.$spacing-05 spacing.$spacing-10;
  }
}
