@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;

.#{$iot-prefix}--dynamic-hotspot-source-picker {
  display: flex;
  margin-top: spacing.$spacing-06;
  margin-bottom: spacing.$spacing-07;
  align-items: flex-end;

  & > *:first-child {
    margin-right: spacing.$spacing-05;
  }

  .#{$prefix}--dropdown__wrapper {
    width: 100%;
  }
}

.#{$iot-prefix}--dynamic-hotspot-source-picker__clear-button {
  margin-left: spacing.$spacing-02;
  height: spacing.$spacing-08;
}

.#{$iot-prefix}--dynamic-hotspot-source-picker__clear-button--invisible {
  visibility: hidden;
}
