@use '../../../globals/vars' as *;

.#{$iot-prefix}--dynamic-hotspot-source-picker {
  display: flex;
  margin-top: $spacing-06;
  margin-bottom: $spacing-07;
  align-items: flex-end;

  & > *:first-child {
    margin-right: $spacing-05;
  }

  .#{$prefix}--dropdown__wrapper {
    width: 100%;
  }
}

.#{$iot-prefix}--dynamic-hotspot-source-picker__clear-button {
  margin-left: $spacing-02;
  height: $spacing-08;
}

.#{$iot-prefix}--dynamic-hotspot-source-picker__clear-button--invisible {
  visibility: hidden;
}
