@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as globals-vars;

.#{globals-vars.$iot-prefix}--dynamic-hotspot-source-picker {
  display: flex;
  margin-top: spacing.$spacing-06;
  margin-bottom: spacing.$spacing-07;
  align-items: flex-end;

  & > *:first-child {
    margin-right: spacing.$spacing-05;
  }

  .#{globals-vars.$prefix}--dropdown__wrapper {
    width: 100%;
  }
}

.#{globals-vars.$iot-prefix}--dynamic-hotspot-source-picker__clear-button {
  margin-left: spacing.$spacing-02;
  height: spacing.$spacing-08;
}

.#{globals-vars.$iot-prefix}--dynamic-hotspot-source-picker__clear-button--invisible {
  visibility: hidden;
}
