# Coverage directory used by tools like istanbul
coverage
packages/react/jest
packages/react/cypress/coverage
.nyc_output
packages/react/reports
# Compiled binary addons (http://nodejs.org/api/addons.html)
packages/react/lib
packages/react/es
packages/react/scss
packages/react/umd
packages/react/css
packages/react/tmp
packages/react/storybook-static

// notes
*.notes.md

lib
es
scss
umd
css
tmp
storybook-static

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Built storybook
storybook-static

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Development notes
*.notes.md

# log files
*.log

# We don't use npm, we use Yarn Classic
package-lock.json

# Mac OS Specific files
.DS_Store

.npmrc
results

.vscode

# Cypress artifacts
packages/react/cypress/videos/
packages/react/cypress/screenshots/
packages/react/cypress/snapshots/
packages/react/cypress-visual-report/
packages/react/cypress-visual-screenshots/comparison/
packages/react/cypress-visual-screenshots/diff