# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
lib
es
scss
umd
css
tmp
storybook-static

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Built storybook
storybook-static

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# log files
*.log

# We don't use npm, we use Yarn Classic
package-lock.json

# Mac OS Specific files
.DS_Store

.npmrc
results

