@import '../../../globals/vars';
@import '~carbon-components/scss/globals/scss/layout';
@import 'column-resize';

.#{$prefix}--data-table {
  th {
    height: 3rem;
    border-top: none;
    border-bottom: none;
  }
  .#{$prefix}--table-header-label {
    display: flex;
    user-select: none;
    overflow: hidden;
  }
  .column-header__btn {
    margin: 0 $spacing-05 $spacing-05 0;
    max-height: $spacing-07;
  }

  .column-header__select {
    opacity: 1;
  }

  .column-header__select--hidden {
    opacity: 0.5;
  }

  .column-header__select--isOver {
    border-color: $focus;
    box-shadow: inset 0 0 0 1px $gray-10;
  }

  .lightweight {
    tr:last-of-type {
      th {
        border-bottom: solid 2px $interactive-02;
      }
    }
    th {
      background-color: $ui-01;
      .#{$prefix}--table-sort {
        background-color: $ui-01;
        &:hover {
          background-color: $ui-03;
        }
      }
    }
  }

  .#{$iot-prefix}--table-expand-resize {
    width: 40px;
  }

  .#{$iot-prefix}--table-header-checkbox {
    vertical-align: middle;
    & > span {
      padding: 0;
    }
  }

  .#{$iot-prefix}--table-header-checkbox-resize {
    width: 54px;
  }

  .#{$iot-prefix}--table-header-resize {
    word-break: break-all;
  }

  .#{$iot-prefix}--table-header-row-action-column {
    min-width: 40px;
  }

  .#{$iot-prefix}--clear-filters-button--disabled {
    @include disabled-icon-button();
  }
}

.#{$prefix}--data-table--sort thead tr:first-child th {
  padding: 0 $spacing-05;
}
