@import '~carbon-components/scss/components/combo-box/combo-box';

.#{$iot-prefix}--combobox {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
  padding-top: $spacing-08;

  .#{$prefix}--form__helper-text,
  .#{$prefix}--label {
    bottom: 100%;
    position: absolute;
  }

  .#{$prefix}--label {
    transform: translateY(25px);
  }

  .#{$prefix}--form__helper-text {
    transform: translateY(40px);
  }

  &-tags {
    margin-bottom: $spacing-03;

    li {
      display: inline-block;
      max-width: 100%;
    }
  }
}
