@import '~carbon-components/scss/components/combo-box/combo-box';

// For some reason stlyes are not being applied when I pulled in the Carbon combobox. These can be removed when we are back on to Carbon's version of combobox
// Start of added styles to be removed
.bx--list-box__menu {
  max-height: 0;
  transition: max-height 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.bx--list-box--expanded .bx--list-box__menu {
  max-height: 8.75rem;
}
// end of added styles
