@import '~carbon-components/scss/components/button/button';
@import '../../globals/vars';

.#{$prefix}--#{$iot-prefix}--btn {
  justify-content: flex-start;

  .#{$prefix}--loading {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
  .#{$prefix}--loading__stroke {
    stroke: $carbon--gray-50;
  }
}
