@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
@use '../../globals/typography';

.#{$iot-prefix}--table-card {
  .#{$iot-prefix}--card--content {
    padding: 0;
  }
  .#{$iot-prefix}--table-toolbar-secondary-title {
    // title needs to match new card title font size and padding
    @include typography.type-style('productive-heading-02');
    padding-top: spacing.$spacing-04;
  }
}
.#{$iot-prefix}--card--content .#{$iot-prefix}--table-container {
  overflow-x: hidden; // scrolling should be handled inside the table, not between the card and the table
}

.#{$iot-prefix}--table-card--overflow-menu {
  margin-left: spacing.$spacing-03;
  opacity: 1;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  .#{$prefix}--overflow-menu__icon {
    transform: none;
  }
}

.#{$iot-prefix}--table-card--action-icon {
  cursor: pointer;
  margin-left: spacing.$spacing-04;
  &:hover {
    fill: rgb(61, 112, 178);
  }
}

.#{$iot-prefix}--table-card--expanded-row-content {
  padding-left: spacing.$spacing-07;
  padding-bottom: spacing.$spacing-03;
  padding-top: spacing.$spacing-06;

  p {
    margin-bottom: spacing.$spacing-03;
    font-size: typography.type-scale(2);
    font-weight: 600;
  }
}

.#{$iot-prefix}--table-card--expanded {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: spacing.$spacing-05;
}
