@import '../../globals/vars';

.#{$iot-prefix}--table-card {
  .#{$iot-prefix}--card--content {
    padding: 0;
  }
  .#{$iot-prefix}--table-toolbar-secondary-title {
    // title needs to match new card title font size and padding
    @include type-style('productive-heading-02');
    padding-top: $spacing-04;
  }
}
.#{$iot-prefix}--card--content .#{$iot-prefix}--table-container {
  overflow-x: hidden; // scrolling should be handled inside the table, not between the card and the table
}

.#{$iot-prefix}--table-card--overflow-menu {
  margin-left: $spacing-03;
  opacity: 1;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  .#{$prefix}--overflow-menu__icon {
    transform: none;
  }
}

.#{$iot-prefix}--table-card--action-icon {
  cursor: pointer;
  margin-left: $spacing-04;
  &:hover {
    fill: rgb(61, 112, 178);
  }
}

.#{$iot-prefix}--table-card--expanded-row-content {
  padding-left: $spacing-07;
  padding-bottom: $spacing-03;
  padding-top: $spacing-06;

  p {
    margin-bottom: $spacing-03;
    font-size: carbon--type-scale(2);
    font-weight: 600;
  }
}

.#{$iot-prefix}--table-card--expanded {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: $spacing-05;
}

.#{$iot-prefix}--table-card__table {
  flex: inherit;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  .#{$prefix}--pagination {
    position: absolute;
    bottom: 0;
  }

  .#{$prefix}--data-table-content {
    height: 90%;
  }

  .#{$prefix}--list-box__menu-item {
    height: $spacing-07;
    font-weight: normal;
  }

  .#{$prefix}--table-toolbar {
    padding-bottom: $spacing-01;
    padding-top: 0px;
  }
  .#{$prefix}--data-table th:first-of-type,
  .#{$prefix}--data-table td:first-of-type {
    padding-left: $spacing-05;
    padding-right: $spacing-05;
  }
  .#{$prefix}--data-table thead {
    tr {
      height: $spacing-07;
    }
  }

  .#{$prefix}--data-table tbody tr {
    height: $spacing-08;
  }
  .#{$prefix}--data-table-content + .#{$prefix}--pagination {
    border: 1px solid #dfe3e6;
  }

  .#{$prefix}--toolbar-search-container {
    margin-left: $spacing-05;
  }
  .#{$prefix}--data-table {
    height: 100%;
    td {
      white-space: nowrap;
    }
  }
  .#{$prefix}--data-table thead tr:nth-child(2) {
    height: $spacing-10;

    th {
      padding-top: 5px;
      padding-bottom: 10px;

      input {
        height: $spacing-07;
      }
    }
    th div.#{$prefix}--form-item {
      display: block;
      .#{$prefix}--list-box {
        height: auto;
      }
    }
    th div.#{$prefix}--list-box {
      height: $spacing-07;
    }
  }
}

.#{$iot-prefix}--table-card__table--expanded {
  overflow-y: auto;
  padding-bottom: $spacing-10;

  .#{$prefix}--pagination {
    position: fixed;
    bottom: 25px;
    width: calc(100% - 35px);
  }
}

.#{$iot-prefix}--table-card__table--hide-header {
  .#{$prefix}--data-table thead {
    display: none;
  }
}

.#{$iot-prefix}--table-card__table--with-data {
  .#{$prefix}--data-table {
    height: initial;
  }

  &:not(.#{$iot-prefix}--table-card__table--expanded) {
    .#{$prefix}--data-table-content {
      max-height: 523px;
    }
  }
}
