@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/components/number-input' as *;
@use '../../globals/vars' as *;

html[dir='rtl'] {
  // flip the number and number controls
  .#{$prefix}--number {
    .#{$prefix}--number__input-wrapper {
      input {
        min-width: 8.5rem;
        padding-right: $spacing-05;
      }
    }

    .#{$prefix}--number__controls {
      right: unset;
      left: 0;
    }
  }
}
