@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use '~@carbon/styles/scss/components/number-input';

html[dir='rtl'] {
  // flip the number and number controls
  .#{vars.$prefix}--number {
    .#{vars.$prefix}--number__input-wrapper {
      input {
        min-width: 8.5rem;
        padding-right: spacing.$spacing-05;
      }
    }

    .#{vars.$prefix}--number__controls {
      right: unset;
      left: 0;
    }
  }
}
