@use '../../globals/theme' as *;
@use '../../globals/spacing' as *;
@use '../../globals/vars' as *;
@use '~@carbon/styles/scss/components/number-input';

html[dir='rtl'] {
  // flip the number and number controls
  .#{$prefix}--number {
    .#{$prefix}--number__input-wrapper {
      input {
        min-width: 8.5rem;
        padding-right: $spacing-05;
      }
    }

    .#{$prefix}--number__controls {
      right: unset;
      left: 0;
    }
  }
}
