@use '../../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/components/data-table' as *;

.#{$iot-prefix}--column-resize-handle {
  top: 0;
  cursor: col-resize;
  height: 100%;
  z-index: 1;
  position: absolute;
  outline: none;
  &:hover {
    background-color: $layer-selected-inverse;
  }
}

.#{$iot-prefix}--column-resize-handle--dragging {
  background-color: $layer-selected-inverse;
}

.#{$iot-prefix}--table-expand-resize {
  width: '40px';
}

html:not([dir]) .#{$iot-prefix}--column-resize-handle {
  right: 0;
}
html[dir='rtl'] .#{$iot-prefix}--column-resize-handle {
  left: 0;
}
html[dir='ltr'] .#{$iot-prefix}--column-resize-handle {
  right: 0;
}
