@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;

.#{$iot-prefix}--column-resize-handle {
  top: 0;
  cursor: col-resize;
  height: 100%;
  z-index: 1;
  position: absolute;
  outline: none;
  &:hover {
    background-color: theme.$ui-05;
  }
}

.#{$iot-prefix}--column-resize-handle--dragging {
  background-color: theme.$ui-05;
}

.#{$iot-prefix}--table-expand-resize {
  width: '40px';
}

html:not([dir]) .#{$iot-prefix}--column-resize-handle {
  right: 0;
}
html[dir='rtl'] .#{$iot-prefix}--column-resize-handle {
  left: 0;
}
html[dir='ltr'] .#{$iot-prefix}--column-resize-handle {
  right: 0;
}
