@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars';
@use '../../../globals/colors';
@use '../../../globals/mixins';
@use './column-resize';
@use './ColumnHeaderRow/column-header-row';
@use './FilterHeaderRow/filter-header-row';
@use './ColumnGrouping/column-grouping';

.#{vars.$prefix}--data-table {
  th {
    height: spacing.$spacing-09;
    border-top: none;
    border-bottom: none;
    position: relative;

    // always vertically align headers to middle--even with xl size prop
    &.#{vars.$iot-prefix}--table-head--table-header {
      vertical-align: middle;
    }
  }

  // override sort icons, so they stay in the middle, at xl size, too.
  &--xl {
    .#{vars.$prefix}--table-sort__icon-unsorted,
    .#{vars.$prefix}--table-sort__icon {
      margin-top: 0;
    }

    // fix positioning of order number when in multi-sort
    span.#{vars.$iot-prefix}--table-header-label__sort-order {
      bottom: spacing.$spacing-06;
    }

    // fix sort icon missing at xl sizes
    &.#{vars.$prefix}--data-table--sort th .#{vars.$prefix}--table-sort {
      display: flex;
    }

    th {
      height: spacing.$spacing-10;
    }
  }

  &--md {
    th {
      height: spacing.$spacing-08;
    }
  }

  &--sm {
    th {
      height: spacing.$spacing-07;
    }
  }

  &--xs {
    th {
      height: spacing.$spacing-06;
    }
  }

  th:last-of-type {
    position: relative;
  }

  .#{vars.$prefix}--table-header-label {
    display: flex;
    user-select: none;
    overflow: hidden;
    // allow the multiselect filter to expand to full height and the table to scroll
    .#{vars.$prefix}--multi-select .#{vars.$prefix}--list-box__menu {
      max-height: unset;
    }

    & > span {
      margin: auto 0;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.1rem;
    }
  }

  .#{vars.$iot-prefix}--table-header-label__sort-order {
    position: absolute;
    bottom: spacing.$spacing-04;
    right: spacing.$spacing-04;
    font-size: 0.667rem;
    font-weight: bold;

    html[dir='rtl'] & {
      left: spacing.$spacing-03;
      right: unset;
    }
  }

  .column-header__btn {
    margin: 0 spacing.$spacing-05 spacing.$spacing-05 0;
    max-height: spacing.$spacing-07;
  }

  .column-header__select {
    opacity: 1;
  }

  .column-header__select--hidden {
    opacity: 0.5;
  }

  .column-header__select--isOver {
    border-color: theme.$focus;
    box-shadow: inset 0 0 0 1px colors.$gray-10;
  }

  .lightweight {
    tr:last-of-type {
      th {
        border-bottom: solid 2px theme.$interactive-02;
      }
    }
    th {
      background-color: theme.$ui-01;
      .#{vars.$prefix}--table-sort {
        background-color: theme.$ui-01;
        &:hover {
          background-color: theme.$ui-03;
        }
      }
    }
  }

  .#{vars.$iot-prefix}--table-expand-resize {
    width: 40px;
  }

  .#{vars.$iot-prefix}--table-header-checkbox {
    vertical-align: middle;
  }

  .#{vars.$iot-prefix}--table-header-checkbox-resize {
    width: 54px;
  }

  .#{vars.$iot-prefix}--table-header-resize {
    word-break: break-all;
  }

  .#{vars.$iot-prefix}--table-header-row-action-column {
    min-width: 40px;
  }

  .#{vars.$iot-prefix}--table-header-expander-column {
    width: auto;
    padding: 0;
  }

  .#{vars.$iot-prefix}--tableheader-filter > .#{vars.$prefix}--table-header-label {
    overflow: visible;
  }

  th:last-of-type.#{vars.$iot-prefix}--table-header-row-action-column--extra-wide {
    min-width: 250px;
    width: 250px; // Needed for fixed/resizable columns that don't respect min-width
  }

  .#{vars.$iot-prefix}--clear-filters-button--disabled {
    @include mixins.disabled-icon-button();
  }
}

.#{vars.$iot-prefix}--table-head {
  &--overflow {
    margin: auto 0;
    flex-shrink: 0;

    .#{vars.$prefix}--table-sort:focus &:hover {
      margin-top: -2px;
      margin-bottom: -2px;
      background-color: colors.$gray-40;
    }
  }

  &--table-header {
    position: relative;
    vertical-align: middle;

    .#{vars.$prefix}--table-header-label {
      height: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      line-height: 1rem;
    }

    &--with-overflow {
      .#{vars.$prefix}--table-header-label {
        padding-right: 0;
      }

      .#{vars.$prefix}--overflow-menu-options:after {
        width: 3rem;
      }
    }
  }
}
