@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;
@use '../../../globals/colors';
@use '../../../globals/mixins';

.#{$iot-prefix}--view-dropdown__container {
  padding: 0 spacing.$spacing-05;
  margin: auto 0;
}

.#{$iot-prefix}--view-dropdown__button-prefix {
  display: none;
}
.#{$prefix}--list-box__field .#{$iot-prefix}--view-dropdown__button-prefix {
  display: flex;
  flex-shrink: 0;
  margin-right: spacing.$spacing-02;
  svg {
    margin-right: spacing.$spacing-03;
  }
}

.#{$iot-prefix}--view-dropdown__edited-text {
  color: colors.$gray-50;
}

.#{$iot-prefix}--view-dropdown__item {
  display: flex;
  justify-content: space-between;
  span {
    @include mixins.text-overflow();
  }
}

.#{$iot-prefix}--view-dropdown__item-link {
  color: theme.$link-01;
  // compensate for carbon selected checkbox space that is not needed since these
  // link-items with custom actions will not actually be
  margin-right: -(spacing.$spacing-06);
}

.#{$iot-prefix}--view-dropdown__item-link-icon {
  color: theme.$link-01;
  fill: theme.$link-01;
  margin-left: spacing.$spacing-03;
  flex-shrink: 0;
}

html[dir='rtl'] {
  .#{$prefix}--list-box__field .#{$iot-prefix}--view-dropdown__button-prefix {
    margin-right: 0;
    margin-left: spacing.$spacing-02;
    svg {
      margin-right: 0;
      margin-left: spacing.$spacing-03;
    }
  }

  .#{$iot-prefix}--view-dropdown__item-link-icon {
    margin-right: -(spacing.$spacing-06);
  }

  .#{$iot-prefix}--view-dropdown__item-link {
    justify-content: normal;
    margin-right: 0;
    span {
      order: 2;
    }
  }
}
