.list {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 100%;
  &--header {
    flex: 0;
  }
  &--content {
    flex: 1 1;
    background: $ui-01;
    overflow-y: auto;
  }

  &__full-height {
    height: 100%;
  }

  &--page {
    position: relative;
    div[class^='SimplePagination__StyledContainer'] {
      border-top: $ui-03;
      background: $ui-01;
      height: rem(40px);
    }
    div > span {
      padding-left: $spacing-05;
      left: 0;
      position: absolute;
    }
  }
}
