.list-item {
  background: $ui-01;
  border-top: 1px solid $ui-01;
  border-bottom: 1px solid $ui-03;
  border-left: solid 4px $ui-01;
  display: flex;
  height: rem(40px);
  padding: $spacing-03;
  &__large {
    height: rem(96px);
    padding: $spacing-05;
  }

  &--category {
    font-weight: bold;
  }

  &__selected {
    border-left: solid $interactive-01;
    background: $selected-ui;
  }

  &--expand-icon {
    cursor: pointer;
    margin-right: $spacing-04;
    padding: $spacing-01;
    transform: rotate(180deg);
  }

  &--content {
    @include type-style('body-short-01');
    display: flex;
    background: $ui-01;
    width: 100%;
    align-items: center;
    &__large {
      align-items: flex-start;
    }
    &--icon {
      padding-top: $spacing-01;
      &__left {
        padding-right: $spacing-04;
      }
      &__right {
        padding-left: $spacing-04;
        order: 9;
      }
    }
    &--values {
      flex: 1;
      max-width: 100%;
      &--main {
        display: flex;
        max-width: 100%;
        color: $text-05;
        div {
          flex: 1;
          margin-right: $spacing-04;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__large {
          @include type-style('productive-heading-01');
          color: $text-01;
          padding-bottom: $spacing-03;
        }
      }

      &--secondary {
        color: $text-05;
        height: rem(36px);
        overflow: hidden;
      }
    }
    &--row-title-container {
      display: flex;
      align-items: center;

      &--title {
        flex: 1;
      }
      &--action {
        display: flex;
        padding: $spacing-03;
        align-items: center;
        & > * {
          margin-left: $spacing-03;
        }
      }
    }
    &__selected {
      background: $selected-ui;
    }
  }
}

.list-item--child {
  padding-left: $spacing-06;
}
