@use '../../globals/theme' as *;
@use '../../globals/spacing' as *;
@use '../../globals/vars' as *;
@use '../../globals/typography' as *;

.#{$iot-prefix}--wizard-inline {
  &__header {
    @include type-style('productive-heading-03');
    margin-bottom: $spacing-06;
    padding: $spacing-05 $spacing-05 0 $spacing-05;
  }

  &__progress-indicator {
    padding-bottom: $spacing-06;
    padding-left: $spacing-05;
  }

  &__sidebar {
    min-width: var(--min-width);
    width: 25%;
    padding-left: $spacing-05;
  }
}
