@use '@carbon/styles/scss/config'  as *;

.#{$iot-prefix}--wizard-inline {
  &__header {
    @include carbon--type-style('productive-heading-03');
    margin-bottom: $spacing-06;
    padding: $spacing-05 $spacing-05 0 $spacing-05;
  }

  &__progress-indicator {
    padding-bottom: $spacing-06;
    padding-left: $spacing-05;
  }

  &__sidebar {
    min-width: var(--min-width);
    width: 25%;
    padding-left: $spacing-05;
  }
}

.#{$iot-prefix}--wizard-footer__buttons {
  display: flex;
  margin: auto 0 auto auto;
}
