@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use '../../globals/mixins';
@use '../../globals/motion';
@use '../../globals/typography';

.#{vars.$iot-prefix}--map {
  &-legend {
    max-width: 50%;
    background: theme.$ui-02;
    bottom: spacing.$spacing-05;
    left: spacing.$spacing-05;
    padding: spacing.$spacing-05;
    position: absolute;
    z-index: 2;
    opacity: 0.8;
    @include mixins.box-shadow();

    [dir='rtl'] & {
      left: unset;
      right: spacing.$spacing-05;
    }
  }

  &-legend--increased-margin {
    bottom: spacing.$spacing-07;
    left: spacing.$spacing-07;

    [dir='rtl'] & {
      left: unset;
      right: spacing.$spacing-07;
    }
  }

  &-legend--fullwidth {
    // We want the same height independent if scrollbars are present and
    // we need space for the logo and attribution links.
    height: 6.5rem;
    transition: width motion.$duration-fast-02 motion.motion(entrance, productive);
    max-width: unset;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0;
    width: 100%;
    padding: spacing.$spacing-03;
    padding-bottom: spacing.$spacing-02; // Needed for horizontal scrollbar

    .#{vars.$iot-prefix}--map-legend__keys-container {
      overflow-x: auto;
      .#{vars.$iot-prefix}--map-legend-keys {
        margin-bottom: 0;
      }

      & > .#{vars.$iot-prefix}--map-legend-keys:not(:last-child) {
        margin-right: spacing.$spacing-03;
      }
    }

    [dir='rtl'] & {
      right: 0;
    }
  }

  &-legend--fullwidth-collapsed {
    width: spacing.$spacing-09;
  }

  [dir='rtl']
    &-legend.#{vars.$iot-prefix}--map-legend--fullwidth
    .#{vars.$iot-prefix}--map-legend__keys-container
    > .#{vars.$iot-prefix}--map-legend-keys:not(:last-child) {
    margin-left: spacing.$spacing-03;
    margin-right: unset;
  }

  [dir='rtl'] &-legend__collapse-btn {
    margin-left: spacing.$spacing-02;
    margin-right: 0;
  }

  &-legend__collapse-btn {
    margin-right: spacing.$spacing-02;
    margin-bottom: spacing.$spacing-08;
  }

  &-legend__label {
    @include typography.type-style('productive-heading-01');
    padding-bottom: spacing.$spacing-03;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-legend-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - #{spacing.$spacing-09});
  }

  &-legend--fullwidth-collapsed .#{vars.$iot-prefix}--map-legend__keys-container {
    overflow-x: hidden;
  }

  &-legend__keys-container {
    display: flex;
    padding-bottom: spacing.$spacing-02;
  }

  &-legend-keys {
    display: flex;
    margin-bottom: spacing.$spacing-04;
  }

  &-legend-keys-color {
    height: 1rem;
    margin-right: spacing.$spacing-03;
    width: 1rem;
    flex-shrink: 0;

    [dir='rtl'] & {
      margin-left: spacing.$spacing-03;
      margin-right: unset;
    }
  }

  &-legend-keys-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
