@import '~carbon-components/scss/globals/scss/vars';

.#{$iot-prefix}--map {
  // container and map canvas
  &-container {
    position: relative;
    height: 100%;
    // height: calc(100% - 6rem);

    canvas {
      min-height: 100%;
    }
  }

  // legend
  &-legend {
    background: #fff;
    bottom: 1rem;
    left: 1rem;
    padding: 1rem;
    position: absolute;
    z-index: 2;

    [dir='rtl'] & {
      left: unset;
      right: 1rem;
    }
  }

  &-legend.#{$iot-prefix}--map-legend__fullwidth {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    overflow-x: auto;
    right: 0;
    width: 100%;

    & > .#{$iot-prefix}--map-legend-keys:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  [dir='rtl']
    &-legend.#{$iot-prefix}--map-legend__fullwidth
    > .#{$iot-prefix}--map-legend-keys:not(:last-child) {
    margin-left: 0.5rem;
    margin-right: unset;
  }

  &-legend-keys {
    display: flex;
  }

  &-legend-keys-color {
    height: 1rem;
    margin-right: 0.5rem;
    width: 1rem;

    [dir='rtl'] & {
      margin-left: 0.5rem;
      margin-right: unset;
    }
  }

  .mapboxgl-canvas-container {
    height: 100%;
  }

  &-container {
    width: 100%;
    transition: width $duration--fast-02 motion(entrance, productive);
  }

  &-settings {
    opacity: 0;
    left: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
    background: #fff;
    width: 256px;
    height: 100%;
    transform: translateX(0%);
    transition: opacity $duration--fast-02 motion(entrance, productive),
      transform $duration--fast-02 motion(entrance, productive);

    [dir='rtl'] & {
      left: unset;
      right: 100%;
    }
  }

  &-settings-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.25rem 0.5rem 0.25rem 1rem;

    [dir='rtl'] & {
      padding: 0.25rem 1rem 0.25rem 0.5rem;
    }
  }

  &-settings-header-title {
    @include type-style('productive-heading-01');
    margin-right: auto;

    [dir='rtl'] & {
      margin-left: auto;
      margin-right: unset;
    }
  }

  // settings open
  &-container__open {
    width: calc(100% - 256px);
    &-legend.#{$iot-prefix}--map-legend__fullwidth {
      width: calc(100% - 256px);
    }
  }

  &-settings__open {
    opacity: 1;
    transform: translateX(-100%);

    // RTL for settings open

    [dir='rtl'] & {
      transform: translateX(100%);
    }
  }

  // Controls
  &-controls {
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    right: 1rem;
    top: 1rem;
    z-index: 2;

    [dir='rtl'] & {
      left: 1rem;
      right: unset;
    }
  }

  &__has-fullwidth-legend .#{$iot-prefix}--map-controls {
    bottom: 4rem;
  }

  &-controls-container {
    display: flex;
    flex-direction: column;

    &__has-layers {
      padding-top: 3.5rem;
    }
  }

  &-controls-btn-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &-controls-btn {
    background: #fff;
  }

  &-controls-btn:not(:last-child) {
    border-bottom: 1px solid $ui-03;
  }

  &-controls-layers {
    position: absolute;
    top: 0;
  }

  // Layered controls
  &-controls-layers-trigger {
    background-color: white;
    margin-bottom: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    .#{$iot-prefix}--map-controls-layers__open &:not(:hover)::before,
    .#{$iot-prefix}--map-controls-layers__open &:not(:hover) .#{$prefix}--assistive-text {
      visibility: hidden;
    }
  }

  &-controls-layers-wrapper {
    flex-direction: row-reverse;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 2.5rem;
    max-width: 2.5rem;
    opacity: 0;
    overflow: hidden;
    transition: opacity $duration--fast-02 motion(entrance, productive),
      transform $duration--fast-02 motion(entrance, productive);

    .#{$iot-prefix}--map-controls-layers__open & {
      opacity: 1;
      overflow: visible;
      max-width: 100vw;
      transform: translateX(-2.5rem);
    }

    [dir='rtl'] & {
      left: 0;
      right: unset;
    }

    [dir='rtl'] .#{$iot-prefix}--map-controls-layers__open & {
      transform: translateX(2.5rem);
    }
  }

  &-controls-layers-btn {
    background-color: white;
    border-right: 1px solid $ui-03;

    [dir='rtl'] & {
      border-left: 1px solid $ui-03;
      border-right: none;
    }
  }

  &-zoom {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;

    & > *:first-child {
      border-bottom: 1px solid $ui-03; // should be updated to $button-separator once available
    }
  }
}

// .mapboxgl-control-container {
//   display: none;
// }

// .iot-map {
//   min-height: 500px;
// }

// .toggle-group {
//   position: absolute;
//   z-index: 2;
// }

// Open Layers
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.ol-viewport {
  z-index: 1;
}
