.#{$iot-prefix}--map {
  &-zoom {
    background: #fff;
    display: flex;
    flex-direction: column;

    & > *:first-child {
      border-bottom: 1px solid $ui-03; // should be updated to $button-separator once available
    }
  }
}
