@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/utilities/box-shadow' as *;
.#{$iot-prefix}--map {
  &-zoom {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
    @include box-shadow();

    & > *:first-child {
      border-bottom: 1px solid $layer-accent-01;
    }
  }
}
