@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use "../../globals/typography";
@use "../../globals/colors";
@use "../../globals/motion";
@use "carbon-components/scss/components/ui-shell/ui-shell" as shell;

$hoverBgColor: #2c2c2c;

.#{vars.$prefix}--header {
  .#{vars.$prefix}--skip-to-content:focus {
    min-width: 240px;
    justify-content: center;
    border: spacing.$spacing-01 solid theme.$ui-01;
  }

  &__menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .#{vars.$prefix}--header__name {
    padding-left: spacing.$spacing-03;
    min-width: 150px;
    display: inline-flex;

    > span.#{vars.$prefix}--header__name--prefix {
      white-space: nowrap;
      overflow: visible;
      display: initial;
    }

    > span {
      display: none;
      @media (min-width: 672px) {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: initial;
      }
    }

    > span.#{vars.$iot-prefix}--header__short-name {
      white-space: nowrap;
      display: initial;

      @media (min-width: 672px) {
        display: none;
      }
    }
  }

  &__menu-title[role='menuitem'][aria-expanded='true'] + &__menu {
    left: auto;
    right: 0;
  }

  &__menu {
    min-width: 12.5rem;
    width: auto;
  }

  &__menu-item[role='menuitem']:focus {
    border-color: theme.$ui-01;
    outline: none;
  }

  .#{vars.$iot-prefix}--header__overflow-menu-container {
    position: relative;
  }

  .#{vars.$prefix}--overflow-menu {
    &:hover {
      background-color: colors.$gray-90;
    }
    &--open {
      background-color: colors.$gray-90;
    }

    &-options {
      background-color: colors.$gray-90;

      &::after {
        background-color: colors.$gray-90;
        width: spacing.$spacing-09;
      }

      &__btn {
        color: shell.$shell-header-text-02;
        background-color: colors.$gray-90;
        text-decoration: none;
      }
    }

    &__icon {
      fill: theme.$ui-01;
    }

    .#{vars.$prefix}--header__submenu.#{vars.$prefix}--header-action-btn {
      padding: 0;

      .#{vars.$prefix}--header__menu-item.#{vars.$prefix}--header__menu-title {
        justify-content: flex-start;
        padding-left: spacing.$spacing-05;
        padding-right: spacing.$spacing-05;
        text-decoration: none;
        color: shell.$shell-header-text-02;
      }
    }

    .#{vars.$prefix}--header-action-btn {
      height: 100%;
      width: 100%;
      justify-content: flex-start;
      padding-left: spacing.$spacing-05;
      padding-right: spacing.$spacing-05;
      text-decoration: none;
      color: shell.$shell-header-text-02;
    }
  }
}

.#{vars.$iot-prefix}--header__subtitle {
  @include typography.type-style('body-short-01');
  border-left: theme.$icon-02 1px solid;
  padding: spacing.$spacing-01 spacing.$spacing-05;
  color: theme.$disabled-02;
  margin-left: spacing.$spacing-05;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.#{vars.$prefix}--overflow-menu {
  align-items: center;
  display: inline-flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
  padding: 0;
}

.#{vars.$prefix}--header-action-btn {
  align-items: center;
  display: inline-flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
  padding: 0;

  &.#{vars.$prefix}--btn--primary {
    background-color: theme.$ui-05;

    &:hover {
      background-color: $hoverBgColor;
    }

    &.#{vars.$prefix}--btn:focus {
      outline-color: theme.$ui-01;
      border-color: theme.$ui-01;
      box-shadow: none;
    }
  }

  .#{vars.$prefix}--header__menu-item {
    &[role='menuitem'] {
      height: 100%;
      justify-content: center;
      padding: 0;
      width: 100%;
    }
    span {
      display: inline;
    }
  }

  span {
    display: flex;
  }
}

.#{vars.$prefix}--header__menu .#{vars.$prefix}--header__menu-item[role='menuitem'] {
  display: flex;
  align-items: center;
  color: theme.$active-ui;
  height: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.125rem;
  text-decoration: none;
  user-select: none;
  border: 2px solid #0000;
  transition: background-color motion.$duration-fast-02, border-color motion.$duration-fast-02,
    color motion.$duration-fast-02;
  justify-content: center;
  padding: 0;
  width: 100%;

  &:focus {
    border-color: theme.$inverse-focus-ui;
  }
}

.#{vars.$prefix}--app-switcher {
  background-color: theme.$ui-01;
  border: none;
}

.action-btn__headerpanel {
  outline: none;

  &--closed * {
    display: none;
  }
}

.#{vars.$prefix}--header__menu-item:not(svg) {
  position: relative;
  display: flex;
  align-items: center;
  color: shell.$shell-header-text-02;
  padding: 0 shell.mini-units(2);
  // Used for links that are directly in the menubar to span the full height
  height: 100%;
  // Text styles
  @include typography.type-style('body-short-01');
  // Reset link styles and make sure the text isn't selectable
  text-decoration: none;
  user-select: none;
  // Used for focus styles
  border: 2px solid transparent;
  transition: background-color motion.$duration-fast-02, border-color motion.$duration-fast-02,
    color motion.$duration-fast-02;
}

button.#{vars.$prefix}--header__menu-item {
  background: none;
  width: 100%;

  &:focus {
    border-color: theme.$inverse-focus-ui;
    color: theme.$ui-02;
    outline: none;
  }
}
