@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/utilities/convert';
.#{$iot-prefix}--card--toolbar {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  // shrink the default text of the date-time-picker
  .#{$iot-prefix}--date-time-picker__field {
    font-size: 0.875rem;
    font-weight: normal;
  }

  &__overflow-menu {
    min-width: 10rem;
    width: unset;
    max-width: convert.to-rem(350px); // 350px mobile screen width

    & .#{$prefix}--overflow-menu-options__btn {
      max-width: unset;
    }
  }
}

.#{$iot-prefix}--card--toolbar-action {
  color: $border-inverse;
  border-width: 2px;
  display: flex;
  height: 2rem;
  justify-content: center;
  min-height: 2rem;
  min-width: 2rem;
  width: 2rem;

  &:hover {
    background-color: $background-hover;
    color: $border-inverse;
  }

  &:focus {
    border-color: transparent;
    outline: 2px solid $focus;
    outline-offset: -2px;
  }

  svg {
    fill: $icon-secondary;
  }

  svg.#{$prefix}--overflow-menu__icon {
    height: auto;
    width: auto;
  }
  &--custom-actions {
    padding-top: $spacing-03;
    padding-right: $spacing-05;
  }
  [dir='rtl'] &--custom-actions {
    padding-left: $spacing-05;
  }
}

.#{$iot-prefix}--card--toolbar-svg-wrapper {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  outline: 2px solid transparent;
  margin: 0;

  :hover {
    background: $background-hover;
  }

  &:active {
    outline: 2px solid $focus;
    outline-offset: -2px;
  }
}
