@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/layout' as *;
@use '@carbon/react/scss/type' as *;
@use '../../globals/mixins' as *;
$tooltipSize: $spacing-07;
$lineHeightSize: 1.375em;

.#{$iot-prefix}--card--title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  // min-width value is required to ensure flex child with text properly truncates
  // https://css-tricks.com/flexbox-truncated-text/
  min-width: 0;
  margin-top: calc(#{$spacing-04} + 1px);
  padding-right: $spacing-05;
  flex: 1;

  html[dir='rtl'] & {
    padding-left: $spacing-05;
    padding-right: unset;
  }

  & + *:not(.#{$iot-prefix}--card--toolbar) {
    margin-left: $spacing-05;
  }

  &--text .#{$prefix}--toggletip-label {
    @include type-style('heading-compact-02');
    color: $text-primary;
  }
}
.#{$iot-prefix}--card--subtitle {
  &--text .#{$prefix}--toggletip-label {
    @include type-style('label-01');
  }
}

.#{$iot-prefix}--card--header--tooltip {
  flex-basis: $tooltipSize;
  margin-top: $spacing-02;
  .#{$prefix}--tooltip__trigger {
    margin-right: $spacing-03;
  }
}

.#{$iot-prefix}--card--title--text,
.#{$iot-prefix}--card--subtitle--text {
  @include multiline-text-overflow(1, $lineHeightSize);
  overflow: visible;
  word-break: break-all;
  min-width: 3rem;
  .#{$prefix}--toggletip-label {
    overflow: hidden;
    & > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.#{$iot-prefix}--card--title--text--wrapped {
  -webkit-line-clamp: 2;
  max-height: calc(#{$lineHeightSize} * 2);
  word-break: normal;
}

.#{$iot-prefix}--card--title--text {
  @include type-style('heading-compact-02');
  color: $text-primary;
  max-width: calc(100% - #{$tooltipSize});
}

// Make this look like the TooltipDefinition with an underline
.#{$iot-prefix}--card-title__title-text--has-title-text-tooltip {
  border-bottom: 1px dotted $border-strong;
  &:focus,
  &:hover {
    border-bottom-color: $border-interactive;
  }
}

p.#{$iot-prefix}--card-title__title-text-tooltip-full-title {
  @include type-style('label-01');
  margin-bottom: $spacing-03;
}

.#{$iot-prefix}--card--subtitle--text {
  @include type-style('label-01');
  color: $text-secondary;
  font-weight: normal;
  width: 100%;
  max-height: 1.34em;
  max-width: calc(100% - #{$tooltipSize});

  &--padded {
    margin-right: $tooltipSize;
  }

  html[dir='rtl'] &--padded {
    margin-left: $tooltipSize;
    margin-right: unset;
  }
}

.#{$iot-prefix}--card-heading-clickable {
  cursor: pointer;
}
