@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/layout' as *;
@use './card-range-picker' as *;
@use './card-toolbar' as *;
@use './card-title' as *;
@use './data-state-renderer' as *;
@use '../../globals/mixins' as *;
@use '@carbon/react/scss/components/button' as *;
@use '@carbon/react/scss/components/tile' as *;
@use '@carbon/react/scss/components/data-table' as *;
@use '@carbon/charts/scss' as *;
// delcare variables
$iot-header-padding: $spacing-05;
$duration-moderate-02: 240ms;
$duration-moderate-01: 150ms;
$duration-fast-02: 110ms;

.#{$iot-prefix}--card--wrapper {
  background: white;
  box-sizing: border-box;
  outline: solid $spacing-01 transparent;
  height: var(--card-default-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__selected {
    outline: solid $spacing-01 $button-secondary;
    box-sizing: border-box;
  }
}

.#{$iot-prefix}--card--resizing {
  outline: $spacing-01 solid $button-secondary;
  box-sizing: border-box;
}

.#{$iot-prefix}--card.react-grid-item > .react-resizable-handle {
  // Make sure the resize handle is placed on top of absolute positioned card content
  z-index: 2;
}

.#{$iot-prefix}--card--header {
  flex: 0 0 $spacing-09;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: bold;
  padding: 0 0 0 $iot-header-padding;

  html[dir='rtl'] & {
    padding: 0 $iot-header-padding 0 0;
  }
}

.#{$iot-prefix}--card--header--with-subtitle {
  flex: 0 0 $spacing-10;
}

.#{$iot-prefix}--card--content {
  flex: 1;
  padding: 0 $spacing-05 $spacing-05;
  position: relative;
  height: var(--card-content-height);
  overflow-x: visible;
  overflow-y: visible;

  .#{$prefix}--cc--chart-wrapper {
    background-color: inherit;
  }
}

.#{$iot-prefix}--card__content--no-padding {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.#{$iot-prefix}--card--content--expanded {
  overflow-y: auto;
}

.#{$iot-prefix}--card--skeleton-wrapper {
  padding: var(--card-content-padding);
  width: 80%;
}

.#{$iot-prefix}--card--footer--wrapper {
  align-items: center;
  border-top: 1px solid $layer-accent-01;
  display: flex;
  height: $spacing-08;
  overflow: hidden;
  padding: 0;
}

.#{$iot-prefix}--card--empty-message-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--card-content-padding);
  text-align: center;
  line-height: 1.3;
}

// Change background for charts in Cards
.#{$iot-prefix}--card .#{$prefix}--chart-holder {
  background-color: $layer-02;
}

// Needed to allow the overflow menu to overlay the expanded card correctly
.#{$prefix}--modal .#{$iot-prefix}--card--overflow {
  z-index: 10000;
}

.#{$iot-prefix}--card--toolbar-svg-wrapper {
  padding: 0;
}

.#{$prefix}--tile--clickable {
  border: 1px solid transparent;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 8rem;
  min-width: 8.5rem;
  max-width: 18.75rem;
  max-height: 15.625rem;
}
