@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use '../../globals/mixins';
@use '../../globals/typography';
@use './card-range-picker';
@use './card-toolbar';
@use './data-state-renderer';

$iot-header-padding: spacing.$spacing-05;
$tooltipSize: spacing.$spacing-07;
$lineHeightSize: 1.375em;

.#{vars.$iot-prefix}--card--wrapper {
  background: white;
  box-sizing: border-box;
  outline: solid spacing.$spacing-01 transparent;
  height: var(--card-default-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__selected {
    outline: solid spacing.$spacing-01 theme.$interactive-02;
    box-sizing: border-box;
  }
}

.#{vars.$iot-prefix}--card--resizing {
  outline: spacing.$spacing-01 solid theme.$interactive-02;
  box-sizing: border-box;
}

.#{vars.$iot-prefix}--card.react-grid-item > .react-resizable-handle {
  // Make sure the resize handle is placed on top of absolute positioned card content
  z-index: 2;
}

.#{vars.$iot-prefix}--card--title {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  // min-width value is required to ensure flex child with text properly truncates
  // https://css-tricks.com/flexbox-truncated-text/
  min-width: 0;
  margin-top: spacing.$spacing-03;
  padding-right: spacing.$spacing-05;
  width: 100%;

  html[dir='rtl'] & {
    padding-left: spacing.$spacing-05;
    padding-right: unset;
  }

  & + *:not(.#{vars.$iot-prefix}--card--toolbar) {
    margin-left: spacing.$spacing-05;
  }
}

.#{vars.$iot-prefix}--card--header--tooltip {
  flex-basis: $tooltipSize;
  margin-top: spacing.$spacing-02;
  .#{vars.$prefix}--tooltip__trigger {
    margin-right: spacing.$spacing-03;
  }
}

.#{vars.$iot-prefix}--card--title--text,
.#{vars.$iot-prefix}--card--subtitle--text {
  @include mixins.multiline-text-overflow(1, $lineHeightSize);
  word-break: break-all;
  min-width: 3rem;
}

.#{vars.$iot-prefix}--card--title--text--wrapped {
  -webkit-line-clamp: 2;
  max-height: calc(#{$lineHeightSize} * 2);
  word-break: normal;
}

.#{vars.$iot-prefix}--card--title--text {
  @include typography.type-style('productive-heading-02');
  color: theme.$text-01;
  max-width: calc(100% - #{$tooltipSize});
}

.#{vars.$iot-prefix}--card--subtitle--text {
  @include typography.type-style('label-01');
  color: theme.$text-02;
  font-weight: normal;
  width: 100%;
  max-height: 1.34em;
  max-width: calc(100% - #{$tooltipSize});

  &--padded {
    margin-right: $tooltipSize;
  }

  html[dir='rtl'] &--padded {
    margin-left: $tooltipSize;
    margin-right: unset;
  }
}

.#{vars.$iot-prefix}--card--header {
  flex: 0 0 spacing.$spacing-09;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: bold;
  padding: 0 0 0 $iot-header-padding;

  html[dir='rtl'] & {
    padding: 0 $iot-header-padding 0 0;
  }
}

.#{vars.$iot-prefix}--card--content {
  flex: 1;
  padding: 0 spacing.$spacing-05 spacing.$spacing-05;
  position: relative;
  height: var(--card-content-height);
  overflow-x: visible;
  overflow-y: visible;

  .#{vars.$prefix}--cc--chart-wrapper {
    background-color: inherit;
  }
}

.#{vars.$iot-prefix}--card--content--expanded {
  overflow-y: auto;
}

.#{vars.$iot-prefix}--card--skeleton-wrapper {
  padding: var(--card-content-padding);
  width: 80%;
}

.#{vars.$iot-prefix}--card--footer--wrapper {
  align-items: center;
  border-top: 1px solid theme.$ui-03;
  display: flex;
  height: 2.5rem;
  overflow: hidden;
  padding: 0 spacing.$spacing-05;
}

.#{vars.$iot-prefix}--card--empty-message-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--card-content-padding);
  text-align: center;
  line-height: 1.3;
}

// Change background for charts in Cards
.#{vars.$iot-prefix}--card .#{vars.$prefix}--chart-holder {
  background-color: theme.$ui-01;
}

// Needed to allow the overflow menu to overlay the expanded card correctly
.#{vars.$prefix}--modal .#{vars.$iot-prefix}--card--overflow {
  z-index: 10000;
}
