@import '~carbon-components/scss/globals/scss/vars';
@import 'TableHead/table-head';
@import 'TableFoot/table-foot';
@import 'TableSkeletonWithHeaders/table-skeleton-with-headers';
@import 'TableCellRenderer/table-cell-renderer';
@import 'TableDetailWizard/table-detail-wizard';
@import 'TableMultiSortModal/table-multi-sort-modal';
@import '../../globals/vars';

table.#{$prefix}--side-nav--data-table {
  white-space: nowrap;
}

.#{$iot-prefix}--data-table--row-actions {
  height: 0;
}

.#{$iot-prefix}--data-table--fixed {
  table-layout: fixed;
}

.#{$iot-prefix}--data-table--column-groups {
  border-collapse: separate;
}

.#{$iot-prefix}--table__cell--truncate {
  max-width: 0;
}

td.#{$iot-prefix}--table__cell--sortable {
  padding-right: $spacing-09;
}

.#{$iot-prefix}--data-table--resize td {
  word-break: break-all;
}

.#{$iot-prefix}--table-container {
  min-width: unset;
  padding-top: 0;

  .addons-iot-table-container {
    overflow-x: auto;
  }
}

.#{$iot-prefix}-table-container--dropdown-height-fix {
  background-color: $ui-01;
  min-height: calc(#{$spacing-10} * 5);
  .#{$prefix}--data-table-content {
    min-height: calc(#{$spacing-10} * 5);
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--expanded-tablerow td:first-of-type:before {
    left: auto;
    right: 0;
  }
  .#{$iot-prefix}--expanded-tablerow > td * {
    text-align: right;
  }

  td.#{$iot-prefix}--table__cell--sortable {
    padding-left: $spacing-08;
  }
}

.#{$iot-prefix}--empty-table--table-row {
  height: calc(100% - #{$spacing-09});
  &:hover td {
    background: inherit;
  }
  .empty-table-cell--default {
    --height-threshold: 500px;
    --is-large-card: Min(1px, Max(var(--card-content-height) - var(--height-threshold), 0px));
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    // 3rem since we can't multiply 1px * 3rem in calc
    // stylelint-disable-next-line declaration-property-unit-blacklist
    padding: Max(calc(48 * var(--is-large-card)), 0px);
    svg {
      margin: $spacing-05;
    }

    & > * {
      margin: $spacing-03;
    }
  }

  td {
    border-bottom: unset;
  }
}

.#{$iot-prefix}--table__advanced-filters-container {
  background-color: $ui-01;
  padding: $spacing-02 $spacing-04;
  border-top: 1px solid $ui-03;
}

// needed specificity to override .iot--tooltip-svg-wrapper and allow flyout to align
// properly with button
button.#{$prefix}--btn.#{$iot-prefix}--tooltip-svg-wrapper.#{$prefix}--btn--ghost.#{$iot-prefix}--table-toolbar__advanced-filters-button {
  border: 1px solid transparent;

  &.#{$iot-prefix}--table-toolbar-button-active {
    @include box-shadow;
  }
}

// regression fix for tiny expand chrevron on some expandable table rows
.#{$prefix}--data-table thead th.#{$prefix}--table-expand,
.#{$prefix}--data-table tbody td.#{$prefix}--table-expand {
  height: $spacing-07;
  width: $spacing-08;
}

.#{$iot-prefix}--table__row--selectable {
  .#{$prefix}--checkbox {
    cursor: pointer;
  }
}

.#{$iot-prefix}--table__row--unselectable:not(.#{$iot-prefix}--table__row--editing) {
  &:hover {
    &,
    td {
      background-color: inherit;
      color: $text-02;
      border-bottom-color: $ui-03;
      border-top-color: $ui-01;
    }
  }
}

.#{$iot-prefix}--table__row--singly-selected,
.#{$iot-prefix}--expandable-tablerow--singly-selected {
  cursor: pointer;

  td:first-of-type {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      // -1px because the parent has a 1px border at the top, so we need to fill that gap
      top: -1px;
      left: 0;
      height: calc(100% + 1px);
      width: rem(3px);
      background-color: $interactive-04;
      border-right: solid 1px $highlight;
    }
  }
}

.#{$iot-prefix}--expandable-tablerow--expanded {
  td.#{$prefix}--table-expand {
    position: relative;
    left: var(--row-nesting-offset);
  }

  td:first-of-type:before {
    content: '';
    position: absolute;
    // -1px because the parent has a 1px border at the top, so we need to fill that gap
    top: -1px;
    left: calc(var(--row-nesting-offset) * -1);
    height: calc(100% + 1px);
    width: var(--row-nesting-offset);
    background-color: $ui-01;
    border-right: solid 1px $ui-01;
  }

  &[data-nesting-offset='0'] {
    td:first-of-type:before {
      border-right: 0;
    }
  }
  td.bx--table-expand[data-previous-value='collapsed'] {
    border-bottom: solid 1px $ui-01;
  }
}

.#{$iot-prefix}--table__cell__offset {
  position: relative;
  left: var(--row-nesting-offset);
  max-width: calc(100% - var(--row-nesting-offset));
  display: block;
}

.#{$iot-prefix}--expanded-tablerow {
  td {
    padding: 0;
    font-weight: bold;
  }
}

.#{$iot-prefix}--expandable-tablerow {
  cursor: pointer;
  td {
    div .#{$prefix}--btn--ghost:hover {
      background: $ui-03;
    }
  }
}

.#{$iot-prefix}--expandable-tablerow--indented {
  td.#{$prefix}--table-expand {
    position: relative;
    left: var(--row-nesting-offset);
    border-bottom: 1px solid $ui-01;
  }

  td:first-of-type:before {
    content: '';
    position: absolute;
    // -1px because the parent has a 1px border at the top, so we need to fill that gap
    top: -1px;
    left: calc(-1 * var(--row-nesting-offset));
    height: calc(100% + 1px);
    width: var(--row-nesting-offset);
    background-color: $ui-01;
    border-right: solid 1px $ui-01;
    border-bottom: solid 1px $ui-01;
  }

  &:not(.#{$iot-prefix}--expandable-tablerow--childless) {
    td:first-of-type:after {
      content: '';
      position: absolute;
      left: 0;
      height: 1px;
      bottom: -1px;
      width: calc(#{$spacing-08} - var(--row-nesting-offset));
      border-bottom: solid 1px $ui-03;
    }
  }

  &.#{$iot-prefix}--expandable-tablerow--childless,
  &.#{$iot-prefix}--expandable-tablerow--expanded {
    td:first-of-type:after {
      content: '';
      position: absolute;
      left: 0;
      height: 1px;
      bottom: -1px;
      width: $spacing-08;
      border-bottom: solid 1px $ui-01;
    }
  }
}

.#{$iot-prefix}--expandable-tablerow--childless {
  td {
    > button.#{$prefix}--table-expand__button {
      display: none;
    }
  }
}

.#{$iot-prefix}--expandable-tablerow--indented,
.#{$iot-prefix}--expandable-tablerow--expanded {
  td.#{$prefix}--table-expand {
    border-bottom: 1px solid $ui-01;
  }
}

.#{$iot-prefix}--expandable-tablerow--parent {
  td {
    font-weight: bold;
  }
}
