@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as globals-vars;

.#{globals-vars.$iot-prefix}--table-multi-sort-modal {
  html[dir='rtl'] & {
    .#{globals-vars.$prefix}--modal-content {
      padding-right: spacing.$spacing-05;
      padding-left: spacing.$spacing-09;
    }
    .#{globals-vars.$prefix}--modal-header {
      padding-right: spacing.$spacing-09;
    }
  }

  .#{globals-vars.$prefix}--modal-content {
    display: grid;
    gap: spacing.$spacing-05;
    grid-template-columns: 1fr 1fr 48px 48px;
    button.#{globals-vars.$prefix}--btn--icon-only {
      height: 40px;
      width: 48px;
      margin-top: 24px;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
