@import '../../vendor/carbon-components/scss/globals/scss/vars';

.#{$iot-prefix}--image-card {
  &__wrapper {
    height: 100%;
    max-height: 100%;
    padding: 0 $spacing-05 $spacing-05;
  }

  &__empty {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
