@import '../../vendor/carbon-components/scss/components/number-input/number-input';
@import '../../globals/vars';

html[dir='rtl'] {
  // flip the number and number controls
  .#{$prefix}--number {
    .#{$prefix}--number__input-wrapper {
      input {
        min-width: 8.5rem;
        padding-right: $spacing-05;
      }
    }

    .#{$prefix}--number__controls {
      right: unset;
      left: 0;
    }
  }
}
