.#{$iot-prefix}--card-editor {
  height: 100%;
  width: 16rem;
  display: flex;
  background: $ui-01;
  flex-direction: column;
  border-left: 1px solid $ui-03;
  &--header {
    flex: 0 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-02;
    border-bottom: 1px solid $ui-03;
    h5 {
      padding: 0 $spacing-03;
    }
    button.gallery-button {
      /* make ghost button stretch full width */
      justify-content: space-between;
      width: 100%;
    }
  }
  &--content {
    flex: 1;
    height: 100%;
    overflow: auto;

    .#{$iot-prefix}--list-item {
      height: $spacing-09;
    }
  }
}

.#{$iot-prefix}--card-gallery-list__icon > svg {
  height: 34px;
  width: 40px;
}
