@import '../../../globals/vars';

.#{$iot-prefix}-table-foot {
  border-top: 2px solid $carbon--gray-20;
}
.#{$iot-prefix}-table-foot--label {
  font-weight: 600;
}

.#{$iot-prefix}-table-foot--value {
  font-weight: 600;
}

td.#{$iot-prefix}-table-foot--value__sortable {
  padding-right: $spacing-09;
}

html[dir='rtl'] {
  td.#{$iot-prefix}-table-foot--value__sortable {
    padding-left: $spacing-08;
  }
}
