@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/components/breadcrumb' as *;
@use '@carbon/react/scss/components/overflow-menu' as *;
@use '../../globals/vars' as *;

.#{$prefix}--breadcrumb {
  display: flex;
  flex-wrap: nowrap;
}

.breadcrumb--container {
  &__overflowfull {
    .#{$prefix}--breadcrumb-item {
      min-width: 0;
    }

    .#{$prefix}--breadcrumb-item > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}

.breadcrumb--overflow {
  display: flex;
  &:after {
    content: '/';
    margin-left: $spacing-03;
  }
  margin-right: $spacing-03;

  .#{$prefix}--overflow-menu {
    height: auto;
    width: auto;

    & svg {
      fill: $link-primary;
      border-bottom: 1px solid transparent;
    }

    &:hover {
      background: none;
    }

    &:hover svg {
      border-color: $link-primary;
    }

    &.#{$prefix}--overflow-menu--open {
      background: none;
      box-shadow: none;
    }
  }
}

.breadcrumb--overflow-items {
  &.#{$prefix}--overflow-menu-options--open {
    transform: translate(-45%, 1rem);

    &:focus {
      outline: none;
    }
  }
  &.#{$prefix}--overflow-menu-options::after,
  &.#{$prefix}--overflow-menu-options[data-floating-menu-direction='bottom']::after {
    transform: translate(-50%, -8px);
    background: none;
    left: 50% !important;
    border-left: 0.75rem solid #0000;
    border-right: 0.75rem solid #0000;
    border-bottom: 0.75rem solid #fff;
    width: 0;
    height: 0;
  }

  .#{$prefix}--overflow-menu-options__option:nth-child(even) {
    background-color: $field-02;

    &:hover {
      background-color: $layer-hover-01;
    }
  }

  .#{$prefix}--overflow-menu-options__btn {
    text-decoration: none;
  }
}

.breadcrumb--overflow-items.#{$prefix}--overflow-menu-options {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

html[dir='rtl'] .breadcrumb--container {
  .#{$prefix}--breadcrumb-item::after,
  .breadcrumb--overflow:after,
  .#{$prefix}--breadcrumb-item:last-child,
  .#{$prefix}--breadcrumb-item:last-child::after {
    margin-left: auto;
    margin-right: $spacing-03;
  }
}

.#{$iot-prefix}--breadcrumb-expand {
  &--first {
    .#{$prefix}--breadcrumb-item:first-of-type {
      flex-shrink: 0;
    }

    .#{$prefix}--breadcrumb-item:last-of-type {
      min-width: $spacing-09;
    }
  }

  &--last {
    .#{$prefix}--breadcrumb-item:last-of-type {
      flex-shrink: 0;
    }

    .#{$prefix}--breadcrumb-item:first-of-type {
      min-width: $spacing-09;
    }
  }
}
