.table-row:not(:first-of-type) {
	border-top: 2px solid white;
}

th:not(:last-of-type) {
	border-right: 2px solid white;

	&.table-selection-column {
		border-right: none;
	}
}

.sc-table {
	.bx--table-sort,
	&.bx--data-table--sort th:first-of-type .bx--table-sort {
		padding-left: 0
	}
	&.bx--data-table th:last-of-type {
		position: inherit;
	}
}
