// TODO add styling hooks to carbon-components-angular so we can remove scTableHeadCell
.table-head-cell-text, .table-head-cell-icons {
	// position: absolute;
	top: 0;
	// line-height: 48px;
}

.bx--data-table--compact {
	.table-head-cell-text, .table-head-cell-icons {
		line-height: 24px;
	}
}

.bx--data-table--short {
	.table-head-cell-text, .table-head-cell-icons {
		line-height: 32px;
	}
}

.bx--data-table--tall {
	.table-head-cell-text, .table-head-cell-icons {
		line-height: 64px;
	}
}

.table-head-cell-icons {
	right: 0;
	margin-right: 10px;
}

.bx--table-sort.bx--table-sort--active .bx--table-sort__icon {
	top: 16px;
}

.sc-table {
	.bx--table-header-label, .table-head-cell-text {
		padding-left: 16px;
	}
}
