@use '../../globals/spacing' as *;
@use '../../globals/vars' as *;

.#{$iot-prefix}--hotspot-editor-modal.#{$iot-prefix}--composed-modal {
  // Only apply to the top level modal, in case there is another modal nested inside the modal
  & > .#{$prefix}--modal-container > .#{$prefix}--modal-content {
    $right-side-width: 420px;
    padding-right: 0;
    display: flex;
    & > *:first-child {
      margin-right: $spacing-07;
      flex-grow: 1;
      max-width: calc(100% - (#{$right-side-width} + (#{$spacing-07} * 2)));
    }
    & > *:last-child {
      margin-right: $spacing-07;
      min-width: $right-side-width;
      overflow-y: auto;
    }

    .#{$prefix}--tabs {
      margin-top: $spacing-05;
    }

    .#{$prefix}--tab-content {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.#{$iot-prefix}--hotspot-editor-modal__variable-loading {
  margin-top: $spacing-10;
  justify-content: center;
}
