@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;
@use '../../globals/vars' as *;

@mixin vertical-form() {
  & > * {
    padding-bottom: $spacing-05;
  }
}

@mixin info-message() {
  display: flex;
  align-items: flex-start;
  color: $text-secondary;

  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    fill: $icon-secondary;
    margin-right: $spacing-05;
  }

  p {
    max-width: 22rem;
    @include type-style('body-compact-01');
  }
}
