@use '../../globals/theme' as *;
@use '../../globals/spacing' as *;
@use '../../globals/typography' as *;

@mixin vertical-form() {
  & > * {
    padding-bottom: $spacing-05;
  }
}

@mixin info-message() {
  display: flex;
  align-items: flex-start;
  color: $text-02;

  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    fill: $icon-02;
    margin-right: $spacing-05;
  }

  p {
    max-width: 22rem;
    @include type-style('body-short-01');
  }
}
