.#{$iot-prefix}--rule-builder {
  background: $ui-01;
  border: 1px solid $ui-03;
  display: flex;
  flex-direction: column;
  height: 100%;

  &--header {
    border-bottom: 1px solid $ui-03;
    display: flex;
    justify-content: space-between;
    padding: $spacing-05;

    .#{$iot-prefix}--card--toolbar-svg-wrapper {
      height: $spacing-07;
      width: $spacing-07;
    }

    &-title {
      @include type-style('productive-heading-03');
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-metatext {
      @include type-style('body-short-01');
    }

    & div:first-child {
      align-self: center;
    }

    & div:last-child {
      align-items: center;
      display: flex;
    }

    &-actions-save {
      margin-left: $spacing-03;
    }
  }

  &--body {
    padding: $spacing-05;
  }

  &--footer {
    border-top: 1px solid $ui-03;
    display: flex;
    justify-content: flex-end;
    margin: auto 0 0;
    padding: $spacing-05;

    .#{$iot-prefix}--btn:not(:last-child) {
      margin-right: $spacing-03;
    }
  }
}
