@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
.list-card {
  height: 100%;
  overflow-y: auto;
  padding: 0;
  width: 100%;

  .#{vars.$prefix}--structured-list {
    min-width: inherit;
    margin-bottom: spacing.$spacing-04;
  }

  &--item {
    display: flex;
    max-width: 100%;
    padding-bottom: spacing.$spacing-05;

    &--value {
      flex: 1;
    }

    &--extra-content {
      display: flex;
      flex: 1;
      align-self: center;
      padding-left: spacing.$spacing-04;
      justify-content: flex-end;
    }
  }
}
