@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
.list-card {
  height: 100%;
  overflow-y: auto;
  padding: 0;
  width: 100%;

  .#{$prefix}--structured-list {
    min-width: inherit;
    margin-bottom: $spacing-04;
  }

  &--item {
    display: flex;
    max-width: 100%;
    padding-bottom: $spacing-05;

    &--value {
      flex: 1;
    }

    &--extra-content {
      display: flex;
      flex: 1;
      align-self: center;
      padding-left: $spacing-04;
      justify-content: flex-end;
    }
  }
}
