@import '~carbon-components/scss/components/breadcrumb/breadcrumb';

.breadcrumb-container {
  border: 1px solid;
  width: 60vw;
}

.#{$prefix}--breadcrumb-item {
  &:last-child {
    margin-right: 0.5rem;
  }
}
.#{$prefix}--breadcrumb {
  // overflow: hidden;
  // white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  // & > * {
  //   overflow: hidden;
  //   white-space: nowrap;
  // }
}

.#{$prefix}--breadcrumb--truncate {
  .#{$prefix}--breadcrumb {
    flex-wrap: nowrap;

    & > * {
      min-width: 0; // https://css-tricks.com/flexbox-truncated-text/
    }
  }

  .#{$prefix}--breadcrumb-item {
    // overflow: hidden;
    // white-space: nowrap;
    min-width: 0;

    & > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .#{$prefix}--link {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.#{$prefix}--breadcrumb-item--hidden {
  visibility: hidden;
}

.#{$prefix}--breadcrumb-overflow {
  display: flex;
  &:after {
    content: '/';
    margin-left: 0.5rem;
  }
  margin-right: 0.5rem;
}

.#{$prefix}--overflow-menu {
  height: auto;
  width: auto;
}
