@import '~carbon-components/scss/components/breadcrumb/breadcrumb';

.bx--breadcrumb {
  overflow: hidden;
  white-space: nowrap;

  & > * {
    overflow: hidden;
    white-space: nowrap;
  }
}

.bx--breadcrumb-item {
  overflow: hidden;
  white-space: nowrap;
}

.breadcrumb-item--hidden {
  visibility: hidden;
}

.breadcrumb-overflow {
  // position: relative;
  // font-size: 3em;
  // margin: 0 auto;
  // top: -40%;
  &:after {
    // font-size: 1.5rem;
    content: '/';
    // color: #171717;
    // right: -0.7rem;
    // position: absolute;
    // top: 80%;
    // transform: translatey(-50%);
  }
}
