@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/utilities/convert';
.#{$iot-prefix}--page-wizard {
  display: flex;

  &__sticky {
    padding-bottom: $spacing-12; //$layout-06
  }

  &--progress {
    &--vertical {
      padding-right: $spacing-05;
      flex: 0 0 12rem;
    }

    &--horizontal {
      padding-bottom: $spacing-05;
    }

    .#{$prefix}--progress--vertical {
      li {
        min-height: 4.5rem;
      }
    }
  }

  &--step {
    padding-bottom: $spacing-07;
    @include type-style('body-01');

    &--title {
      @include type-style('heading-compact-02');
      margin-bottom: $spacing-03;
    }
    &--description {
      margin-bottom: $spacing-04;
      max-width: 40rem;
    }
    &--extra-content {
      display: none; /* TODO: render as sidebar */
    }
  }

  &--content {
    flex: 1;

    &--actions {
      padding-top: $spacing-07;

      .#{$prefix}--btn {
        margin-right: $spacing-05;
      }
    }

    &--actions--sticky {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $layer-01;
      padding: $spacing-05 $spacing-07;
      border-top: convert.to-rem(1px) solid $layer-accent-01;
      .#{$prefix}--btn {
        margin-right: $spacing-05;
      }
    }

    &--after-footer {
      display: flex;

      &--content {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}
