@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
@use '../../globals/typography';
@use "../../globals/layout";

.#{$iot-prefix}--page-wizard {
  display: flex;

  &__sticky {
    padding-bottom: spacing.$spacing-12;
  }

  &--progress {
    &--vertical {
      padding-right: spacing.$spacing-05;
      flex: 0 0 12rem;
    }

    &--horizontal {
      padding-bottom: spacing.$spacing-05;
    }

    .#{$prefix}--progress--vertical {
      li {
        min-height: 4.5rem;
      }
    }
  }

  &--step {
    padding-bottom: spacing.$spacing-07;
    @include typography.type-style('body-long-01');

    &--title {
      @include typography.type-style('productive-heading-02');
      margin-bottom: spacing.$spacing-03;
    }
    &--description {
      margin-bottom: spacing.$spacing-04;
      max-width: 40rem;
    }
    &--extra-content {
      display: none; /* TODO: render as sidebar */
    }
  }

  &--content {
    flex: 1;

    &--actions {
      padding-top: spacing.$spacing-07;

      .#{$prefix}--btn {
        margin-right: spacing.$spacing-05;
      }
    }

    &--actions--sticky {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: theme.$ui-01;
      padding: spacing.$spacing-05 spacing.$spacing-07;
      border-top: layout.rem(1px) solid theme.$ui-03;
      .#{$prefix}--btn {
        margin-right: spacing.$spacing-05;
      }
    }

    &--after-footer {
      display: flex;

      &--content {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}
