@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/utilities/focus-outline' as *;
@use '@carbon/react/scss/utilities/convert';
.#{$iot-prefix}--time-picker__wrapper {
  position: relative;

  &.#{$iot-prefix}--time-picker__wrapper--with-spinner {
    .#{$prefix}--time-picker__input-field {
      width: 5.875rem;
      padding-right: $spacing-07;
    }
  }

  &.#{$iot-prefix}--time-picker__wrapper--updown {
    .#{$prefix}--time-picker__input-field {
      caret-color: transparent;
    }
  }

  &.#{$iot-prefix}--time-picker__wrapper--show-underline {
    .#{$prefix}--time-picker--invalid .#{$prefix}--time-picker__input:before {
      bottom: 1.6rem;
    }
    .#{$prefix}--time-picker__input:before {
      content: '__';
      position: absolute;
      bottom: 0.365rem;
      left: 1rem;
    }

    &.#{$iot-prefix}--time-picker__wrapper--show-underline-minutes {
      .#{$prefix}--time-picker__input:before {
        left: 2.7rem;
      }
    }
  }

  .#{$prefix}--time-picker--invalid {
    position: relative;
  }

  .#{$iot-prefix}--time-picker__controls {
    position: absolute;
    left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 2px;

    .#{$iot-prefix}--time-picker__controls--btn {
      border: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 1.7rem;
      height: convert.to-rem(18px);

      svg {
        fill: currentColor;
        position: relative;
      }

      &.up-icon svg {
        top: convert.to-rem(4px);
      }

      &.down-icon svg {
        top: convert.to-rem(-4px);
      }

      &:focus {
        @include focus-outline;
        outline-width: 2px;
        outline-offset: -2px;
      }

      &:hover {
        cursor: pointer;
        color: $icon-primary;
      }

      &:disabled {
        cursor: not-allowed;
        // color: $disabled; //$disabled
      }
    }
  }

  .#{$prefix}--form-item.#{$prefix}--text-input-wrapper {
    align-items: flex-start;
    width: 100%;
    margin: 0;
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--time-picker__wrapper {
    &.#{$iot-prefix}--time-picker__wrapper--show-underline {
      .#{$prefix}--time-picker__input:before {
        left: unset;
        right: 3.7rem;
      }
      &.#{$iot-prefix}--time-picker__wrapper--show-underline-minutes {
        .#{$prefix}--time-picker__input:before {
          left: unset;
          right: 2rem;
        }
      }
    }

    .#{$iot-prefix}--time-picker__controls {
      left: unset;
      right: 2px;
    }
  }
}
