@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars';
@use '../../../globals/typography';
@use '../../../globals/mixins';

.#{vars.$iot-prefix}--table__cell--truncate .#{vars.$prefix}--tooltip__label {
  // Revert the styles added by the tooltip since we want
  // normal table cell content style even if a tooltip is triggered.
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  display: inherit;
  align-items: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

.bx--tooltip__trigger.bx--tooltip--a11y.#{vars.$iot-prefix}--table__cell-tooltip {
  @include typography.type-style('productive-heading-01');
}

.#{vars.$iot-prefix}--table__cell-text--truncate {
  @include mixins.text-overflow();
  display: block;
}

.#{vars.$iot-prefix}--table__cell-text--no-wrap {
  white-space: nowrap;
}
