@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;
@use '../../../globals/typography';
@use '../../../globals/mixins';

.#{$iot-prefix}--table__cell--truncate .#{$prefix}--tooltip__label {
  // Revert the styles added by the tooltip since we want
  // normal table cell content style even if a tooltip is triggered.
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  display: inherit;
  align-items: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

.#{$prefix}--tooltip__trigger.#{$prefix}--tooltip--a11y.#{$iot-prefix}--table__cell-tooltip {
  @include typography.type-style('productive-heading-01');
}

.#{$iot-prefix}--table__cell-text--truncate {
  @include mixins.text-overflow();
  display: block;
}

.#{$iot-prefix}--table__cell-text--no-wrap {
  white-space: nowrap;
}

.#{$iot-prefix}--table__cell-text--preserve {
  white-space: pre;
}
