@use '../../../globals/vars' as *;

.#{$iot-prefix}--table__cell--truncate .#{$prefix}--tooltip__label {
  // Revert the styles added by the tooltip since we want
  // normal table cell content style even if a tooltip is triggered.
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  display: inherit;
  align-items: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

.#{$prefix}--tooltip__trigger.#{$prefix}--tooltip--a11y.#{$iot-prefix}--table__cell-tooltip {
  @include type-style('productive-heading-01');
  display: grid;
  min-width: $spacing-08;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.#{$prefix}--tooltip__trigger.#{$prefix}--tooltip__trigger--definition.#{$prefix}--tooltip--bottom.#{$prefix}--tooltip--align-start.#{$prefix}--tooltip--a11y
  + .#{$prefix}--assistive-text {
  z-index: 6001;
}

.#{$iot-prefix}--table__cell-text--truncate {
  @include text-overflow();
  display: block;
}

.#{$iot-prefix}--table__cell-text--no-wrap {
  white-space: nowrap;
}

.#{$iot-prefix}--table__cell-text--preserve {
  white-space: pre;
}
