@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/motion' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/components/button' as *;
@use '@carbon/react/scss/components/date-picker' as *;

// wraps the entire component
.#{$iot-prefix}--date-time-pickerv2 {
  cursor: not-allowed;

  &__wrapper {
    width: var(--wrapper-width);
    cursor: pointer;

    & > .#{$iot-prefix}--tooltip {
      width: 100%;
      .#{$iot-prefix}--date-time-picker__box--full {
        width: 100%;
      }
    }

    &:focus {
      outline: $spacing-01 solid $button-tertiary;
    }

    &:hover {
      background-color: $layer-hover-01;
    }

    .#{$prefix}--tooltip__trigger.#{$prefix}--tooltip__trigger--definition {
      font-size: 100%;
      border-bottom: none;
      letter-spacing: unset;
    }

    .#{$prefix}--popover-container {
      width: 100%;
      height: 48px;
    }

    // the text version of this
    .#{$iot-prefix}--date-time-picker__box--full {
      background-color: $layer-01;
      color: $gray-100;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-strong-01;
      &::selection {
        color: none;
        background: none;
      }
      max-height: 48px;
      height: 48px;

      [dir='rtl'] & {
        padding-right: $spacing-05;
      }

      // the whole thing should pickup the hover
      &:hover {
        background-color: inherit;
      }

      .#{$iot-prefix}--flyout-menu {
        z-index: 10000 !important;
      }

      // hide the shadow around the button for the text version
      .#{$iot-prefix}--flyout-menu__open {
        box-shadow: unset;
      }

      // the button should always inherit the background color
      .#{$iot-prefix}--flyout-menu:not(.#{$iot-prefix}--flyout-menu__light)
        .#{$iot-prefix}--flyout-menu--trigger-button {
        background-color: inherit;
      }

      .#{$iot-prefix}--flyout-menu .#{$prefix}--tooltip__label {
        outline: none;
      }

      .#{$iot-prefix}--date-time-picker__field {
        padding-left: $spacing-05;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;

        & span {
          white-space: nowrap;
        }

        &:hover {
          background-color: $layer-hover-01;
        }

        &:focus {
          outline: 2px solid $blue-60;
          border-bottom: none;
        }
        // tooltip has default left outline
        .#{$prefix}--tooltip__trigger.#{$prefix}--tooltip__trigger--definition.#{$prefix}--tooltip--bottom:focus {
          outline: unset;
        }

        .#{$iot-prefix}--date-time-picker__tooltip-trigger {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          pointer-events: none;
        }

        .#{$iot-prefix}--date-time-picker__disabled {
          opacity: 0.5;
        }
      }

      .#{$iot-prefix}--flyout-menu--tooltip-anchor {
        height: unset;
        position: unset;
        width: unset;

        .#{$iot-prefix}--flyout-menu--body {
          box-shadow: unset;
        }
      }
    }

    .#{$iot-prefix}--date-time-picker__box--light {
      background-color: $field-02;
      .#{$iot-prefix}--date-time-picker--trigger-button {
        background-color: transparent;
      }
    }

    .#{$iot-prefix}--date-time-picker__box--disabled {
      border: none;
    }
  }
}

.#{$iot-prefix}--date-time-picker__helper-text--invalid {
  color: $text-error;
}

.#{$iot-prefix}--date-time-pickerv2__wrapper--disabled {
  pointer-events: none;
}

.#{$iot-prefix}--date-time-pickerv2__wrapper--invalid {
  outline: 2px solid $button-danger-primary;
}

// open menu content
.#{$iot-prefix}--flyout-menu--content.#{$iot-prefix}--date-time-picker--menu {
  --zIndex: 0;
  padding: 0;
  z-index: var(--zIndex);

  .#{$iot-prefix}--date-time-picker__menu-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    width: var(--wrapper-width);

    .#{$prefix}--list__item:before {
      display: none;
    }

    .#{$prefix}--fieldset {
      margin-bottom: $spacing-05;
      padding: 0 $spacing-02;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .#{$iot-prefix}--date-time-picker__custom-wrapper {
      width: var(--wrapper-width);
      padding-top: $spacing-05;
      padding-bottom: $spacing-07;
      padding-left: $spacing-05;
      padding-right: $spacing-05;
    }
  }

  .flatpickr-calendar.open {
    padding-bottom: 0;
    position: unset !important;
    top: unset !important;
    left: unset !important;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: none;
    animation: none;
  }

  .#{$prefix}--select {
    width: 8.5rem;
  }

  // hide the date picker inputs
  .#{$prefix}--date-picker--range {
    position: absolute;
  }
  .#{$prefix}--date-picker--single {
    position: absolute;
  }
  .#{$prefix}--date-picker-container {
    opacity: 0;
  }

  .#{$prefix}--number {
    .#{$prefix}--number__input-wrapper {
      input {
        min-width: 8.5rem;
        padding-right: 0;
        background: $field-02;
      }
    }

    .#{$prefix}--number__controls {
      // this prevents the number input icons from being pushed to the left
      button.#{$prefix}--number__control-btn {
        padding-right: 0;
      }
    }
  }

  .#{$iot-prefix}--time-picker__wrapper {
    &.#{$iot-prefix}--time-picker__wrapper--with-spinner:first-of-type {
      margin-right: $spacing-05;
    }
    &.#{$iot-prefix}--time-picker__wrapper--with-spinner {
      .#{$prefix}--time-picker__input-field {
        width: 8.5rem;
        padding-right: $spacing-07;
      }
    }
    .#{$iot-prefix}--time-picker__controls {
      left: 6.7rem;
    }
  }

  .#{$iot-prefix}--date-time-picker__fields-wrapper {
    display: flex;
    align-items: flex-start;

    .#{$prefix}--label {
      margin-bottom: 0;
    }

    .#{$prefix}--form-item + .#{$prefix}--form-item {
      margin-left: $spacing-05;
    }
  }

  .#{$iot-prefix}--date-time-picker__no-formgroup {
    margin-bottom: $spacing-05;
  }

  &.#{$iot-prefix}--date-time-picker__menu-formgroup {
    display: block;
    padding-top: $spacing-05;
  }

  .#{$iot-prefix}--date-time-picker__listitem {
    padding: $spacing-04 $spacing-04;
    cursor: pointer;
    border-left: 4px solid transparent;
    border-bottom: 1px solid $layer-accent-01;
  }

  .#{$iot-prefix}--date-time-picker__listitem--preset {
    &:hover,
    &:focus {
      background-color: $layer-hover-01;
    }

    &.#{$iot-prefix}--date-time-picker__listitem--preset-selected {
      background-color: $gray-20;
      border-left-color: $blue-60;
    }
  }

  .#{$iot-prefix}--date-time-picker__listitem--current {
    color: $gray-60;
    cursor: default;
  }

  .#{$iot-prefix}--date-time-picker__listitem--custom {
    color: $blue-60;
  }
}

.#{$iot-prefix}--date-time-picker__menu-btn-set {
  display: flex;
  flex-grow: 1;

  .#{$iot-prefix}--date-time-picker__menu-btn {
    flex-grow: 1;
  }
}

// icon tooltip needs to be moved up a little more
.#{$iot-prefix}--date-time-picker--tooltip--icon.#{$prefix}--tooltip[data-floating-menu-direction='bottom'] {
  margin-top: -0.35rem;
}

.#{$iot-prefix}--date-time-picker--trigger-button.#{$prefix}--btn.#{$prefix}--btn--icon-only.#{$prefix}--tooltip__trigger {
  overflow: hidden;
}

.#{$iot-prefix}--date-time-picker--trigger-button--invalid.#{$prefix}--btn.#{$prefix}--btn--icon-only.#{$prefix}--tooltip__trigger
  svg.bx--btn__icon
  path {
  fill: $button-danger-primary;
}

.#{$iot-prefix}--date-time-picker--trigger-button--disabled.#{$prefix}--btn.#{$prefix}--btn--icon-only.#{$prefix}--tooltip__trigger
  svg.bx--btn__icon
  path {
  fill: $icon-disabled;
}

.#{$iot-prefix}--date-time-picker--tooltip {
  // allow the bottom border from the field to become visible (but not in the iconOnly case)
  &.#{$iot-prefix}--flyout-menu--body.#{$iot-prefix}--flyout-menu--body__bottom-start
    .#{$prefix}--tooltip__content::after,
  &.#{$iot-prefix}--date-time-picker--tooltip.#{$iot-prefix}--flyout-menu--body.#{$iot-prefix}--flyout-menu--body__bottom-end
    .#{$prefix}--tooltip__content::after,
  &.#{$iot-prefix}--date-time-picker--tooltip.#{$iot-prefix}--flyout-menu--body.#{$iot-prefix}--flyout-menu--body__top-start
    .#{$prefix}--tooltip__content::after,
  &.#{$iot-prefix}--date-time-picker--tooltip.#{$iot-prefix}--flyout-menu--body.#{$iot-prefix}--flyout-menu--body__top-end
    .#{$prefix}--tooltip__content::after {
    background-color: unset;
    box-shadow: unset;
    height: unset;
  }
  &.#{$iot-prefix}--date-time-picker--tooltip .#{$prefix}--popover-content::after {
    height: unset;
  }
  // Preserve center alignment for the time picker spinner
  & .#{$prefix}--tooltip__content {
    text-align: unset;
  }
}

.#{$iot-prefix}--date-time-picker__datepicker {
  //placeholder height, there is an issue in carbon that calender is rendered after the height calculation
  min-height: 20.875rem;
  .#{$iot-prefix}--date-time-picker__datepicker--invalid {
    display: flex;
    align-items: center;
    padding: 0 calc(#{$spacing-05} + #{$spacing-02}) $spacing-05 $spacing-07;
    svg {
      fill: $button-danger-primary;
      margin-right: $spacing-03;
    }
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--flyout-menu--content.#{$iot-prefix}--date-time-picker--menu {
    .#{$iot-prefix}--date-time-picker__fields-wrapper {
      .#{$prefix}--form-item + .#{$prefix}--form-item,
      .#{$prefix}--form-item + .#{$iot-prefix}--time-picker__wrapper {
        margin-right: $spacing-05;
        margin-left: unset;
      }
    }

    // this should be global to all number controls RtL
    .#{$prefix}--number {
      .#{$prefix}--number__input-wrapper {
        input {
          min-width: 8.5rem;
          padding-right: $spacing-05;
        }
      }

      .#{$prefix}--number__controls {
        right: unset;
        left: 0;
      }
    }

    .#{$iot-prefix}--time-picker__wrapper {
      &.#{$iot-prefix}--time-picker__wrapper--with-spinner:first-of-type {
        margin-right: unset;
        margin-left: $spacing-05;
      }
    }

    .#{$iot-prefix}--date-time-picker__box {
      .#{$iot-prefix}--date-time-picker__field {
        padding-right: $spacing-05;
        padding-left: $spacing-09;
      }
    }
    .#{$iot-prefix}--date-time-picker__menu-scroll {
      .#{$iot-prefix}--date-time-picker__listitem {
        border-right: 2px solid transparent;
        border-left: none;
      }

      .#{$iot-prefix}--date-time-picker__listitem--preset {
        &.#{$iot-prefix}--date-time-picker__listitem--preset-selected {
          border-right-color: $blue-60;
        }
      }
    }
  }
}

.#{$iot-prefix}--card--toolbar .#{$iot-prefix}--date-time-pickerv2__wrapper:focus {
  outline: none;
}
