@import '../../globals/vars';
@import '~@carbon/motion/scss/motion.scss';

.#{$iot-prefix}--date-time-picker__wrapper {
  width: var(--wrapper-width);

  .#{$iot-prefix}--flyout-menu--content {
    padding: 0;
  }

  .#{$prefix}--tooltip__trigger.#{$prefix}--tooltip__trigger--definition {
    font-size: 100%;
    border-bottom: none;
    letter-spacing: unset;
  }

  .flatpickr-calendar.open {
    padding-bottom: 0;
    position: unset !important;
    top: unset !important;
    left: unset !important;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: none;
    animation: none;
  }

  .#{$prefix}--number {
    margin-right: $spacing-05;
    .#{$prefix}--number__input-wrapper {
      input {
        min-width: 8.5rem;
        padding-right: $spacing-03;
      }
    }
  }

  .#{$prefix}--select-input {
    width: 8.5rem;
  }

  .#{$iot-prefix}--time-picker__wrapper {
    &.#{$iot-prefix}--time-picker__wrapper--with-spinner:first-of-type {
      margin-right: $spacing-05;
    }
    &.#{$iot-prefix}--time-picker__wrapper--with-spinner {
      .bx--time-picker__input-field {
        width: 8.5rem;
        padding-right: $spacing-07;
      }
    }
    .#{$iot-prefix}--time-picker__controls {
      left: 6.7rem;
    }
  }

  .#{$iot-prefix}--date-time-picker__box--full {
    background-color: $ui-01;
    color: $carbon--gray-100;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .#{$iot-prefix}--date-time-picker__field {
      padding-left: $spacing-05;

      & > span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .#{$iot-prefix}--date-time-picker__menu {
      display: none;
      cursor: default;
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $carbon--white-0;
      z-index: 9100;
      &.#{$iot-prefix}--date-time-picker__menu-expanded {
        display: block;
      }
    }
  }

  .#{$iot-prefix}--date-time-picker__box--light {
    background-color: $field-02;
  }

  .#{$iot-prefix}--date-time-picker__menu-scroll {
    overflow-y: auto;

    .#{$prefix}--fieldset {
      margin-bottom: $spacing-lg;
      padding: 0 $spacing-baseline;
    }

    .#{$iot-prefix}--date-time-picker__fields-wrapper {
      display: flex;
      align-items: flex-end;
      .#{$prefix}--label {
        margin-bottom: 0;
      }
    }

    .#{$iot-prefix}--date-time-picker__no-formgroup {
      margin-bottom: $spacing-05;
    }

    &.#{$iot-prefix}--date-time-picker__menu-formgroup {
      display: block;
    }

    .#{$iot-prefix}--date-time-picker__listitem {
      padding: $spacing-04 $spacing-baseline;
      cursor: pointer;
      border-left: 2px solid transparent;
      border-bottom: 1px solid $ui-03;
    }

    .#{$iot-prefix}--date-time-picker__listitem--preset {
      &:hover {
        background-color: $carbon--gray-20;
      }
      &.#{$iot-prefix}--date-time-picker__listitem--preset-selected {
        background-color: $carbon--gray-20;
        border-left-color: $carbon--blue-60;
      }
    }

    .#{$iot-prefix}--date-time-picker__listitem--current {
      color: $carbon--gray-60;
      cursor: default;
    }

    .#{$iot-prefix}--date-time-picker__listitem--custom {
      color: $carbon--blue-60;
    }
  }

  .#{$iot-prefix}--date-time-picker__menu-btn-set {
    display: flex;

    .#{$iot-prefix}--date-time-picker__menu-btn {
      flex-grow: 1;
    }
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--date-time-picker__wrapper {
    .#{$prefix}--number {
      margin-right: unset;
      margin-left: $spacing-05;
    }

    .#{$iot-prefix}--time-picker__wrapper {
      &.#{$iot-prefix}--time-picker__wrapper--with-spinner:first-of-type {
        margin-right: unset;
        margin-left: $spacing-05;
      }
    }

    .#{$iot-prefix}--date-time-picker__box {
      .#{$iot-prefix}--date-time-picker__field {
        padding-right: $spacing-05;
        padding-left: $spacing-09;
      }
      .#{$iot-prefix}--date-time-picker__menu {
        .#{$iot-prefix}--date-time-picker__menu-scroll {
          .#{$iot-prefix}--date-time-picker__listitem {
            border-right: 2px solid transparent;
            border-left: none;
          }

          .#{$iot-prefix}--date-time-picker__listitem--preset {
            &.#{$iot-prefix}--date-time-picker__listitem--preset-selected {
              border-right-color: $carbon--blue-60;
            }
          }
        }
      }
    }
  }
}
