@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use '../../globals/motion';
@use "../../globals/colors" as colors;

// wraps the entire component
.#{vars.$iot-prefix}--date-time-pickerv2__wrapper {
  width: var(--wrapper-width);
  cursor: pointer;

  &:focus {
    outline: spacing.$spacing-01 solid theme.$interactive-03;
  }

  &:hover {
    background-color: theme.$hover-ui;
  }

  .#{vars.$prefix}--tooltip__trigger.#{vars.$prefix}--tooltip__trigger--definition {
    font-size: 100%;
    border-bottom: none;
    letter-spacing: unset;
  }

  // the text version of this
  .#{vars.$iot-prefix}--date-time-picker__box--full {
    background-color: theme.$ui-01;
    color: colors.$gray-100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid theme.$ui-04;
    &::selection {
      color: none;
      background: none;
    }
    max-height: 40px;
    height: 40px;

    // the whole thing should pickup the hover
    &:hover {
      background-color: inherit;
    }

    // hide the shadow around the button for the text version
    .#{vars.$iot-prefix}--flyout-menu__open {
      box-shadow: unset;
    }

    // the button should always inherit the background color
    .#{vars.$iot-prefix}--flyout-menu:not(.#{vars.$iot-prefix}--flyout-menu__light)
      .#{vars.$iot-prefix}--flyout-menu--trigger-button {
      background-color: inherit;
    }

    .#{vars.$iot-prefix}--date-time-picker__field {
      padding-left: spacing.$spacing-05;
      overflow: hidden;
      text-overflow: ellipsis;
      & span {
        white-space: nowrap;
      }

      &:hover {
        background-color: theme.$hover-ui;
      }

      &:focus {
        outline: 2px solid colors.$blue-60;
        border-bottom: none;
      }
      // tooltip has default left outline
      .#{vars.$prefix}--tooltip__trigger.#{vars.$prefix}--tooltip__trigger--definition.#{vars.$prefix}--tooltip--bottom:focus {
        outline: unset;
      }
    }
  }

  .#{vars.$iot-prefix}--date-time-picker__box--light {
    background-color: theme.$field-02;
  }
}

// open menu content
.#{vars.$iot-prefix}--flyout-menu--content.#{vars.$iot-prefix}--date-time-picker--menu {
  padding: 0;

  .#{vars.$iot-prefix}--date-time-picker__menu-scroll {
    overflow-y: auto;
    width: var(--wrapper-width);

    .#{vars.$prefix}--fieldset {
      margin-bottom: spacing.$spacing-06;
      padding: 0 spacing.$spacing-05;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .#{vars.$iot-prefix}--date-time-picker__custom-wrapper {
      width: var(--wrapper-width);
      padding-top: spacing.$spacing-05;
      padding-bottom: spacing.$spacing-07;
    }
  }

  .flatpickr-calendar.open {
    padding-bottom: 0;
    position: unset !important;
    top: unset !important;
    left: unset !important;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: none;
    animation: none;
  }

  .#{vars.$prefix}--select {
    width: 8.5rem;
  }

  // hide the date picker inputs
  .#{vars.$prefix}--date-picker--range {
    position: absolute;
  }
  .#{vars.$prefix}--date-picker-container {
    opacity: 0;
  }

  .#{vars.$prefix}--number {
    .#{vars.$prefix}--number__input-wrapper {
      input {
        min-width: 8.5rem;
        padding-right: 0;
      }
    }

    .#{vars.$prefix}--number__controls {
      // this prevents the number input icons from being pushed to the left
      button.#{vars.$prefix}--number__control-btn {
        padding-right: 0;
      }
    }
  }

  .#{vars.$iot-prefix}--time-picker__wrapper {
    &.#{vars.$iot-prefix}--time-picker__wrapper--with-spinner:first-of-type {
      margin-right: spacing.$spacing-05;
    }
    &.#{vars.$iot-prefix}--time-picker__wrapper--with-spinner {
      .#{vars.$prefix}--time-picker__input-field {
        width: 8.5rem;
        padding-right: spacing.$spacing-07;
      }
    }
    .#{vars.$iot-prefix}--time-picker__controls {
      left: 6.7rem;
    }
  }

  .#{vars.$iot-prefix}--date-time-picker__fields-wrapper {
    display: flex;
    align-items: flex-start;

    .#{vars.$prefix}--label {
      margin-bottom: 0;
    }

    .#{vars.$prefix}--form-item + .#{vars.$prefix}--form-item {
      margin-left: spacing.$spacing-05;
    }
  }

  .#{vars.$iot-prefix}--date-time-picker__no-formgroup {
    margin-bottom: spacing.$spacing-05;
  }

  &.#{vars.$iot-prefix}--date-time-picker__menu-formgroup {
    display: block;
    padding-top: spacing.$spacing-05;
  }

  .#{vars.$iot-prefix}--date-time-picker__listitem {
    padding: spacing.$spacing-04 spacing.$spacing-05;
    cursor: pointer;
    border-left: 4px solid transparent;
    border-bottom: 1px solid theme.$ui-03;
  }

  .#{vars.$iot-prefix}--date-time-picker__listitem--preset {
    &:hover,
    &:focus {
      background-color: theme.$hover-ui;
    }

    &.#{vars.$iot-prefix}--date-time-picker__listitem--preset-selected {
      background-color: colors.$gray-20;
      border-left-color: colors.$blue-60;
    }
  }

  .#{vars.$iot-prefix}--date-time-picker__listitem--current {
    color: colors.$gray-60;
    cursor: default;
  }

  .#{vars.$iot-prefix}--date-time-picker__listitem--custom {
    color: colors.$blue-60;
  }
}

.#{vars.$iot-prefix}--date-time-picker__menu-btn-set {
  display: flex;

  .#{vars.$iot-prefix}--date-time-picker__menu-btn {
    flex-grow: 1;
  }
}

// icon tooltip needs to be moved up a little more
.#{vars.$iot-prefix}--date-time-picker--tooltip--icon.#{vars.$prefix}--tooltip[data-floating-menu-direction='bottom'] {
  margin-top: -0.35rem;
}

// allow the bottom border from the field to become visible (but not in the iconOnly case)
.#{vars.$iot-prefix}--date-time-picker--tooltip {
  &.#{vars.$iot-prefix}--flyout-menu--body.#{vars.$iot-prefix}--flyout-menu--body__bottom-start
    .#{vars.$prefix}--tooltip__content::after,
  &.#{vars.$iot-prefix}--date-time-picker--tooltip.#{vars.$iot-prefix}--flyout-menu--body.#{vars.$iot-prefix}--flyout-menu--body__bottom-end
    .#{vars.$prefix}--tooltip__content::after,
  &.#{vars.$iot-prefix}--date-time-picker--tooltip.#{vars.$iot-prefix}--flyout-menu--body.#{vars.$iot-prefix}--flyout-menu--body__top-start
    .#{vars.$prefix}--tooltip__content::after,
  &.#{vars.$iot-prefix}--date-time-picker--tooltip.#{vars.$iot-prefix}--flyout-menu--body.#{vars.$iot-prefix}--flyout-menu--body__top-end
    .#{vars.$prefix}--tooltip__content::after {
    background-color: unset;
  }
}

html[dir='rtl'] {
  .#{vars.$iot-prefix}--flyout-menu--content.#{vars.$iot-prefix}--date-time-picker--menu {
    .#{vars.$iot-prefix}--date-time-picker__fields-wrapper {
      .#{vars.$prefix}--form-item + .#{vars.$prefix}--form-item,
      .#{vars.$prefix}--form-item + .#{vars.$iot-prefix}--time-picker__wrapper {
        margin-right: spacing.$spacing-05;
        margin-left: unset;
      }
    }

    // this should be global to all number controls RtL
    .#{vars.$prefix}--number {
      .#{vars.$prefix}--number__input-wrapper {
        input {
          min-width: 8.5rem;
          padding-right: spacing.$spacing-05;
        }
      }

      .#{vars.$prefix}--number__controls {
        right: unset;
        left: 0;
      }
    }

    .#{vars.$iot-prefix}--time-picker__wrapper {
      &.#{vars.$iot-prefix}--time-picker__wrapper--with-spinner:first-of-type {
        margin-right: unset;
        margin-left: spacing.$spacing-05;
      }
    }

    .#{vars.$iot-prefix}--date-time-picker__box {
      .#{vars.$iot-prefix}--date-time-picker__field {
        padding-right: spacing.$spacing-05;
        padding-left: spacing.$spacing-09;
      }
    }
    .#{vars.$iot-prefix}--date-time-picker__menu-scroll {
      .#{vars.$iot-prefix}--date-time-picker__listitem {
        border-right: 2px solid transparent;
        border-left: none;
      }

      .#{vars.$iot-prefix}--date-time-picker__listitem--preset {
        &.#{vars.$iot-prefix}--date-time-picker__listitem--preset-selected {
          border-right-color: colors.$blue-60;
        }
      }
    }
  }
}

.#{vars.$iot-prefix}--card--toolbar .#{vars.$iot-prefix}--date-time-pickerv2__wrapper:focus {
  outline: none;
}
