@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
/* stylelint-disable-next-line */
ai-table {
  .table-head-cell-text,
  .table-head-cell-icons {
    top: 0;
  }

  .#{$prefix}--table-header-label {
    line-height: 3rem;
  }

  .#{$prefix}--data-table--compact {
    .table-head-cell-text,
    .table-head-cell-icons,
    .#{$prefix}--table-header-label {
      line-height: 24px;
    }
  }

  .#{$prefix}--data-table--short {
    .table-head-cell-text,
    .table-head-cell-icons,
    .#{$prefix}--table-header-label {
      line-height: 32px;
    }
  }

  .#{$prefix}--data-table--tall {
    .table-head-cell-text,
    .table-head-cell-icons,
    .#{$prefix}--table-header-label {
      line-height: 64px;
    }
  }

  .table-head-cell-icons {
    right: 0;
    margin-right: 10px;
  }

  .#{$prefix}--table-sort.#{$prefix}--table-sort--active .#{$prefix}--table-sort__icon {
    top: 16px;
  }

  .#{$iot-prefix}-table {
    .#{$prefix}--table-header-label,
    .table-head-cell-text {
      padding-left: 16px;
    }
  }
}
