@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
/* stylelint-disable-next-line */
ai-table {
  tr.table-row:not(:first-of-type) {
    border-top: 2px solid $layer-01;
  }

  th:not(:last-of-type) {
    border-right: 2px solid $layer-01;

    &.table-selection-column {
      border-right: none;
    }
  }

  .#{$prefix}--table-sort,
  &.#{$prefix}--data-table--sort th:first-of-type .#{$prefix}--table-sort {
    padding-left: 0;
  }
  &.#{$prefix}--data-table th button {
    align-items: flex-end;
    padding-bottom: $spacing-05;
  }
  &.#{$prefix}--data-table th {
    position: inherit;
  }
  .#{$iot-prefix}--table-head-cell {
    vertical-align: bottom;
  }
}
