.#{$iot-prefix}--table-detail-wizard {
  background-color: '#f3f3f3';
  display: flex;
  flex-flow: column;
  align-items: left;
  border: rem(1px) solid #a2a2a28c;

  .wizard-container {
    display: flex;

    .content-container {
      padding: $spacing-07;
    }
  }

  .#{$prefix}--inline-notification {
    max-width: none;
    width: calc(100% - #{$spacing-07});
    margin: $spacing-05;

    html[dir='rtl'] & {
      .#{$prefix}--inline-notification__close-button,
      .#{$prefix}--inline-notification__icon {
        margin-right: unset;
      }

      .#{$prefix}--inline-notification__icon {
        margin-left: $spacing-05;
      }

      &--error {
        border-left: unset;
        border-right: rem(3px) solid $inverse-support-01;
      }
    }
  }

  .#{$prefix}--modal-footer {
    justify-content: flex-end;

    & > div {
      width: 100%;
    }
  }

  .wizard-sidebar {
    display: flex;
    flex-flow: column nowrap;
    border-right: rem(1px) solid #dadada8c;

    html[dir='rtl'] & {
      border-right: unset;
      border-left: rem(1px) solid #dadada8c;
    }

    .#{$prefix}--progress {
      padding: $spacing-05;
    }
  }

  .wizard-header {
    display: block;
    border-bottom: rem(1px) solid #dadada8c;

    .header-button {
      float: right;
      margin-left: auto;

      .#{$prefix}--btn--ghost {
        height: rem(50px);
      }

      .#{$prefix}--btn__icon {
        margin-left: rem(5px);
        margin-right: rem(5px);
      }

      html[dir='rtl'] & {
        float: left;
      }
    }

    .header-heading {
      float: left;
      font-size: 1.25rem;
      line-height: rem(50px);
      vertical-align: middle;
      margin-left: $spacing-05;

      html[dir='rtl'] & {
        float: right;
        margin-left: unset;
        margin-right: $spacing-05;
      }
    }
  }
}
