@import '../../../../styles/src/globals/vars';
@import '../../../../styles/src/vendor/carbon-components/scss/globals/scss/typography';

.pane-content {
  padding: 1rem 1rem 3rem 1rem;
  width: 100%;

  .title {
    margin-bottom: 1rem;
    @include type-style('productive-heading-01');
    color: $text-01;

    .clear-filter {
      float: right;
    }
  }
}

.filter-actions {
  display: flex;
  width: 100%;

  > * {
    flex-grow: 1;
  }
}

.#{$prefix}--overflow-menu--open {
  opacity: 1;
}

.#{$prefix}--overflow-menu-options {
  box-shadow: none;
  z-index: auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  }
}

.#{$prefix}--overflow-menu-options--open {
  width: 320px;
}

.#{$prefix}--overflow-menu.#{$prefix}--overflow-menu--open {
  box-shadow: none;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  }
}
