@use '../../globals/vars' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/components/button' as *;

.#{$iot-prefix}--empty-state {
  $parent-container: &;

  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: $spacing-09 $spacing-09 $spacing-09 $spacing-11;
  &--icon {
    margin-bottom: $spacing-05;
    height: 80px;
    width: auto;

    #{$parent-container}--inline & {
      grid-row: 1/5;
      grid-column: 1/2;
    }
  }

  &--icon--sm {
    height: 64px;
  }

  &--content {
    max-width: 30rem;
    overflow-wrap: break-word;

    #{$parent-container}--inline & {
      display: grid;
    }

    #{$parent-container}--inline &--with-gap {
      column-gap: $spacing-05;
    }
  }

  &--title {
    @include type-style('heading-03');
    color: $text-primary;
    margin-bottom: $spacing-03;
    word-break: break-word;

    #{$parent-container}--inline & {
      grid-column: 2/2;
    }
  }

  &--title--sm {
    @include type-style('heading-compact-02');
    margin-bottom: $spacing-02;
  }

  &--text {
    color: $text-primary;
    @include type-style('body-compact-01');

    #{$parent-container}--inline & {
      grid-column: 2/2;
    }
  }

  &--action {
    margin-top: $spacing-05;

    #{$parent-container}--inline & {
      grid-column: 2/2;
    }
  }

  &--link {
    margin-top: $spacing-05;
    @include type-style('body-compact-01');
    color: $button-primary;

    #{$parent-container}--inline & {
      grid-column: 2/2;
    }
  }
}
