@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
@use '../../globals/typography';

.#{$iot-prefix}--empty-state {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: spacing.$spacing-09;
  &--icon {
    margin-bottom: spacing.$spacing-05;
    height: 80px;
    width: auto;
  }

  &--content {
    max-width: 30rem;
    overflow-wrap: break-word;
  }

  &--title {
    @include typography.type-style('productive-heading-03');
    color: theme.$text-01;
    margin-bottom: spacing.$spacing-03;
  }

  &--text {
    color: theme.$text-01;
    @include typography.type-style('body-short-01');
  }

  &--action {
    margin-top: spacing.$spacing-05;
  }

  &--link {
    margin-top: spacing.$spacing-05;
    @include typography.type-style('body-short-01');
    color: theme.$interactive-01;
  }
}
