@import '../../globals/vars';
@import '../../globals/spacing';
@import '../../globals/typography';

.#{$iot-prefix}--empty-state {
  $parent-container: &;

  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: $spacing-09 $spacing-09 $spacing-09 $spacing-11;
  &--icon {
    margin-bottom: $spacing-05;
    height: 80px;
    width: auto;

    #{$parent-container}--inline & {
      grid-row: 1/5;
      grid-column: 1/2;
    }
  }

  &--icon--sm {
    height: 64px;
  }

  &--content {
    max-width: 30rem;
    overflow-wrap: break-word;

    #{$parent-container}--inline & {
      display: grid;
    }

    #{$parent-container}--inline &--with-gap {
      column-gap: $spacing-05;
    }
  }

  &--title {
    @include type-style('productive-heading-03');
    color: $text-01;
    margin-bottom: $spacing-03;
    word-break: break-word;

    #{$parent-container}--inline & {
      grid-column: 2/2;
    }
  }

  &--title--sm {
    @include type-style('productive-heading-02');
    margin-bottom: $spacing-02;
  }

  &--text {
    color: $text-01;
    @include type-style('body-short-01');

    #{$parent-container}--inline & {
      grid-column: 2/2;
    }
  }

  &--action {
    margin-top: $spacing-05;

    #{$parent-container}--inline & {
      grid-column: 2/2;
    }
  }

  &--link {
    margin-top: $spacing-05;
    @include type-style('body-short-01');
    color: $interactive-01;

    #{$parent-container}--inline & {
      grid-column: 2/2;
    }
  }
}
