@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
.#{vars.$iot-prefix}--editor {
  .#{vars.$prefix}--modal-content {
    padding-right: spacing.$spacing-05;
  }

  &-container {
    background-color: theme.$ui-background;
    height: 100%;
    overflow: hidden;
    min-height: 3.5rem;
    padding-top: spacing.$spacing-05;
  }

  &-notification {
    margin: 0 auto spacing.$spacing-05;
  }

  &-copy-wrapper {
    position: relative;
    height: 100%;
  }

  &-copy {
    background-color: theme.$ui-background;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  & .#{vars.$prefix}--copy {
    font-size: 0;
  }

  & .#{vars.$iot-prefix}--editor-expand.#{vars.$prefix}--btn {
    color: transparent;
    position: absolute;
    right: spacing.$spacing-09;
    top: 0;

    .#{vars.$prefix}--assistive-text,
    .#{vars.$prefix}--tooltip--a11y::before {
      display: none;
    }
  }
  .#{vars.$prefix}--tooltip--a11y::before {
    display: none;
  }

  .monaco-editor {
    background-color: transparent;
    height: 100%;
  }

  .monaco-editor .margin,
  .monaco-editor-background,
  .monaco-editor .inputarea.ime-input {
    background-color: transparent;
  }

  &.#{vars.$iot-prefix}--editor__expanded .#{vars.$prefix}--modal-container {
    height: calc(100vh - 50px);
    max-width: 100vw;
    max-height: 100vh;
    width: calc(100vw - 50px);
  }
}
