.#{$iot-prefix}--dashboard-editor {
  display: flex;
  height: 100%;
  &--content {
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow-x: auto;
  }
  &--header {
    flex: 0;
    padding: $layout-01 0 $layout-02;
    .#{$prefix}--grid {
      /* allow the header to stretch the full page width */
      max-width: none;
    }
    .header-top {
      height: $layout-02;
      display: flex;
      align-items: center;
    }
    .header-bottom {
      height: $layout-03;
      display: flex;
      align-items: center;
    }
    .header-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .header-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .last-updated {
      @include type-style('label-01');
    }
  }
  &--preview {
    flex: 1;
    margin-top: -$spacing-03;
    padding: $spacing-05;
    overflow-x: auto;

    .selected-card {
      border: solid $spacing-01 $interactive-04;
      box-sizing: content-box;
      margin: -$spacing-01;
    }

    &-tablet {
      width: 672px;
    }
    &-laptop {
      width: 1056px;
    }
    &-screen {
      width: 1312px;
    }
  }
  &--sidebar {
    height: 100%;
    width: 16rem;
  }
}
