@import '../../globals/vars';

.#{$iot-prefix}--table-card--overflow-menu & {
  margin-left: $spacing-03;
  opacity: 1;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  .#{$prefix}--overflow-menu__icon {
    transform: none;
  }
}

.#{$iot-prefix}--table-card--action-icon {
  cursor: pointer;
  margin-left: $spacing-04;
  &:hover {
    fill: rgb(61, 112, 178);
  }
}

.#{$iot-prefix}--table-card--expanded-row-content {
  padding-left: $spacing-07;
  padding-bottom: $spacing-03;
  padding-top: $spacing-06;

  p {
    margin-bottom: $spacing-03;
    font-size: 14px;
    font-weight: 600;
  }
}

.#{$iot-prefix}--table-card--expanded {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: $spacing-05;
}
