@import '~carbon-components/scss/globals/scss/vars';

.toolbar-button {
  background: transparent;
  border: none;
  color: $icon-01;
  display: flex;
  height: 3rem;
  width: 3rem;
  outline: 2px solid transparent;

  &:hover {
    background: $hover-ui;
  }

  &:active,
  &:focus {
    outline: 2px solid $link-01;
    outline-offset: -2px;
  }

  &.#{$prefix}--btn {
    padding: $spacing-05;

    & > svg {
      margin: 0;
    }
  }
}
