@import '../../globals/vars';
@import '~carbon-components/scss/globals/scss/layout';
@import './card-range-picker';
@import './card-toolbar';

$iot-header-padding: $spacing-05;

.#{$iot-prefix}--card--wrapper {
  background: white;
  height: var(--card-default-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.#{$iot-prefix}--card--wrapper--overflowing {
  overflow: visible;
}

.#{$iot-prefix}--card--title {
  flex: 1;
  // min-width value is required to ensure flex child with text properly truncates
  // https://css-tricks.com/flexbox-truncated-text/
  min-width: 0;
  display: flex;

  & + *:not(.#{$iot-prefix}--card--toolbar) {
    margin-left: $spacing-05;
  }
}

.#{$iot-prefix}--card--title--text {
  @include type-style('productive-heading-01');
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$iot-prefix}--card--header {
  flex: 0 0 $spacing-09;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 0 $iot-header-padding;
}

.#{$iot-prefix}--card--header > .#{$iot-prefix}--card--toolbar {
  margin-right: calc(#{$iot-header-padding} * -1);
}

html[dir='rtl'] .#{$iot-prefix}--card--header .#{$iot-prefix}--card--toolbar {
  margin-right: 0;
  margin-left: calc(#{$iot-header-padding} * -1);
}

.#{$iot-prefix}--card--content {
  flex: 1;
  position: relative;
  height: var(--card-content-height);
  overflow-x: visible;
  overflow-y: visible;
}

.#{$iot-prefix}--card--content--expanded {
  overflow-y: auto;
}

.#{$iot-prefix}--card--skeleton-wrapper {
  padding: var(--card-content-padding);
  width: 80%;
}

.#{$iot-prefix}--card--empty-message-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--card-content-padding);
  text-align: center;
  line-height: 1.3;
}
