@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/layout';

.card {
  &--title {
    @include type-style('productive-heading-01');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & + * {
      margin-left: $spacing-05;
    }
  }

  &--header {
    padding: 0 $spacing-05;
    flex: 0 0 $spacing-09;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }

  &--toolbar {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--overflow {
    width: auto;
  }

  &--toolbar-action {
    color: $ui-05;
    border-width: 2px;
    display: flex;
    height: 2rem;
    justify-content: center;
    min-height: 2rem;
    min-width: 2rem;
    width: 2rem;

    &:hover {
      background-color: $hover-ui;
      color: $ui-05;
    }

    &:focus {
      border-color: transparent;
      outline: 2px solid #0062ff;
      outline-offset: -2px;
    }

    .card--toolbar & {
      margin: 0;
      padding: 0;
    }

    svg {
      fill: $icon-02;
    }

    svg.bx--overflow-menu__icon {
      height: auto;
      width: auto;
    }
  }

  &--toolbar-timerange-lable {
    margin-right: $spacing-03;
  }
}
