@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/layout';

.card {
  &--title {
    flex: 1;
    // min-width value is required to ensure flex child with text properly truncates
    // https://css-tricks.com/flexbox-truncated-text/
    min-width: 0;
    display: flex;

    .title--text {
      @include type-style('productive-heading-01');
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & + * {
      margin-left: $spacing-05;
    }
  }

  &--header {
    padding-left: $spacing-05;
    flex: 0 0 $spacing-09;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }

  &--toolbar {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &--overflow {
    width: auto;
  }

  &--toolbar-action {
    color: $ui-05;
    border-width: 2px;
    display: flex;
    height: 2rem;
    justify-content: center;
    min-height: 2rem;
    min-width: 2rem;
    width: 2rem;

    &:hover {
      background-color: $hover-ui;
      color: $ui-05;
    }

    &:focus {
      border-color: transparent;
      outline: 2px solid #0062ff;
      outline-offset: -2px;
    }

    svg {
      fill: $icon-02;
    }

    svg.bx--overflow-menu__icon {
      height: auto;
      width: auto;
    }
  }
}

html[dir='rtl'] .card {
  &--header {
    padding-right: $spacing-05;
    padding-left: 0;
  }
}
