@use '@carbon/styles/scss/config'  as *;

.#{$iot-prefix}--file-drop {
  &__selected-file {
    background-color: rgba(85, 150, 230, 0.1);
  }

  &__link-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: none;
    color: $interactive-01;
    cursor: pointer;
    margin-left: 0.25rem;
    text-decoration: underline;
  }

  &__text {
    padding: $spacing-05;
    line-height: 30px;
  }
}
