@forward 'globals/config';
@forward 'globals/theme';

@use 'sass:list' as sass-list;
@use 'sass:meta';
@use 'globals/feature-flags';
@forward 'globals/vars';
@forward 'globals/colors';
@forward 'globals/mixins';
@forward 'globals/layout';
@forward 'globals/spacing';
@forward 'globals/typography';
// @forward 'globals/css--reset';
@forward 'globals/css--font-face';
@forward 'globals/css--helpers';
@forward 'globals/css--body';
@forward 'globals/grid';
@use 'globals/charts';

//-------------------------
// 🍕 Carbon Components
//-------------------------

@use 'components/Accordion/accordion';
@use 'components/Breadcrumb/breadcrumb';
@use 'components/Button/carbon-button';
@use 'components/Checkbox/checkbox';
@use 'components/CodeSnippet/code-snippet';
@use 'components/ComboBox/combo-box';
@use 'components/ContentSwitcher/content-switcher';
@use 'components/CopyButton/copy-button';
// search before data-table, so it doesn't mess up the expanding search bar in the table
@use 'components/Search/search';
@use 'components/DataTable/data-table';
@use 'components/DatePicker/date-picker';
@use 'components/Dropdown/dropdown';
@use 'components/FileUploader/file-uploader';
@use 'components/Form/form';
@use 'components/InlineLoading/inline-loading';
@use 'components/Link/link';
@use 'components/List/carbon-list';
@use 'components/ListBox/list-box';
@use 'components/Loading/loading';
@use 'components/Menu/menu';
@use 'components/Modal/modal';
@use 'components/MultiSelect/multi-select';
@use 'components/Notification/actionable-notification';
@use 'components/Notification/inline-notification';
@use 'components/Notification/toast-notification';
@use 'components/NumberInput/number-input';
@use 'components/OverflowMenu/overflow-menu';
@use 'components/Pagination/pagination';
@use 'components/PaginationNav/pagination-nav';
@use 'components/Popover/popover';
@use 'components/RadioButton/radio-button';

@use 'components/Select/select';
@use 'components/Skeleton/skeleton';
@use 'components/Slider/slider';
@use 'components/Stack/stack';
@use 'components/StructuredList/structured-list';
@use 'components/Tabs/tabs';
@use 'components/Tag/tag';
@use 'components/TextArea/text-area';
@use 'components/TextInput/text-input';
@use 'components/Tile/tile';
@use 'components/TimePicker/time-picker';
@use 'components/Toggle/toggle';
@use 'components/Toolbar/toolbar';
@use 'components/Tooltip/tooltip';
@use 'components/UIShell/ui-shell';

//-------------------------------------
// 🔬 Experimental
//-------------------------------------
@use 'components/ColorDropdown/color-dropdown';
@use 'components/FlyoutMenu/flyout-menu';
@use 'components/HotspotEditorModal/HotspotEditorTooltipTab/hotspot-editor-tooltip-tab';
@use 'components/HotspotEditorModal/hotspot-editor-modal';
@use 'components/HotspotEditorModal/DynamicHotspotSourcePicker/dynamic-hotspot-source-picker';
@use 'components/SimpleIconDropdown/simple-icon-dropdown';
@use 'components/RuleBuilder/rule-builder';
//-------------------------------------
// carbon-addons-iot-react components
//-------------------------------------
@use 'components/AddCard/add-card';
@use 'components/BarChartCard/bar-chart-card';
@use 'components/Button/button';
@use 'components/Card/card';
@use 'components/CardCodeEditor/card-code-editor';
@use 'components/CardEditor/card-editor';
@use 'components/CardEditor/CardEditForm/card-edit-form';
@use 'components/ComboChartCard/combo-chart-card';
@use 'components/ComposedModal/composed-modal';
@use 'components/ComposedStructuredList/composed-structured-list';
@use 'components/Dashboard/dashboard-grid';
@use 'components/Dashboard/dashboard';
@use 'components/DashboardEditor/dashboard-editor';
@use 'components/DateTimePicker/date-time-picker';
@use 'components/DateTimePicker/date-time-pickerv2';
@use 'components/EmptyState/emptystate';
@use 'components/FileDrop/file-drop';
@use 'components/FilterTags/filter-tags';
@use 'components/GaugeCard/gauge-card';
@use 'components/Header/header';
@use 'components/HotspotEditorModal/HotspotTextStyleTab/hotspot-text-style-tab';
@use 'components/IconDropdown/icon-dropdown';
@use 'components/IconSwitch/icon-switch';
@use 'components/ImageCard/hotspot-content';
@use 'components/ImageCard/hotspot';
@use 'components/ImageCard/image-card';
@use 'components/ImageCard/image-uploader';
@use 'components/ImageGalleryModal/image-gallery-modal';
@use 'components/ImageGalleryModal/image-tile';
@use 'components/List/HierarchyList/hierarchy-list';
@use 'components/List/list';
@use 'components/List/ListHeader/list-header';
@use 'components/List/ListItem/list-item';
@use 'components/ListBuilder/list-builder';
@use 'components/ListCard/listCard';
@use 'components/MapCard/map-card';
@use 'components/MenuButton/menu-button';
@use 'components/PageTitleBar/page-title-bar';
@use 'components/PageWizard/page-wizard';
@use 'components/PieChartCard/pie-chart-card';
@use 'components/ProgressBar/progress-bar';
@use 'components/ProgressIndicator/progress-indicator';
@use 'components/RuleBuilder/rulebuilder';
@use 'components/SelectUsersModal/select-users-modal';
@use 'components/SideNav/side-nav';
@use 'components/SidePanel/side-panel';
@use 'components/SimplePagination/simple-pagination';
@use 'components/SuiteHeader/suite-header';
@use 'components/Table/pagination' as table-pagination;
@use 'components/Table/table';
@use 'components/Table/TableBody/RowActionsCell/row-actions-cell';
@use 'components/Table/TableBody/TableBodyLoadMoreRow/table-body-load-more-row';
@use 'components/Table/TableColumnCustomizationModal/table-column-customization-modal';
@use 'components/Table/TableManageViewsModal/table-manage-views-list';
@use 'components/Table/TableManageViewsModal/table-manage-views-modal';
@use 'components/Table/TableSaveViewModal/table-save-view-modal';
@use 'components/Table/TableToolbar/table-toolbar';
@use 'components/Table/TableViewDropdown/table-view-dropdown';
@use 'components/TableCard/table-card';
@use 'components/TableCard/threshold-icon';
@use 'components/TableMultiline/table' as multi-line-table;
@use 'components/TearSheet/tear-sheet-wrapper';
@use 'components/TearSheet/tear-sheet';
@use 'components/TileCatalog/catalog-content';
@use 'components/TileCatalog/tile-catalog';
@use 'components/TileCatalog/tile-group';
@use 'components/TileCatalogNew/tile-catalog' as tile-catalog-new;
@use 'components/TileGallery/tile-gallery';
@use 'components/TimePickerSpinner/time-picker-spinner';
@use 'components/TimeSeriesCard/time-series-card';
@use 'components/ValueCard/attribute';
@use 'components/ValueCard/unit-renderer';
@use 'components/ValueCard/value-card';
@use 'components/ValueCard/value-renderer';
@use 'components/WizardInline/wizard-inline';
@use 'components/WizardModal/wizard-modal';

//-------------------------
// ⚠️ Manage deprecations
//-------------------------

/// We flag this variable as true if someone uses the globals/scss/styles.scss
/// entry-point. This allows us to collect all the messages and display them at
/// the end of the file instead of bringing it up per-component.
///
/// If a consumer instead gets the components by importing the partial directly,
/// this variable _will not_ be set to true, so the deprecation message will be
/// displayed after the @import.
/// @access private
/// @type Bool
/// @group global-deprecate
$deprecations--entry: true;

/// Collect all deprecation reasons into this list throughout the import cycle.
/// @access private
/// @type Map
/// @group global-deprecate
$deprecations--reasons: ();

/// This message will be prepended to any deprecation notice.
/// @access private
/// @type String
/// @group global-deprecate
$deprecations--message: 'Deprecated code was found, this code will be removed before the next release of Carbon.';

//-------------------------------------
// 🙈 Hidden (Not exposed on website)
//-------------------------------------

// Cycle through all the deprecation reasons, if any exist, that have been
// accumulated through the @import process.
@if (sass-list.length($deprecations--reasons) > 0) {
  $deprecations--message: '';
  @each $reason in $deprecations--reasons {
    $deprecations--message: '#{$deprecations--message} REASON: #{$reason}';
  }

  @warn $deprecations--message;
}
