//-------------------------
// 🌍 Global
//-------------------------
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/compat/themes' as compat;
@use '@carbon/react/scss/themes';
@forward '@carbon/react/scss/theme' with (
  $fallback: compat.$g10,
  $theme: themes.$g10
);
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/type' as *;
@use '@carbon/styles/scss/fonts' as *;
@use 'globals/feature-flags' as *;
@use 'globals/vars' as *;
@use 'globals/colors' as *;
@use 'globals/theme' as *;
@use 'globals/mixins' as *;
@use 'globals/layout' as *;
@use 'globals/spacing' as *;
@use 'globals/typography' as *;
@use 'globals/import-once' as *;
@use 'globals/css--reset' as *;
@use 'globals/css--font-face' as *;
@use 'globals/css--helpers' as *;
@use 'globals/css--body' as *;
@use 'globals/grid' as *;
@use 'globals/charts' as *;

//-------------------------------------
// 🔬 Experimental
//-------------------------------------
@use 'components/ColorDropdown/color-dropdown' as *;
@use 'components/FlyoutMenu/flyout-menu' as *;
@use 'components/HotspotEditorModal/HotspotEditorTooltipTab/hotspot-editor-tooltip-tab' as *;
@use 'components/HotspotEditorModal/hotspot-editor-modal' as *;
@use 'components/HotspotEditorModal/HotspotTextStyleTab/hotspot-text-style-tab' as *;
@use 'components/HotspotEditorModal/DynamicHotspotSourcePicker/dynamic-hotspot-source-picker' as *;
@use 'components/SimpleIconDropdown/simple-icon-dropdown' as *;
@use 'components/RuleBuilder/rule-builder' as *;
@use 'components/MapCard/legend' as *;
@use 'components/MapCard/map-card' as *;
@use 'components/MapCard/scrolling-controls' as *;
@use 'components/MapCard/zoom-control' as *;
@use 'components/MapCard/storyFiles/drag-panel.scss' as *;
@use 'components/MapCard/storyFiles/mapbox-example.scss' as *;
@use 'components/MapCard/storyFiles/open-layers-example.scss' as *;
//-------------------------------------
// carbon-addons-iot-react components
//-------------------------------------
@use 'components/AddCard/add-card' as *;
@use 'components/Accordion/accordion' as *;
@use 'components/BarChartCard/bar-chart-card' as *;
@use 'components/Button/button' as *;
@use 'components/Breadcrumb/breadcrumb' as *;
@use 'components/Card/card' as *;
@use 'components/CardEditor/card-editor' as *;
@use 'components/CardEditor/CardEditForm/card-edit-form' as *;
@use 'components/CodeSnippet/code-snippet' as *;
@use 'components/ComposedModal/composed-modal' as *;
@use 'components/CardCodeEditor/card-code-editor' as *;
@use 'components/CopyButton/copy-button' as *;
@use 'components/Checkbox/checkbox' as *;
@use 'components/Dropdown/dropdown' as *;
@use 'components/Dashboard/dashboard' as *;
@use 'components/Dashboard/dashboard-grid' as *;
@use 'components/DashboardEditor/dashboard-editor' as *;
@use 'components/DatePicker/date-picker' as *;
@use 'components/DateTimePicker/date-time-picker' as *;
@use 'components/DateTimePicker/date-time-pickerv2' as *;
@use 'components/EmptyState/emptystate' as *;
@use 'components/FileDrop/file-drop' as *;
@use 'components/FilterTags/filter-tags' as *;
@use 'components/FileUploader/file-uploader' as *;
@use 'components/Form/form' as *;
@use 'components/GaugeCard/gauge-card' as *;
@use 'components/Header/header' as *;
@use 'components/OverflowMenu/overflow-menu' as *;
@use 'components/HotspotEditorModal/HotspotTextStyleTab/hotspot-text-style-tab' as *;
@use 'components/IconDropdown/icon-dropdown' as *;
@use 'components/ContentSwitcher/content-switcher' as *;
@use 'components/IconSwitch/icon-switch' as *;
@use 'components/ImageCard/image-card' as *;
@use 'components/ImageCard/image-uploader' as *;
@use 'components/ImageCard/hotspot' as *;
@use 'components/ImageCard/hotspot-content' as *;
@use 'components/ImageGalleryModal/image-gallery-modal' as *;
@use 'components/ImageGalleryModal/image-tile' as *;
@use 'components/InlineLoading/inline-loading' as *;
@use 'components/ListCard/listCard' as *;
@use 'components/List/list' as *;
@use 'components/Link/link' as *;
@use 'components/ListBuilder/list-builder' as *;
@use 'components/RadioButton/radio-button' as *;
@use 'components/TimePicker/time-picker' as *;
@use 'components/TimePicker/list-spinner' as *;
@use 'components/TimePicker/time-picker-dropdown' as *;
@use 'components/TearSheet/tear-sheet-wrapper' as *;
@use 'components/TearSheet/tear-sheet' as *;
@use 'components/TextArea/text-area' as *;
@use 'components/List/ListItem/list-item' as *;
@use 'components/List/ListHeader/list-header' as *;
@use 'components/Loading/loading' as *;
@use 'components/MapCard/map-card' as *;
@use 'components/List/HierarchyList/hierarchy-list' as *;
@use 'components/MenuButton/menu-button' as *;
@use 'components/Notification/inline-notification' as *;
@use 'components/Notification/toast-notification' as *;
@use 'components/NumberInput/number-input' as *;
@use 'components/OrderedList/orderedList' as *;
@use 'components/PageTitleBar/page-title-bar' as *;
@use 'components/PageWizard/page-wizard' as *;
@use 'components/PieChartCard/pie-chart-card' as *;
@use 'components/ProgressBar/progress-bar' as *;
@use 'components/Pagination/pagination' as *;
@use 'components/PaginationNav/pagination-nav' as *;
@use 'components/ProgressIndicator/progress-indicator' as *;
@use 'components/RuleBuilder/rulebuilder' as *;
@use 'components/ResourceList/resourcelist' as *;
@use 'components/SelectUsersModal/select-users-modal' as *;
@use 'components/Search/search' as *;
@use 'components/Slider/slider' as *;
@use 'components/SideNav/side-nav' as *;
@use 'components/SimplePagination/simple-pagination' as *;
@use 'components/SuiteHeader/suite-header' as *;
@use 'components/StructuredList/structured-list' as *;
@use 'components/Skeleton/skeleton' as *;
@use 'components/Table/TableToolbar/table-toolbar' as *;
@use 'components/Tag/tag' as *;
@use 'components/Table/pagination' as *;
@use 'components/Table/TableBody/table-dnd' as *;
@use 'components/Table/TableBody/RowActionsCell/row-actions-cell' as *;
@use 'components/Table/TableBody/TableBodyRow/table-expand-row' as *;
@use 'components/Table/table' as *;
@use 'components/Tabs/tabs' as *;
@use 'components/TableMultiline/table.scss' as *;
@use 'components/Table/TableViewDropdown/table-view-dropdown' as *;
@use 'components/Table/TableSaveViewModal/table-save-view-modal' as *;
@use 'components/Table/TableManageViewsModal/table-manage-views-modal' as *;
@use 'components/Table/TableManageViewsModal/table-manage-views-list' as *;
@use 'components/Table/TableColumnCustomizationModal/table-column-customization-modal' as *;
@use 'components/TableCard/threshold-icon' as *;
@use 'components/TableCard/table-card' as *;
@use 'components/Tag/tag' as *;
@use 'components/TextInput/text-input' as *;
@use 'components/Tooltip/tooltip' as *;
@use 'components/Tile/tile' as *;
@use 'components/TileCatalogNew/tile-catalog' as *;
@use 'components/TileCatalog/tile-catalog' as *;
@use 'components/TileCatalog/tile-group' as *;
@use 'components/TileCatalog/catalog-content' as *;
@use 'components/TileGallery/tile-gallery' as *;
@use 'components/Toggle/toggle' as *;
@use 'components/TimePickerSpinner/time-picker-spinner' as *;
@use 'components/TimeSeriesCard/time-series-card' as *;
@use 'components/ValueCard/value-card' as *;
@use 'components/ValueCard/attribute' as *;
@use 'components/ValueCard/unit-renderer' as *;
@use 'components/ValueCard/value-renderer' as *;
@use 'components/WizardInline/wizard-inline' as *;
@use 'components/WizardModal/wizard-modal' as *;
@use 'components/ComboChartCard/combo-chart-card' as *;
@use 'components/ReadOnlyValue/read-only-value' as *;
@use 'components/SparklineChartCard/sparkline-chart-card' as *;
@use 'components/StackedAreaChartCard/stacked-area-chart-card' as *;
@use 'components/MeterChartCard/meter-chart-card' as *;
@use 'components/SidePanel/side-panel' as *;
@use 'components/CodeEditor/code-editor' as *;
@use 'components/Modal/modal' as *;
@use 'components/MultiSelect/multi-select' as *;
@use 'components/OverflowMenu/overflow-menu' as *;

:root {
  @include theme.theme();
}

/// If true, includes font face mixins in `_css--font-face.scss` depending on the `css--plex` feature flag
/// @access public
/// @type Bool
/// @group feature-flags
$css--font-face: true !default;

/// If true, includes the `css-helpers()` mixin
/// @access public
/// @type Bool
/// @group feature-flags
$css--helpers: true !default;

/// If true, includes the `css-body()` mixin
/// @access public
/// @type Bool
/// @group feature-flags
$css--body: true !default;

/// If true, the `layer()` mixin sets `box-shadow` values
/// @access public
/// @type Bool
/// @group feature-flags
$css--use-layer: true !default;

/// If true, include reset CSS
/// @access public
/// @type Bool
/// @group feature-flags
$css--reset: true !default;

/// Used with `css--font-face` feature flag, if true, uses Plex font families instead of Helvetica
/// @access public
/// @type Bool
/// @group feature-flags
$css--plex: true !default;

/// This feature flag was used during development of the v10 experimental grid.
/// TODO: remove in next major release. Synced in `feature-flags` as an adapter in the interim
/// @deprecated (For v10) v10 always uses `@carbon/grid`
/// @access public
/// @type Bool
/// @group feature-flags
$css--use-experimental-grid: false !default;

/// This feature flag was used during development of the v10 experimental grid.
/// TODO: remove in next major release. Synced in `feature-flags` as an adapter in the interim.
/// @access public
/// @type Bool
/// @group feature-flags
/// @deprecated (For v10) v10 always uses `@carbon/grid`
$css--use-experimental-grid-fallback: false !default;

// Apply the theme globally
// @include theme.apply($carbon--theme);
//-------------------------
// ⚠️ Manage deprecations
//-------------------------

/// We flag this variable as true if someone uses the globals/scss/styles.scss
/// entry-point. This allows us to collect all the messages and display them at
/// the end of the file instead of bringing it up per-component.
///
/// If a consumer instead gets the components by importing the partial directly,
/// this variable _will not_ be set to true, so the deprecation message will be
/// displayed after the @import.
/// @access private
/// @type Bool
/// @group global-deprecate
$deprecations--entry: true;

/// Collect all deprecation reasons into this list throughout the import cycle.
/// @access private
/// @type Map
/// @group global-deprecate
$deprecations--reasons: ();

/// This message will be prepended to any deprecation notice.
/// @access private
/// @type String
/// @group global-deprecate
$deprecations--message: 'Deprecated code was found, this code will be removed before the next release of Carbon.';

//-------------------------------------
// 🙈 Hidden (Not exposed on website)
//-------------------------------------

// Cycle through all the deprecation reasons, if any exist, that have been
// accumulated through the @import process.
//stylelint-disable scss/no-global-function-names
@if (length($deprecations--reasons) > 0) {
  $deprecations--message: '';
  @each $reason in $deprecations--reasons {
    $deprecations--message: '#{$deprecations--message} REASON: #{$reason}';
  }

  @warn $deprecations--message;
}
