@use '@carbon/styles/scss/config'  as *;
@use '@carbon/styles/scss/layout' as *;
@use '../../globals/vars' as *;

.#{$iot-prefix}-add-card {
  border: 1px solid transparent;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $ui-01;
  min-height: 8rem;
  min-width: 8.5rem;
  max-width: 18.75rem;
  max-height: 15.625rem;

  svg {
    margin: auto 0 0 auto;
  }
}

.#{$iot-prefix}-addcard-title {
  color: $text-01;
}
