@use '@carbon/react/scss/components/dropdown';

.#{$iot-prefix}--dropdown__label {
  display: flex;
  align-items: center;
  height: 100%;

  > svg {
    min-width: 16px;
    width: 16px;
    height: 100%;
  }

  &__content {
    margin: auto 0;
    margin-left: $spacing-03;

    overflow: hidden;
    text-overflow: ellipsis;

    &--open {
      color: $active-ui;
    }
  }
}
