@use '@carbon/react/scss/components/dropdown';
@use '@carbon/react/scss/layer' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;
@use '../../globals/vars' as *;
.#{$iot-prefix}--dropdown__label {
  display: flex;
  align-items: center;
  height: 100%;

  > svg {
    min-width: 16px;
    width: 16px;
    height: 100%;
  }

  &__content {
    margin: auto 0;
    margin-left: $spacing-03;

    overflow: hidden;
    text-overflow: ellipsis;

    &--open {
      color: $layer-active-01;
    }
  }
}
