@use '../../../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/motion' as *;
@use '@carbon/react/scss/components/button' as *;
@use '@carbon/react/scss/components/data-table' as *;

@mixin backgroundGradient($color) {
  background: linear-gradient(90deg, rgba(229, 229, 229, 0) 0, #{$color} 16px);
}

.#{$iot-prefix}--row-actions-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* If the actions are focused on, they should show up */
  > *:focus {
    opacity: 1;
  }

  /* the spinner was a little too big and causing the row to scroll so need to scale down a bit */
  .#{$prefix}--loading--small {
    width: $spacing-05;
    height: $spacing-05;
    margin-right: $spacing-03;
  }

  > * {
    margin-left: $spacing-04;
  }
}

.#{$iot-prefix}--row-actions-container__background {
  height: 100%;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  opacity: 0;
  padding-left: $spacing-06;
  padding-right: $spacing-03;
  z-index: 0;
  @include backgroundGradient($layer-hover-01);
}

body:not(.#{$iot-prefix}--is-dragging)
  .#{$prefix}--data-table
  tbody
  tr:hover
  .#{$iot-prefix}--row-actions-container__background {
  background: linear-gradient(90deg, rgba(229, 229, 229, 0) 0, #{$layer-hover-01} $spacing-05);
}

.#{$iot-prefix}--action-overflow-item {
  div {
    width: 100%;
  }
  svg {
    margin-right: $spacing-03;

    html[dir='rtl'] & {
      margin-left: $spacing-03;
      margin-right: 0;
    }
  }
}

.#{$iot-prefix}--row-actions-container__background:focus-within {
  opacity: 1;
  @include backgroundGradient($layer-01);
  transition: opacity $duration-fast-02 motion(entrance, productive);
}

body:not(.#{$iot-prefix}--is-dragging)
  .#{$prefix}--data-table
  tbody
  tr:hover
  .#{$iot-prefix}--row-actions-container__background,
.#{$iot-prefix}--row-actions-container__background--overflow-menu-open {
  opacity: 1;
  transition: opacity $duration-fast-02 motion(entrance, productive);
}

.#{$prefix}--data-table tbody tr {
  &:not(:hover) .#{$iot-prefix}--row-actions-container__background--overflow-menu-open {
    // doesn't use the mixin above because safari has problems with 229 rgb values being rendered
    // as transparent.
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #{$layer-01} 16px);
  }

  &.#{$prefix}--data-table--selected:hover .#{$iot-prefix}--row-actions-container__background {
    @include backgroundGradient($layer-accent-hover-01);
  }

  &.#{$prefix}--data-table--selected:not(:hover) {
    .#{$iot-prefix}--row-actions-container__background--overflow-menu-open,
    .#{$iot-prefix}--row-actions-container__background:focus-within {
      @include backgroundGradient($gray-20); //$carbon--gray-20
    }
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--row-actions-container__background {
    margin-left: unset;
    margin-right: $spacing-04;
    padding-left: $spacing-06;
    padding-right: $spacing-06;

    .#{$prefix}--btn__icon {
      margin-left: unset;
      margin-right: $spacing-03;
      transform: rotate(180deg);
    }

    .#{$prefix}--loading--small {
      margin-right: unset;
      margin-left: $spacing-03;
    }

    .#{$iot-prefix}--row-actions-cell--overflow-menu {
      margin-left: unset;
    }
  }
}

.#{$iot-prefix}--row-actions-cell--table-cell {
  &.#{$iot-prefix}--row-actions-cell--table-cell {
    padding: 0;
    vertical-align: middle;
  }
}

.#{$iot-prefix}--row-actions-cell--overflow-menu-content {
  display: flex;
  align-items: center;
}

.#{$iot-prefix}--row-actions-cell--overflow-menu {
  &.#{$iot-prefix}--row-actions-cell--overflow-menu {
    margin-left: 0.5rem;
    &:hover > svg {
      fill: $button-primary;
    }
  }
}

.#{$iot-prefix}--row-actions-error--span {
  margin-left: 0.5rem;
  line-height: 1.875rem;
}

.#{$iot-prefix}--row-actions-error--title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.#{$iot-prefix}--row-actions-error--footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.#{$iot-prefix}--row-actions-error--tooltip {
  font-size: 0.875rem;
}
