@use '@carbon/reacts/scss/components/overflow-menu' as *;

button.#{$prefix}--overflow-menu {
  background: none;
}

button.#{$iot-prefix}--overflow-menu-icon {
  justify-content: center;

  .#{$prefix}--btn__icon {
    width: initial;
    height: initial;
  }

  &.#{$prefix}--btn--icon-only.#{$prefix}--tooltip__trigger {
    & svg {
      fill: $layer-selected-inverse;
      margin-left: 0;
    }

    &:hover svg,
    &:focus svg {
      fill: $layer-selected-inverse;
    }
  }
}

.#{$iot-prefix}--overflow-menu--with-label {
  width: unset;
  font-size: 0.875rem;
}
