@import '../../vendor/@ai-apps/styles/scss/globals/vars';

tr.table-row:not(:first-of-type) {
  border-top: 2px solid white;
}

th:not(:last-of-type) {
  border-right: 2px solid white;

  &.table-selection-column {
    border-right: none;
  }
}

.ai-table {
  .#{$prefix}--table-sort,
  &.#{$prefix}--data-table th button {
    align-items: flex-end;
    padding-bottom: $spacing-05;
  }
  &.#{$prefix}--data-table th {
    position: inherit;
  }
  .#{$iot-prefix}--table-head-cell {
    vertical-align: bottom;
  }
}
