@import '../../../../globals/vars';

.#{$iot-prefix}--table-detail-wizard-header--wrapper {
  display: flex;
  border-bottom: 1px solid #dadada8c;
}

.#{$iot-prefix}--table-detail-wizard-header--heading {
  padding-left: 80px;
  font-size: 1.25rem;
  line-height: 50px;
  vertical-align: middle;
}

.#{$iot-prefix}--table-detail-wizard-header--button {
  margin-left: auto;

  .bx--btn__icon {
    margin-left: 5px;
    margin-right: 5px;
  }
}
