@import '../../../globals/vars';

.#{$iot-prefix}--save-view-modal__body-text {
  margin-bottom: 1.5rem;
}

.#{$iot-prefix}--save-view-modal__view-description {
  margin-top: $spacing-04;
  margin-bottom: $spacing-04;
  color: $carbon--gray-60;
}
