@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use "../../globals/layout";
@use "../../globals/motion";
@use "../../globals/typography";
@use '~@carbon/styles/scss/components/progress-indicator';

.#{vars.$iot-prefix}--progress-indicator {
  display: flex;

  .#{vars.$iot-prefix}--progress-step {
    width: 8rem;
    height: layout.rem(68px);
    &-line {
      position: absolute;
      width: calc(100% - #{spacing.$spacing-06});
      height: spacing.$spacing-01;
      background-color: theme.$ui-03;
      top: layout.rem(11px);
      left: spacing.$spacing-06;

      &--complete {
        @extend %#{vars.$iot-prefix}--progress-step-line;
        background-color: theme.$interactive-01;
      }

      &--sub {
        @extend %#{vars.$iot-prefix}--progress-step-line;
        left: spacing.$spacing-05;
        width: calc(100% - #{spacing.$spacing-05});

        &-complete {
          @extend %#{vars.$iot-prefix}--progress-step-line--sub;
          background-color: theme.$interactive-03;
        }
      }
    }

    &-button {
      display: flex;
      position: relative;
      text-align: left;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      background-color: Transparent;
      background-repeat: no-repeat;
      cursor: default;
      border: none;

      .#{vars.$iot-prefix}--progress-step-icon {
        height: max-content;
        width: max-content;
        text {
          font-size: 1.125rem;
        }
      }

      &--sub-step .#{vars.$iot-prefix}--progress-step-icon {
        margin-top: spacing.$spacing-02;
        margin-left: 0;
      }

      .#{vars.$iot-prefix}--progress-text {
        position: absolute;
        left: 0;
        top: spacing.$spacing-07;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        display: block;
        margin-left: spacing.$spacing-01;
        margin-right: spacing.$spacing-01;

        &--hidden {
          visibility: hidden;
        }

        &-label {
          @include typography.type-style('body-short-01');
          position: relative;
          color: theme.$text-01;
          cursor: default;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: auto;

          transition: box-shadow motion.$duration-fast-02 motion.motion(standard, productive),
            color motion.$duration-fast-02 motion.motion(standard, productive);

          &:focus {
            color: theme.$interactive-01;
          }
          &:hover {
            box-shadow: 0 layout.rem(1px) theme.$link-01;
            color: theme.$interactive-01;
          }
          &:active {
            box-shadow: 0 layout.rem(3px) 0 0 theme.$interactive-01;
          }
        }

        &-label--optional {
          @include typography.type-style('body-short-01');
          position: relative;
          cursor: default;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: auto;
          font-size: spacing.$spacing-04;
          color: theme.$icon-02;
          margin-top: spacing.$spacing-01;
        }
      }

      &--clickable {
        .#{vars.$iot-prefix}--progress-text-label,
        .#{vars.$iot-prefix}--progress-text-label--optional {
          cursor: pointer;
        }
      }
    }

    &--current {
      &:not(.#{vars.$iot-prefix}--progress-step--invalid) {
        .#{vars.$iot-prefix}--progress-step-button {
          &--main-step {
            fill: theme.$interactive-01;

            // force the correct color for the svg
            text {
              fill: theme.$text-04;
            }
            circle {
              fill: theme.$interactive-01;
            }
            path {
              fill: theme.$interactive-01;
            }
          }
          &--sub-step {
            svg {
              fill: theme.$interactive-03;
            }
          }
        }
      }
      .#{vars.$iot-prefix}--progress-text-label {
        &:focus {
          box-shadow: unset;
          color: theme.$text-01;
        }
        &:hover {
          box-shadow: unset;
          color: theme.$text-01;
        }
        &:active {
          box-shadow: unset;
        }
      }
    }

    &--complete {
      svg {
        fill: theme.$interactive-01;
      }
    }

    &--incomplete {
      .#{vars.$iot-prefix}--progress-step-button--main-step {
        fill: theme.$text-01;
      }

      .#{vars.$iot-prefix}--progress-step-button--sub-step {
        svg {
          color: theme.$text-01;
        }
      }
    }

    &--disabled {
      &:not(.#{vars.$iot-prefix}--progress-step--invalid) {
        .#{vars.$iot-prefix}--progress-step-button--main-step {
          fill: theme.$disabled-02;
        }

        .#{vars.$iot-prefix}--progress-step-button--sub-step {
          svg {
            fill: theme.$disabled-02;
          }
        }
      }

      &.#{vars.$iot-prefix}--progress-step--invalid {
        svg {
          fill: theme.$disabled-02;
        }
      }

      .#{vars.$iot-prefix}--progress-step-button .#{vars.$iot-prefix}--progress-text {
        &-label,
        &-label--optional {
          color: theme.$disabled-02;
          cursor: default;
          box-shadow: none;
        }
      }
    }

    &--invalid {
      svg {
        fill: theme.$text-error;
      }
    }
  }

  html[dir='rtl'] & {
    float: right;
    text-align: right;
    width: 100%;

    .#{vars.$iot-prefix}--progress-step {
      &-button {
        text-align: right;
      }
      &-icon {
        left: unset;
        right: 0;
        text-align: right;
      }
      &-line {
        left: 0;
        right: spacing.$spacing-06;
        text-align: right;

        &--sub {
          left: 0;
          right: spacing.$spacing-05;
        }
      }
    }

    .#{vars.$iot-prefix}--progress-text {
      right: 0;
      text-align: right;
    }
  }

  &--vertical {
    display: unset;

    .#{vars.$iot-prefix}--progress-step {
      &-button {
        .#{vars.$iot-prefix}--progress-text {
          left: spacing.$spacing-07;
          top: layout.rem(3px);
        }
        &--sub-step {
          .#{vars.$iot-prefix}--progress-text {
            top: 0;
          }
          .#{vars.$iot-prefix}--progress-step-icon {
            margin-top: 0;
            margin-left: spacing.$spacing-02;
            margin-right: spacing.$spacing-02;
          }
        }
      }

      &-line {
        width: spacing.$spacing-01;
        height: calc(100% - #{spacing.$spacing-06});
        top: spacing.$spacing-06;
        left: layout.rem(11px);

        &--complete {
          @extend %#{vars.$iot-prefix}--progress-step-line;
        }
        &--sub {
          @extend %#{vars.$iot-prefix}--progress-step-line;
          top: spacing.$spacing-05;
          height: calc(100% - #{spacing.$spacing-05});
          width: spacing.$spacing-01;
          &-complete {
            @extend %#{vars.$iot-prefix}--progress-step-line--sub;
          }
        }
      }
    }

    html[dir='rtl'] & {
      float: right;
      text-align: right;
      width: 100%;

      .#{vars.$iot-prefix}--progress-step {
        &-button {
          text-align: right;
          .#{vars.$iot-prefix}--progress-text {
            right: spacing.$spacing-07;
            text-align: right;
          }
        }
        &-line {
          left: unset;
          right: layout.rem(11px);
          text-align: right;
        }
      }

      .#{vars.$prefix}--skeleton {
        .#{vars.$prefix}--progress-step--incomplete svg {
          margin-right: 0;
          margin-left: spacing.$spacing-03;
        }
      }
    }
  }

  .#{vars.$prefix}--skeleton {
    .#{vars.$prefix}--progress-step {
      flex: unset;
    }
  }
}
