@import '~carbon-components/scss/globals/scss/vars';

.#{$prefix}--header {
  .#{$prefix}--skip-to-content:focus {
    min-width: 240px;
    justify-content: center;
    border: $spacing-01 solid $ui-01;
  }

  &__menu-toggle {
    display: block;
  }

  &__name {
    font-size: $spacing-01;
  }

  &__menu-title[role='menuitem'][aria-expanded='true'] + &__menu {
    left: auto;
    right: 0;
  }

  &__menu {
    min-width: 12.5rem;
    width: auto;
  }

  &__menu-item[role='menuitem']:focus {
    border-color: $ui-01;
    outline: none;
  }
}

.#{$iot-prefix}--header__subtitle {
  @include type-style('body-short-01');
  border-left: $icon-02 1px solid;
  padding: $spacing-01 $spacing-05;
  color: $disabled-02;
  margin-left: $spacing-05;
}

.#{$prefix}--header-action-btn {
  height: 3rem;
  width: 3rem;
  padding: 0;

  .#{$prefix}--header__menu-item[role='menuitem'] {
    height: 100%;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  span {
    display: flex;
  }
}

.#{$prefix}--header__menu .#{$prefix}--header__menu-item[role='menuitem'] {
  display: flex;
  align-items: center;
  color: $active-ui;
  height: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.125rem;
  text-decoration: none;
  user-select: none;
  border: 2px solid #0000;
  transition: background-color $duration--fast-02, border-color $duration--fast-02,
    color $duration--fast-02;
  justify-content: center;
  padding: 0;
  width: 100%;

  &:focus {
    border-color: white;
  }
}

.#{$prefix}--app-switcher {
  background-color: $ui-01;
  border: none;
}

.action-btn__headerpanel {
  outline: none;

  &--closed * {
    display: none;
  }
}

.#{$prefix}--header__menu-item:not(svg) {
  position: relative;
  display: flex;
  align-items: center;
  color: $shell-header-text-02;
  padding: 0 mini-units(2);
  // Used for links that are directly in the menubar to span the full height
  height: 100%;
  // Text styles
  font-size: carbon--type-scale(1);
  font-weight: 400;
  letter-spacing: 0;
  line-height: carbon--type-scale(3);
  // Reset link styles and make sure the text isn't selectable
  text-decoration: none;
  user-select: none;
  // Used for focus styles
  border: 2px solid transparent;
  transition: background-color $duration--fast-02, border-color $duration--fast-02,
    color $duration--fast-02;
}

button.#{$prefix}--header__menu-item {
  background: none;
  width: 100%;

  &:focus {
    border-color: #fff;
    color: $ui-02;
    outline: none;
  }
}
