@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;

.#{$iot-prefix}--icon-switch {
  &:focus {
    box-shadow: inset 0 0 0 2px $focus, inset 0 0 0 3px $layer-01;

    &,
    & + .#{$iot-prefix}--icon-switch {
      .#{$iot-prefix}--icon-switch__divider:after {
        display: none;
      }
    }
  }

  &:hover {
    // hide the divider on hover
    .#{$iot-prefix}--icon-switch__divider:after {
      display: none;
    }

    // hide the divider beside it on hover to prevent "fuzziness" of the hover state
    + .#{$iot-prefix}--icon-switch .#{$iot-prefix}--icon-switch__divider:after {
      display: none;
    }
  }

  .#{$prefix}--btn__icon {
    height: $spacing-05;
    width: $spacing-05;
  }

  &.#{$prefix}--btn {
    &:not(:focus) {
      &:hover {
        &.#{$prefix}--tooltip__trigger {
          .#{$prefix}--assistive-text {
            // z-index: (z('floating') * 2); //carbon 11
          }
        }
      }
    }
  }
}

.#{$iot-prefix}--icon-switch__divider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: $spacing-05;
    width: 1px;
    transform: translateY(-50%);
    background-color: $layer-accent-01;
  }

  :focus &:after {
    background-color: $focus;
  }
}
