@import '../../globals/vars';

$icon-switch-size-small: $spacing-07;
$icon-switch-size-default: $spacing-08;
$icon-switch-size-large: $spacing-09;

.#{$iot-prefix}--icon-switch {
  border: 0;
  border-top: 1px solid $ui-05;
  border-bottom: 1px solid $ui-05;
  position: relative;

  &__divider {
    position: absolute;
    top: 50%;
    left: 0;
    height: $spacing-05;
    width: 1px;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: $ui-03;

    :focus & {
      background-color: $focus;
    }

    .#{$iot-prefix}--icon-switch--selected & {
      background-color: $ui-05;
    }
  }

  &:disabled {
    &,
    &:hover {
      background-color: $disabled-03;
      color: $disabled-02;
    }
  }

  &:first-child {
    border-right: 0;
    border-top-left-radius: $spacing-02;
    border-bottom-left-radius: $spacing-02;

    .#{$iot-prefix}--icon-switch__divider {
      display: none;
    }
  }

  &:last-child {
    border: 1px solid $ui-05;
    border-top-right-radius: $spacing-02;
    border-bottom-right-radius: $spacing-02;
    border-left: 0;
  }

  &:first-child + &:last-child {
    .#{$iot-prefix}--icon-switch__divider {
      display: none;
    }
  }

  &.#{$iot-prefix}--icon-switch--selected + &.#{$iot-prefix}--icon-switch--selected {
    .#{$iot-prefix}--icon-switch__divider {
      background-color: $icon-03;
    }
  }

  &:focus {
    border-radius: 1px 0 0 1px;
    border: 1px solid;
  }

  .#{$prefix}--btn__icon {
    height: $spacing-05;
    width: $spacing-05;
  }

  &--small {
    min-height: $icon-switch-size-small;
    height: $icon-switch-size-small;
    min-width: $icon-switch-size-small;
    width: $icon-switch-size-small;
    padding: 0 0 0 $spacing-03;
  }

  &--default {
    min-height: $icon-switch-size-default;
    height: $icon-switch-size-default;
    min-width: $icon-switch-size-default;
    width: $icon-switch-size-default;
    padding: 0 0 0 $spacing-04;
  }

  &--large {
    min-height: $icon-switch-size-large;
    height: $icon-switch-size-large;
    min-width: $icon-switch-size-large;
    width: $icon-switch-size-large;
    padding: 0 0 0 $spacing-05;
  }

  &--light {
    background-color: transparent;
    color: $icon-02;
    border: 1px solid $ui-05;

    &:focus {
      color: $icon-02;
    }

    &.#{$iot-prefix}--icon-switch--selected {
      .#{$iot-prefix}--icon-switch__divider {
        background-color: transparent;
      }

      + .#{$iot-prefix}--icon-switch--unselected {
        .#{$iot-prefix}--icon-switch__divider {
          display: none;
        }
      }
    }

    .#{$iot-prefix}--icon-switch__divider {
      background-color: $ui-04;
    }

    &:first-child {
      border: 1px solid $ui-05;
      border-top-left-radius: $spacing-02;
      border-bottom-left-radius: $spacing-02;

      .#{$iot-prefix}--icon-switch__divider {
        display: none;
      }
    }

    &:last-child {
      border: 1px solid $ui-05;
      border-top-right-radius: $spacing-02;
      border-bottom-right-radius: $spacing-02;
    }

    &:hover {
      color: $icon-02;
      background-color: transparent;
    }

    &:disabled {
      &,
      &:hover {
        background-color: $disabled-01;
        border-color: $disabled-02;
        color: $disabled-02;
      }
    }

    // fix borders being too wide when multiple IconSwitches are used w/o a ContentSwitcher
    // ie. HotspotTextStyleTab
    &.#{$iot-prefix}--icon-switch--selected + &.#{$iot-prefix}--icon-switch--selected {
      border-left: 0;
    }
  }

  &--unselected {
    background-color: transparent;
    color: $icon-01;

    &:disabled {
      &,
      &:hover {
        background-color: transparent;
        border-color: $disabled-02;
        color: $disabled-02;
      }
    }

    &:hover {
      color: $icon-01;
      background-color: $hover-ui;
    }

    &:focus {
      color: $icon-01;
      border: 1px solid;
    }

    &:first-of-type {
      border-left: 1px solid $ui-05;
    }
  }
  &--unselected--light {
    background-color: $ui-03;
    color: $icon-02;
    border: 1px solid $ui-03;

    &:first-child {
      border-top-left-radius: $spacing-02;
      border-bottom-left-radius: $spacing-02;

      .#{$iot-prefix}--icon-switch__divider {
        display: none;
      }
    }

    &:last-child {
      border: 1px solid $ui-03;
      border-top-right-radius: $spacing-02;
      border-bottom-right-radius: $spacing-02;
      border-left: 0;
    }

    &:disabled {
      &,
      &:hover {
        background-color: $ui-02;
        border-color: $ui-02;
        color: $disabled-02;
      }
    }

    &:hover {
      color: $icon-02;
      background-color: $hover-ui;
    }

    &:focus {
      color: $icon-02;
      border: 1px solid;
    }

    &:first-of-type {
      border: 1px solid $ui-03;
    }
  }
  &.#{$prefix}--btn {
    &:not(:focus) {
      &:hover {
        &.#{$prefix}--tooltip__trigger {
          .#{$prefix}--assistive-text {
            z-index: (z('floating') * 2);
          }
        }
      }
    }
  }
}

// bx--content-switcher has justify-content: spread-evently which does not look right when
// using icon switchers. Use this class to override this behaviour
.#{$iot-prefix}--content-switcher--icon {
  justify-content: center;
}

html[dir='rtl'] {
  .#{$iot-prefix}--icon-switch {
    &--small {
      padding: 0 $icon-switch-size-small/4 0 0;
    }
    &--default {
      padding: 0 $icon-switch-size-default/4 0 0;
    }
    &--large {
      padding: 0 $icon-switch-size-large/4 0 0;
    }
  }
}
