@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/components/radio-button' as *;

html[dir='rtl'] {
  .#{$prefix}--radio-button-wrapper:not(:last-of-type) {
    margin-left: $spacing-05;
    margin-right: unset;
  }
  .#{$prefix}--radio-button__appearance {
    margin-left: $spacing-03;
    margin-right: unset;
  }
}
