@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.#{$iot-prefix}--select-users-modal {
  .#{$prefix}--modal-container .#{$prefix}--modal-content {
    padding-right: $spacing-05;
  }

  .#{$iot-prefix}--list {
    background-color: $layer-01;
    height: 100%;
  }

  .#{$iot-prefix}--list-item {
    overflow: hidden;
  }

  .#{$prefix}--search-input {
    background-color: $background;
  }
  .#{$iot-prefix}--list-header--search,
  .#{$iot-prefix}--list-header-container,
  .#{$iot-prefix}--list-header,
  .#{$iot-prefix}--list--content {
    background-color: transparent;
  }
}

.#{$iot-prefix}--select-users-modal-content {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;

  /* Hide the unused nested modal reordering dialog that throws off the scrolling */
  .#{$iot-prefix}--hierarchy-list-bulk-modal {
    display: none;
  }
}

.#{$iot-prefix}--select-users-modal-content__all-users {
  width: 100%;
  height: 404px;
  align-self: stretch;
  padding: $spacing-02;
}

.#{$iot-prefix}--select-users-modal-content__selected-users {
  width: 100%;
  height: 404px;
  align-self: stretch;
  padding: $spacing-02;
}
