@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars';

// We need to override some List specific styles to
// make the list behave correctly
.#{vars.$iot-prefix}--manage-views-list {
  // Temp fix for https://github.com/carbon-design-system/carbon-addons-iot-react/issues/1479
  // Without this the list's pagination element appears in the wrong place.
  &.#{vars.$iot-prefix}--list__full-height {
    height: unset;
  }

  .#{vars.$iot-prefix}-simple-pagination-container {
    margin: spacing.$spacing-02 0;
  }

  // This is a temporary fix for https://github.com/IBM/carbon-addons-iot-react/issues/1424
  // Without this the second value will always only be 1rem wide.
  .#{vars.$iot-prefix}--list-item--content--values--value__with-actions {
    width: inherit;
  }

  // Fix for https://github.com/carbon-design-system/carbon-addons-iot-react/pull/1941#issuecomment-762870482
  .#{vars.$iot-prefix}--list-item--content--row-actions {
    position: relative;
  }
}
