@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/layer' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/components/button' as *;
@use '@carbon/react/scss/utilities/convert';
.#{$iot-prefix}--suite-header-profile {
  background-color: $layer-selected-inverse;
  color: $text-inverse; //$inverse-01
  width: 100%;
  padding: $spacing-05;

  h5 {
    margin-bottom: $spacing-04;
  }

  &--user {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-05;

    &--chip {
      width: $spacing-07;
      height: $spacing-07;
      border-radius: $spacing-05;
      background-color: $layer-accent-01;
      color: $text-primary;
      text-align: center;
      line-height: $spacing-07;
    }

    &--detail {
      flex: 1;
      padding-left: $spacing-05;
      overflow: hidden;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &--manage-button {
    padding-bottom: $spacing-08;

    /* mimic tertiary button from grey-100 theme */
    .#{$prefix}--btn {
      border: solid 1px $layer-02;
      background-color: $layer-selected-inverse;

      &:hover {
        background-color: $layer-02;
        color: $layer-selected-inverse;
      }
    }
    &--no-logout {
      padding-bottom: $spacing-03;
    }
  }

  &--loading {
    height: 120px;
    p {
      background-color: $background-inverse-hover;
      height: $spacing-04;
      margin-bottom: $spacing-02;
    }
    &--no-logout {
      height: 88px;
    }
  }

  &--logout {
    margin: -$spacing-05;

    .#{$prefix}--btn {
      width: 100%;
    }
    &--loading {
      div {
        background-color: $background-inverse-hover !important;
      }
    }
  }
}

.#{$iot-prefix}--suite-header-survey-toast {
  position: fixed;
  top: $spacing-09; //$layout-04
  right: 0;
  max-width: convert.to-rem(425px);
  width: auto;
  z-index: z('overlay');
  margin: $spacing-05 $spacing-05 $spacing-03 0;

  .#{$prefix}--toast-notification__title {
    margin-top: $spacing-04;
  }
}

.#{$iot-prefix}--suite-header-survey-policy-link {
  margin: auto;
  width: 50%;
  padding-top: $spacing-04;
}

.#{$iot-prefix}--suite-header .#{$prefix}--app-switcher > ul {
  li.action-btn__headerpanel-li {
    height: 100%;
  }
}

.#{$iot-prefix}--suite-header-app-switcher {
  overflow-y: auto;
  padding-top: 0;

  li {
    width: 100%;
    button,
    a {
      margin: $spacing-05;
      width: calc(100% - 32px);
      min-height: 40px;
    }
    p:not(.#{$prefix}--skeleton__text) {
      @include type-style('heading-compact-01');
      display: flex;
      align-items: center;
      padding: $spacing-05 $spacing-05 0;
      text-decoration: none;
      color: $text-primary;
    }
  }

  a {
    align-items: center;
  }

  &--nav-link {
    a {
      text-decoration: none;
    }
    &--loading {
      display: flex;
      padding: $spacing-05;
      flex-direction: column;
      p {
        margin-bottom: $spacing-05;
      }
    }
    &--button--loading {
      padding: $spacing-05;
      div {
        min-height: 40px;
        width: 100% !important;
      }
    }
    &--separator {
      padding: 0;
      height: 0;
      border-bottom: 1px solid $layer-accent-01;
      margin: 0 $spacing-05 0 $spacing-05;
    }
  }

  &--app-link {
    button,
    a {
      @include type-style('heading-compact-01');
      text-decoration: none;
      color: $text-secondary;
    }
  }

  &--no-app {
    padding: $spacing-10 $spacing-07 $spacing-05; // $layout-05
    .bee-icon-container {
      display: block;
      svg {
        display: inherit;
      }
      .bee-shadow {
        background-color: $layer-accent-01;
        height: $spacing-03;
        width: $spacing-07;
        border-radius: 50%;
        margin-top: $spacing-02;
      }
    }
    span {
      @include type-style('body-compact-01');
      color: $text-primary;
      padding-top: $spacing-05;
    }
    a {
      @include type-style('body-compact-01');
      text-decoration: none;
      padding: 0;
      margin: $spacing-05 0;
    }
  }
}

.#{$iot-prefix}--suite-header-app-switcher-multiworkspace {
  overflow-y: auto;
  background-color: $layer-selected-inverse;
  padding-top: 0;

  p {
    @include type-style('body-compact-01');
    display: flex;
    align-items: center;
    padding: $spacing-05 $spacing-05 $spacing-03;

    text-decoration: none;
    color: $text-inverse; //$inverse-01;
  }

  &--divider {
    margin: $spacing-03 0 0 0;
    background-color: $button-secondary;
  }

  &--app-link,
  a.#{$prefix}--side-nav__link {
    &.#{$prefix}--side-nav__link--current {
      background-color: $background-inverse;
      > .#{$prefix}--side-nav__link-text {
        color: $field-01;
      }
    }
    > .#{$prefix}--side-nav__link-text {
      white-space: nowrap;
      color: $text-inverse; //$inverse-01
    }
    svg {
      fill: $icon-on-color;
    }
  }
  &--external {
    .#{$prefix}--side-nav__link-text {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  &--no-icon .#{$prefix}--side-nav__link-text {
    padding-left: $spacing-08;
  }
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    > .#{$prefix}--side-nav__link:hover {
    background-color: $button-secondary-hover;
    .#{$prefix}--side-nav__link-text {
      color: $text-inverse; //$inverse-01
    }
    svg {
      fill: $icon-on-color;
    }
  }

  &--workpsace-selector {
    flex-direction: row-reverse;
    justify-content: space-between;
    > div.#{$prefix}--side-nav__icon {
      margin: 0;
    }
  }

  &--no-app {
    padding: $layout-05 $spacing-07 $spacing-05;
    .bee-icon-container {
      display: block;
      svg {
        display: inherit;
        fill: $layer-accent-01;
      }
      .bee-shadow {
        background-color: $border-disabled;
        height: $spacing-03;
        width: $spacing-07;
        border-radius: 50%;
        margin-top: $spacing-02;
      }
    }
    span {
      @include type-style('body-compact-01');
      color: $layer-active-01;
      padding-top: $spacing-05;
    }
    a {
      @include type-style('body-compact-01');
      text-decoration: none;
      padding: 0;
      margin: $spacing-05 0;
      color: $link-inverse; //$inverse-link;
    }
  }
}

.#{$iot-prefix}--suite-header {
  &-data {
    display: none;
  }
  &-subtitle {
    margin-left: $spacing-05;
    &-appname {
      margin-left: $spacing-05;
      padding-left: $spacing-05;
      border-left: $text-secondary 1px solid;
    }
  }
  a.admin-icon {
    svg {
      display: flex;
      fill: $layer-01; //$ui-0
    }
  }
  a.admin-icon__hidden {
    visibility: hidden !important;
  }
  a.admin-icon__selected {
    background-color: $button-secondary;
    border: none;
    border-bottom: $spacing-01 solid $layer-01;
    padding-top: $spacing-01;
  }

  .#{$prefix}--header__global {
    position: relative;

    button {
      display: flex;
      align-items: center;
    }

    .#{$prefix}--header-action-btn {
      .#{$prefix}--btn--primary {
        background-color: unset;
      }

      .#{$prefix}--header__menu-item {
        &.#{$prefix}--btn--icon-only > :first-child {
          margin-block-start: 0;
        }
        span {
          display: flex;
        }
      }
    }
  }

  .#{$iot-prefix}--header__subtitle {
    padding: 0 $spacing-05;
    min-height: unset;
  }

  .#{$prefix}--header__submenu.#{$prefix}--header-action-btn {
    &[aria-expanded='true'] > ul.#{$prefix}--header__menu {
      div.#{$prefix}--header__menu-item {
        padding: 0;
        border: none;
        color: $text-secondary;
        background-color: $background;

        &:hover {
          background-color: inherit;
          color: inherit;
        }

        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: center;
      }

      a.#{$prefix}--header__menu-item {
        padding: $spacing-05;

        &:hover {
          color: $text-on-color;
        }
      }
    }
  }

  .#{$prefix}--header__menu-title[role='menuitem'][aria-expanded='true']
    + .#{$prefix}--header__menu {
    width: 16rem;
  }

  .#{$iot-prefix}--suite-header-help--loading {
    background-color: $layer-selected-inverse;
    color: $text-inverse; //$inverse-01;
    width: 100%;
    padding: $spacing-05;
    p {
      background-color: $background-inverse-hover;
      margin-bottom: $spacing-06;
    }
  }

  .#{$iot-prefix}--suite-header-help--separator {
    padding: 0;
    height: 0;
    border-bottom: 1px solid $button-secondary-hover;
    margin: 0 $spacing-05 0 $spacing-05;
  }

  &--logout {
    a.#{$prefix}--header__menu-item {
      background-color: $button-secondary;
      color: $text-inverse; //$inverse-01
      &:hover {
        background-color: $button-secondary-hover !important;
      }
    }
  }
  &--logout--loading {
    div {
      background-color: $background-inverse-hover !important;
      width: 256px !important;
    }
  }
}

.#{$iot-prefix}--session-timeout-modal {
  z-index: 9999;
  .#{$prefix}--modal-header .#{$prefix}--modal-close {
    display: none;
  }
}
