@use '../../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
.#{$iot-prefix}--table-skeleton-with-headers--table-row {
  pointer-events: none;
  &:hover td {
    border: 1px solid #dfe3e6;
    background: inherit;
  }

  .#{$prefix}--skeleton__text {
    margin-bottom: 0;
  }

  &--head {
    td {
      background-color: $border-subtle; // $ui-03
    }

    .#{$prefix}--skeleton__text {
      background: $border-strong; // $ui-04;

      &:before {
        background: $text-placeholder; //$text-03
      }
    }
  }
}
