@use '../../../globals/theme' as *;
@use '../../../globals/spacing' as *;
@use '../../../globals/vars' as *;

.#{$iot-prefix}--table-skeleton-with-headers--table-row {
  pointer-events: none;
  &:hover td {
    border: 1px solid #dfe3e6;
    background: inherit;
  }

  .#{$prefix}--skeleton__text {
    margin-bottom: 0;
  }

  &--head {
    td {
      background-color: $ui-03;
    }

    .#{$prefix}--skeleton__text {
      background: $ui-04;

      &:before {
        background: $text-03;
      }
    }
  }
}
