@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
@use '../../globals/colors';
@use "../../globals/layout";
@use "../../globals/motion";

// StatefulTileGallery extra content
.extra-content {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  .#{$prefix}--search-input {
    height: spacing.$spacing-08;
    font-size: 0.875rem;
  }
  & > * {
    margin-left: spacing.$spacing-05;
    margin-right: spacing.$spacing-05;
  }
  .#{$prefix}--form-item {
    flex-grow: 0;
    flex-basis: 20rem;
  }
  .#{$prefix}--content-switcher {
    width: 10rem;
    display: flex;
    margin-left: spacing.$spacing-06;
    margin-right: spacing.$spacing-06;
  }
  .#{$prefix}--content-switcher-btn {
    padding: 0 spacing.$spacing-05;
    width: 5rem;
  }
}

// TileGallery component
.tile-gallery {
  &--section {
    .#{$prefix}--accordion__title {
      font-size: spacing.$spacing-05;
      font-weight: bold;
    }
    .#{$prefix}--accordion__content {
      padding-left: 0;
    }
    .#{$prefix}--accordion__item:last-child {
      border-bottom: none;
    }
    .#{$prefix}--accordion__item {
      border-top: none;
    }
    .#{$prefix}--accordion__heading {
      border-bottom: layout.rem(1px) solid theme.$ui-03;
    }

    &--items {
      display: flex;
      padding-bottom: spacing.$spacing-07;
      flex-flow: row wrap;
    }
  }
}

.tile-gallery-item {
  text-decoration: none;
  margin-right: spacing.$spacing-05;
  flex-basis: 30%;
  height: layout.rem(128px);
  min-width: layout.rem(256px);
  width: layout.rem(256px);
  position: relative;
  margin-top: spacing.$spacing-05;
  box-shadow: none;
  border: solid layout.rem(1px) theme.$ui-background;

  .options {
    flex: 0;
    color: theme.$text-01;
    .#{$prefix}--overflow-menu {
      height: spacing.$spacing-07;
      margin-right: -(spacing.$spacing-03);
    }
    .#{$prefix}--inline-loading {
      flex-direction: row-reverse;
      margin-left: spacing.$spacing-03;
    }
    .#{$prefix}--inline-loading__text {
      margin-bottom: 0;
      min-width: 3.5rem;
    }
  }
  .description-card {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  small {
    color: theme.$text-01;
  }
  .title-card {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: colors.$black-100;
    font-weight: bold;
    flex: 1;
    padding-right: spacing.$spacing-05;
    overflow-x: hidden;
  }
  &.#{$prefix}--tile--clickable:hover,
  .tile-list-title:hover {
    background: colors.$white-0;
  }
  .overflow-menu {
    margin-top: -(spacing.$spacing-03);
    margin-left: auto;
  }
  &.#{$prefix}--link:hover {
    text-decoration: none;
  }

  &.tile-list-title {
    height: 5.9375rem;
    flex: 0 0 31.25rem;
    box-shadow: none;
    border-bottom: 0.0625rem solid rgb(223, 227, 230);
    background: theme.$ui-01;
    cursor: pointer;
    pointer-events: auto;
    touch-action: auto;

    &:hover {
      background: theme.$ui-03;
      border: none;
    }
    .title-card {
      margin-left: spacing.$spacing-05;
    }
    .description-card {
      span {
        padding-left: spacing.$spacing-07;
        color: theme.$ui-04;
      }
    }
  }

  &.tile-card-title {
    height: 16rem;
    flex: 0 0 16rem;
    cursor: pointer;
    pointer-events: auto;
    touch-action: auto;
    .top-section {
      display: flex;
      justify-content: center;
      align-items: center;
      background: theme.$ui-02;
      margin-bottom: 0.9375rem;
      position: relative;
      width: 100%;
      height: 12rem;
    }
    .thumbnail {
      display: block;
      padding-left: layout.rem(5px);
    }
    .description-card {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      transition: motion.$duration-slow-01 ease;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: theme.$ui-background;
      }
    }
    .description-card:hover {
      background: rgba(41, 41, 41, 0.8);
      opacity: 1;
    }
    .title-card {
      margin-left: spacing.$spacing-03;
      width: 11rem;
      margin-top: spacing.$spacing-01;
    }
  }
  .content-container {
    display: flex;
    min-height: 24px;
  }
}
