@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/typography';

.page-title-bar {
  padding: $spacing-06 $spacing-07 $spacing-03 $spacing-07;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--text {
      align-items: center;
      display: flex;

      h2 {
        @include type-style('productive-heading-03');
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
  }

  &-description {
    @include type-style('body-short-01');
    margin-top: $spacing-05;
    max-width: 40rem;
  }

  &-breadcrumb {
    display: flex;
    justify-content: space-between;
  }

  &-loading {
    height: carbon--rem(20px);
    margin-top: carbon--rem(8.5px);
    margin-bottom: carbon--rem(7px);
    margin-left: carbon--rem(2.5px);
  }

  &-content {
    margin-top: $spacing-05;
  }
}
