@use '../../globals/vars' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
.#{$iot-prefix}--value-card__attribute-unit {
  @include type-style('heading-03');
  padding-left: $spacing-02;
  padding-bottom: $spacing-02;
  white-space: nowrap;
}
