@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use "../../globals/typography";

.#{vars.$iot-prefix}--value-card__attribute-unit {
  @include typography.type-style('productive-heading-03');
  padding-left: spacing.$spacing-02;
  padding-bottom: spacing.$spacing-02;
  white-space: nowrap;
}
