@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
.#{$iot-prefix}--value-card {
  &__vertical {
    .#{$iot-prefix}--card--content {
      overflow-x: auto;
    }
  }

  &__content-wrapper {
    display: flex;
    width: 100%;

    &--vertical {
      flex-direction: column;
      padding: 0 0 $spacing-05;
    }
  }
}
