@import '../../globals/vars';

.#{$iot-prefix}--value-card__attribute--wrappable {
  flex-wrap: wrap;
}

.#{$iot-prefix}--value-card__attribute-icon-container {
  margin-left: auto;
}

.#{$iot-prefix}--value-card__attribute-icon-container--wrappable {
  margin-left: 0;
}

.#{$iot-prefix}--value-card__attribute-threshold-icon-container {
  width: $spacing-05;
  height: $spacing-05;
  margin: 0 0 $spacing-03 $spacing-03;
}

.#{$iot-prefix}--value-card__attribute-threshold-icon-container--mini {
  margin: unset;
}

.#{$iot-prefix}--value-card__attribute-threshold-icon-container--wrappable {
  margin-left: 0;
}

.#{$iot-prefix}--value-card__attribute_trend-icon {
  margin-right: $spacing-02;
}
