@import '../../globals/vars';

.#{$iot-prefix}--value-card__attribute {
  display: flex;
  align-items: 'baseline';
  order: 1;
  width: 50% &--wrappable {
    flex-wrap: wrap;
  }

  &--small {
    width: 100%;
  }

  &-icon-container {
    margin-left: auto;
  }

  &-icon-container--wrappable {
    margin-left: 0;
  }

  &-threshold-icon-container {
    width: $spacing-05;
    height: $spacing-05;
    margin: 0 0 $spacing-03 $spacing-03;
  }

  &-threshold-icon-container--wrappable {
    margin-left: 0;
  }

  &_trend-icon {
    margin-right: $spacing-02;
  }
}
