@import '../../globals/vars';

.#{$iot-prefix}--value-card__attribute-unit {
  padding-left: $carbon--spacing-02;
  font-weight: lighter;
  white-space: nowrap;
  padding-bottom: $carbon--spacing-02;
  font-size: var(--default-font-size);
}

.#{$iot-prefix}--value-card__attribute-unit--mini {
  padding-bottom: 0;
  font-size: $carbon--spacing-05;
  margin-bottom: $carbon--spacing-02;
}

.#{$iot-prefix}--value-card__attribute-unit--wrappable {
  padding-left: 0;
  padding-bottom: 0;
  margin-right: $carbon--spacing-02;
}

.#{$iot-prefix}--value-card__attribute-unit--wrappable-compact {
  font-size: $carbon--spacing-05;
}
