@import '../../globals/vars';

.#{$iot-prefix}--value-card {
  &__horizontal {
    .#{$iot-prefix}--card--content {
      overflow-x: scroll;
    }
  }

  &__vertical {
    .#{$iot-prefix}--card--content {
      overflow-y: scroll;
    }
  }

  &__spacer {
    flex: 1;
  }

  &__content-wrapper {
    display: flex;
    width: 100%;

    &--horizontal {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      padding: 0 0 $spacing-05;
    }

    &--vertical {
      flex-direction: column;
      padding: 0 0 $spacing-05;
    }
  }
}
