@import '../../globals/vars';

.#{$iot-prefix}--value-card__value-renderer {
  &--wrappable {
    margin-right: $carbon--spacing-02;
  }

  &--wrappable-compact {
    > span {
      line-height: $carbon--spacing-06;
      font-size: $carbon--spacing-06;
    }
  }

  &--boolean {
    text-transform: capitalize;
  }

  &--value {
    line-height: '2.5rem';
    padding-bottom: $spacing02;
    font-weight: 'lighter';
    overflow: hidden;

    &--vertical {
      text-align: left;
    }

    &--wrappable {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &--has-words {
      word-break: break-all;
    }
  }
}
