@import '../../globals/vars';
@import './attribute';
@import './value-renderer';
@import './unit-renderer';

.#{$iot-prefix}--value-card {
  &__spacer {
    flex: 1;
  }

  &__attribute-separator {
    margin: 0;
    border-top: solid 1px #dfe3e6;
    width: 100%;
  }

  &__attribute-wrapper {
    padding: 0 16px;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  &__attribute-label {
    line-height: 1rem;
    font-size: 1rem;
    text-align: left;
    order: 0;
    color: gray;
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 0.25rem;
    width: 100%;

    &--small-medium {
      padding-top: $spacing02;
    }

    &--not-small {
      padding-left: $spacing03;
    }

    &--wrappable {
      white-space: nowrap;
    }

    &--double-wrap {
      text-align: left;
    }
  }

  &__content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    &__horizontal {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      padding: 0 0 $spacing05;
    }

    &__vertical {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0 0 $spacing03;
    }
  }
}
