@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/theme' as *;
.#{$iot-prefix}--hotspot-content {
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: type-scale(5);
    padding-bottom: $spacing-03;
    color: $layer-01;
  }
  &-description {
    padding-bottom: $spacing-03;
  }
  &-attribute {
    display: flex;
    align-items: center;
    padding-bottom: $spacing-02;
  }
  &-label-section {
    flex: 1;
    padding-right: $spacing-05;
    text-align: left;
  }
  &-label {
    font-weight: bold;
  }
  &-threshold-section {
    flex: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  &-threshold {
    padding-left: var(--threshold-padding);
    color: var(--threshold-color);
  }
  &-unit {
    padding-left: $spacing-01;
  }
}
