@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use '../../globals/typography';

.#{vars.$iot-prefix}--hotspot-content {
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: typography.type-scale(5);
    padding-bottom: spacing.$spacing-03;
    color: theme.$ui-01;
  }
  &-description {
    padding-bottom: spacing.$spacing-03;
  }
  &-attribute {
    display: flex;
    align-items: center;
    padding-bottom: spacing.$spacing-02;
  }
  &-label-section {
    flex: 1;
    padding-right: spacing.$spacing-05;
  }
  &-label {
    font-weight: bold;
  }
  &-threshold-section {
    flex: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  &-threshold {
    padding-left: var(--threshold-padding);
    color: var(--threshold-color);
  }
  &-unit {
    padding-left: spacing.$spacing-01;
  }
}
