@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/motion' as *;
@use '@carbon/type' as *;
.#{$iot-prefix}--hotspot-content {
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: type-scale(5);
    padding-bottom: $spacing-03;
    color: $layer-01;
    &.#{$iot-prefix}--hotspot-content-fixed-title {
      display: flex;
      justify-content: center;
    }
  }
  &-description {
    padding-bottom: $spacing-03;
    @include type-style('label-02');
  }
  &-attribute {
    display: flex;
    align-items: center;
    padding-bottom: $spacing-02;
  }
  &-label-section {
    flex: 1;
    padding-right: $spacing-05;
    text-align: left;
  }
  &-label {
    @include type-style('heading-compact-02');
    letter-spacing: 0.16px;
    line-height: $spacing-01;
  }
  &-threshold-section {
    flex: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  &-threshold {
    @include type-style('body-compact-02');
    padding-left: var(--threshold-padding);
    color: var(--threshold-color);
    letter-spacing: 0.16px;
    line-height: $spacing-01;
  }
  &-unit {
    padding-left: $spacing-01;
  }
}
