@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use '../../globals/typography';

.#{vars.$iot-prefix}--image-uploader {
  background: theme.$ui-02;
  display: flex;
  height: calc(100% - 1rem);
  margin-top: spacing.$spacing-05;
  overflow: hidden;
  padding: 9rem spacing.$spacing-05 spacing.$spacing-05; /* stylelint-disable-line declaration-property-unit-blacklist */
  width: 100%;

  &-icon {
    display: inline-flex;
    justify-content: center;
    margin-right: spacing.$spacing-05;
    min-width: spacing.$spacing-07;
  }

  &-drop-label-text {
    color: theme.$interactive-01;
    display: block;
    @include typography.type-style('productive-heading-02');
    margin-bottom: spacing.$spacing-03;
  }

  &-drop-description-text {
    margin-bottom: spacing.$spacing-06;
  }

  &-content {
    max-width: 32rem;
  }

  .#{vars.$prefix}--file {
    height: calc(100% - 2rem);
    left: spacing.$spacing-05;
    position: absolute;
    top: spacing.$spacing-05;
    width: calc(100% - 2rem);
  }

  .#{vars.$prefix}--file-browse-btn {
    height: 100%;
    max-width: unset;
    width: 100%;
  }

  .#{vars.$prefix}--file__drop-container {
    height: 100%;
    width: 100%;
  }

  &:not(.#{vars.$iot-prefix}--image-uploader__medium) .#{vars.$iot-prefix}--btn:not(:last-child) {
    margin-right: spacing.$spacing-05;
  }

  &-url-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 38rem;
    width: 100%;

    input {
      margin-right: spacing.$spacing-05;
    }
  }

  &.#{vars.$iot-prefix}--image-uploader__url {
    align-items: center;
    padding-top: 0;

    .#{vars.$iot-prefix}--btn:not(:last-child) {
      margin-right: spacing.$spacing-02;
    }
  }

  .#{vars.$prefix}--inline-notification {
    margin: auto;
    margin-top: 1rem;
  }
}

.#{vars.$iot-prefix}--image-uploader.#{vars.$iot-prefix}--image-uploader__medium {
  padding-top: spacing.$spacing-07;

  .#{vars.$iot-prefix}--image-uploader-url-wrapper {
    flex-direction: column;

    .#{vars.$prefix}--text-input-wrapper {
      width: 100%;
    }
    .#{vars.$iot-prefix}--btn:not(:last-child) {
      margin-right: 0;
    }

    input {
      margin-bottom: spacing.$spacing-05;
      margin-right: 0;
    }
  }
  .#{vars.$iot-prefix}--image-uploader-drop-description-text,
  .#{vars.$iot-prefix}--image-uploader-icon {
    display: none;
  }

  .#{vars.$iot-prefix}--image-uploader-drop-label-text {
    @include typography.type-style('productive-heading-01');
    margin-bottom: spacing.$spacing-05;
  }

  .#{vars.$iot-prefix}--btn {
    width: 100%;
  }

  .#{vars.$iot-prefix}--btn:not(:last-child) {
    margin-bottom: spacing.$spacing-05;
  }

  .#{vars.$prefix}--inline-notification {
    min-width: unset;
  }

  .#{vars.$prefix}--inline-notification__details {
    margin: 0;
  }
  .#{vars.$prefix}--inline-notification__icon {
    margin-left: spacing.$spacing-03;
    margin-right: spacing.$spacing-03;
  }

  .#{vars.$prefix}--inline-notification__title {
    display: none;
  }
}

.#{vars.$iot-prefix}--image-uploader.#{vars.$iot-prefix}--image-uploader__mediumwide {
  padding-top: spacing.$spacing-07;

  .#{vars.$iot-prefix}--image-uploader-drop-description-text {
    @include typography.type-style('body-long-01');
  }

  .#{vars.$iot-prefix}--image-uploader-url-wrapper {
    flex-direction: row;
  }
}

.#{vars.$iot-prefix}--image-uploader.#{vars.$iot-prefix}--image-uploader__largewide {
  .#{vars.$iot-prefix}--image-uploader-icon {
    margin-left: spacing.$spacing-07;
    margin-right: spacing.$spacing-09;
  }
}
