@use '@carbon/styles/scss/config'  as *;

.#{$iot-prefix}--image-card {
  &__wrapper {
    height: 100%;
    max-height: 100%;
  }

  &__empty {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
