@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';

.#{vars.$iot-prefix}--sample-tile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 6rem;
  height: 100%;
  overflow: hidden;
}
.#{vars.$iot-prefix}--sample-tile-icon {
  background-color: #dfe3e6;
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.#{vars.$iot-prefix}--sample-tile-title {
  color: theme.$link-01;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  padding-bottom: spacing.$spacing-03;
  max-width: calc(100vw - 20rem);
  @media screen and (min-width: vars.$two-pane) {
    max-width: calc(100vw / 2 - 15rem);
  }
  @media screen and (min-width: vars.$three-pane) {
    max-width: calc(100vw / 3 - 15rem);
  }
}

.#{vars.$iot-prefix}--sample-tile-contents {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 spacing.$spacing-05;
  align-self: flex-start;
}

.#{vars.$iot-prefix}--sample-tile-description {
  font-size: vars.$typography-01;
}
