@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';

.#{vars.$iot-prefix}--tile-catalog {
  display: flex;
  flex-flow: column nowrap;
}

.#{vars.$iot-prefix}--tile-catalog--header {
  background: theme.$ui-02;

  display: flex;
  height: 3rem;

  .#{vars.$prefix}--toolbar-action:active:not([disabled]) {
    outline-color: transparent;
  }

  .#{vars.$prefix}--toolbar-search-container-expandable {
    max-width: 40%;
    padding: 0;
    width: auto;
  }

  .#{vars.$prefix}--search-input:focus {
    width: 100%;
  }
}

.#{vars.$iot-prefix}--tile-catalog--empty-tile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  > * {
    padding-bottom: spacing.$spacing-03;
  }
}

html[dir='rtl'] {
  .#{vars.$prefix}--tile--selectable {
    padding-left: spacing.$spacing-09;
    padding-right: spacing.$spacing-05;
  }

  .#{vars.$prefix}--tile__checkmark {
    right: initial;
    left: spacing.$spacing-05;
  }
}
