@use '@carbon/react/scss/config' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;

.#{$iot-prefix}--tile-group {
  display: flex;
  flex-flow: row wrap;

  .#{$prefix}--tile {
    height: 100%;
  }

  > * {
    border: 1px solid $layer-accent-01;
    flex: 1 1 33.33%;
    min-width: 300px;
  }

  > label {
    border: 1px solid $layer-accent-01;
    outline-offset: -1px;
  }
  overflow-y: hidden;
}

.#{$iot-prefix}--greedy-tile {
  flex: 1 1 33.33%;
  display: none;
  min-height: 0px;
  padding: 0;
  border-top: 0px;
  border-bottom: 0px;
  @media screen and (min-width: $two-pane) {
    display: flex;
  }
  @media screen and (min-width: $three-pane) {
    flex: 1 1 66.66%;
    display: flex;
  }
}
