@use '@carbon/react/scss/config' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
.#{$iot-prefix}--tile-catalog {
  display: flex;
  flex-flow: column nowrap;
}

.#{$iot-prefix}--tile-catalog--header {
  background: $layer-02;

  display: flex;
  height: 3rem;

  .#{$prefix}--toolbar-action:active:not([disabled]) {
    outline-color: transparent;
  }

  .#{$prefix}--toolbar-search-container-expandable {
    max-width: 40%;
    padding: 0;
    width: auto;
  }

  .#{$prefix}--search-input:focus {
    width: 100%;
  }
}

.#{$iot-prefix}--tile-catalog--empty-tile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  > * {
    padding-bottom: $spacing-03;
  }
}

html[dir='rtl'] {
  .#{$prefix}--tile--selectable {
    padding-left: $spacing-09;
    padding-right: $spacing-05;
  }

  .#{$prefix}--tile__checkmark {
    right: initial;
    left: $spacing-05;
  }
}
