.#{$iot-prefix}--card-edit-form {
  height: 100%;
  background: $ui-01;
  display: flex;
  flex-direction: column;

  .#{$prefix}--tab-content {
    flex: 1;
  }

  .#{$prefix}--tabs__nav--hidden {
    width: 100%;

    .#{$prefix}--tabs__nav-link {
      width: 100%;
    }
  }

  .#{$prefix}--file__selected-file {
    background-color: $ui-02;
  }

  .color-picker {
    .color-picker-button {
      // need to leave just enough room for the selected border
      width: 1.95rem;
      height: 1.95rem;
      border: solid $spacing-01 $ui-01;
    }

    .color-picker-button__selected {
      border: solid $spacing-01 $interactive-04;
    }
  }

  &--content {
    flex: 1;
    margin: -$spacing-05;
    height: 100%;
    padding-top: $spacing-05;
  }

  &--form-section {
    padding: $spacing-03 $spacing-05;
    @include type-style('productive-heading-01');
    border-top: solid 1px $ui-03;
    border-bottom: solid 1px $ui-03;
    margin-bottom: $spacing-05;
  }

  &--input-label {
    font-size: 0.75rem;
  }

  &--input {
    padding-bottom: $spacing-05;
    .#{$prefix}--fieldset {
      margin-bottom: unset;
    }

    &--label {
      font-size: 0.75rem;
    }
    &--toggle-field {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .#{$prefix}--form-item {
        flex: 0;
      }
      .#{$prefix}--toggle-input__label .#{$prefix}--toggle__switch {
        margin-top: 0;
      }
    }
  }
  &--input-inline {
    padding: 0 $spacing-05 $spacing-05;
    display: flex;
    align-items: center;
    &--label {
      flex: 1;
    }
    .#{$prefix}--form-item {
      flex: 0;
    }
    .#{$prefix}--toggle-input__label .#{$prefix}--toggle__switch {
      margin-top: 0;
    }
  }
  &--modal-wrapper {
    .#{$prefix}--modal.is-visible .#{$prefix}--modal-container {
      overflow: visible;
    }
    .#{$prefix}--modal-content {
      overflow: visible;
    }
    .#{$prefix}--number,
    input[type='number'] {
      min-width: unset;
    }
    .iot--table-container .addons-iot-table-container {
      overflow: visible;
    }
    .bx--data-table-content {
      overflow: visible;
    }
  }
  &--input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 1rem;
    &--item {
      .iot--color-dropdown {
        margin-bottom: 1.25rem;
      }
      margin-right: 1rem;
      width: 100%;
    }
    &--item-half {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      width: 50%;
    }
    &--item-end {
      width: 100%;
    }
    &--item-dropdown {
      margin-right: 1rem;
      max-width: 5rem;
    }

    &--span {
      font-size: 0.75rem;
    }
  }
  &--threshold-input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    &--item {
      margin-right: 1rem;
      width: 100%;
    }
    &--item-half {
      margin-right: 1rem;
      width: 50%;
    }
    &--item-end {
      width: 100%;
    }
    &--item-dropdown {
      margin-right: 1rem;
      max-width: 5rem;
    }
  }

  &--footer {
    padding: $spacing-05;
    & > button {
      width: 100%;
    }
  }
  .#{$prefix}--modal-container--xs {
    max-height: none;
    min-width: 30rem;
  }
  .#{$iot-prefix}--combobox {
    padding-top: 0;
  }
  .#{$iot-prefix}--combobox-tags {
    // hide multi-select combobox tags in editor form
    display: none;
  }
}

// Image card form styles
.#{$iot-prefix}--card-edit-form--form-section-image {
  .#{$prefix}--fieldset {
    margin-bottom: 0;
  }

  &--input {
    margin-bottom: $spacing-05;
    position: relative;
  }

  &-btn {
    width: 100%;
  }
  &-clear-button {
    position: absolute;
    right: 0;
    top: 1.25rem;
    color: $ui-05;
    background-color: $ui-02;
    &:hover,
    &:active {
      color: $ui-05;
    }
    border: 0;
    min-height: 2rem;
    > svg.#{$prefix}--btn__icon {
      margin-left: 0;
    }
  }

  .#{$prefix}--slider {
    min-width: 4.5rem;
  }
}
