@import '../../vendor/carbon-components/scss/globals/scss/vars';

.#{$iot-prefix}--map {
  &-zoom {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
    @include box-shadow();

    & > *:first-child {
      border-bottom: 1px solid $ui-03; // should be updated to $button-separator once available
    }
  }
}
