@use '../../../../globals/vars' as *;
@use '../../../../globals/mixins' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/components/button' as *;
@use '@carbon/react/scss/utilities' as *;
@use '@carbon/react/scss/utilities/convert';
@use '@carbon/react/scss/components/combo-box' as *;
@use '../../../../globals/mixins' as *;
@use '@carbon/react/scss/components/data-table' as *;

$grouped-columns-filter-border-width: 2px;

.#{$iot-prefix}--filter-header-row--form-item {
  display: inline-block;
  position: relative;

  input {
    padding-right: $spacing-08;
  }

  .#{$prefix}--list-box__selection {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.#{$prefix}--data-table
  th.#{$iot-prefix}--filter-header-row--header.#{$iot-prefix}--tableheader-filter {
  padding-right: $spacing-02;
  padding-left: $spacing-02;
  padding-bottom: $spacing-03;

  &.#{$iot-prefix}--tableheader-filter:not(:first-of-type) {
    border-left-width: $grouped-columns-filter-border-width;

    [dir='rtl'] & {
      border-left-width: 0;
      border-right-width: $grouped-columns-filter-border-width;
    }
  }

  &.#{$iot-prefix}--tableheader-filter:first-of-type {
    border-right-width: $grouped-columns-filter-border-width;

    [dir='rtl'] & {
      border-right-width: 0;
      border-left-width: $grouped-columns-filter-border-width;
    }

    & + .#{$iot-prefix}--tableheader-filter {
      border-left-width: 0;

      [dir='rtl'] & {
        border-right-width: 0;
      }
    }
  }

  &.#{$iot-prefix}--filter-header-row--with-icon {
    position: unset;
  }

  &.#{$iot-prefix}--filter-header-row--with-margin {
    .#{$prefix}--table-header-label {
      min-width: convert.to-rem(120px);
      padding-right: convert.to-rem(42px);

      [dir='rtl'] & {
        padding-right: unset;
        padding-left: $spacing-09;
      }
    }
  }

  .#{$iot-prefix}--filter-header-icon {
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: $layer-accent-01;

    &:hover {
      background-color: $layer-hover-02;
    }

    [dir='rtl'] & {
      right: unset;
      left: 0;
    }

    &.#{$iot-prefix}--filter-header-icon--with-border {
      border-right: $spacing-01 solid $background;

      [dir='rtl'] & {
        border-right: none;
        border-left: $spacing-01 solid $background;
      }
    }

    &.#{$iot-prefix}--filter-header-icon--with-margin {
      right: $spacing-03;

      [dir='rtl'] & {
        right: unset;
        left: convert.to-rem(22px);
      }
    }
  }

  .#{$iot-prefix}--filter-header-row--icon-support {
    position: absolute;
    right: 0;
    width: $spacing-03;
    height: $spacing-08;
    background-color: $layer-accent-01;

    [dir='rtl'] & {
      right: unset;
      left: 0;
      width: convert.to-rem(22px);
    }
  }
}

.#{$prefix}--data-table--xl th.#{$iot-prefix}--filter-header-row--header {
  height: $spacing-08;
}

.#{$prefix}--data-table
  th.#{$iot-prefix}--filter-header-row--last-column.#{$iot-prefix}--filter-header-row--last-column:not(
    :last-of-type
  ) {
  border-right-width: $grouped-columns-filter-border-width;

  [dir='rtl'] &.#{$iot-prefix}--filter-header-row--last-column {
    border-left-width: $grouped-columns-filter-border-width;
  }
}

.#{$prefix}--data-table th.#{$iot-prefix}--filter-header-row--header {
  padding-left: 1px;
  padding-right: 1px;

  .#{$prefix}--table-header-label {
    padding-left: 0;
    padding-right: 0;
  }
}

.#{$iot-prefix}--filter-header-row--header {
  span.#{$prefix}--table-header-label {
    padding-top: 0;
  }

  .#{$prefix}--form-item input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: $spacing-07;
  }

  .#{$prefix}--form-item input:placeholder-shown {
    padding-right: $spacing-03;
  }

  /* Need to force the colors of the selected-items counter in
     the multiselect box back to their original colors as they
     were being overridden by other styles */
  .#{$iot-prefix}--filterheader-multiselect {
    .#{$prefix}--list-box__selection--multi {
      background-color: $button-secondary;
    }
    .#{$prefix}--list-box__selection--multi > svg {
      fill: $background;
    }

    &.#{$iot-prefix}--filterheader-multiselect__menu--fit-content {
      @include list-box-menu-fits-content();
    }

    // Default for when fit-content is active and the menu is wider than the input
    // is that the menu expands to the right. This style makes it expand tp the left
    // unless we are in RTL mode.
    &.#{$iot-prefix}--filterheader-multiselect__menu--flip-horizontal {
      @include list-box-menu-flip-horizontal();
    }
  }

  .#{$prefix}--tag--filter {
    &:focus {
      outline: 2px solid $button-primary;
      outline-offset: -2px;

      svg {
        border: none;
      }
    }

    & > svg {
      fill: $layer-selected-inverse;
      border-radius: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .#{$iot-prefix}--combobox {
    padding-top: 0;
  }
}

.#{$prefix}--data-table {
  .#{$prefix}--table-header-label {
    .#{$prefix}--multi-select,
    .#{$iot-prefix}--combobox {
      .#{$prefix}--list-box__menu.#{$prefix}--list-box__menu {
        max-height: var(--filter-header-dropdown-max-height);
      }
    }
  }
}

.#{$prefix}--data-table .#{$prefix}--list-box input[role='combobox'],
.#{$prefix}--data-table .#{$prefix}--list-box input[type='text'] {
  padding-left: $spacing-04;
}
