@import '../../../../globals/vars';
.#{$iot-prefix}--filter-header-row--form-item {
  display: inline-block;
  position: relative;
  input {
    padding-right: $spacing-08;
  }

  .#{$prefix}--list-box__selection {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.#{$prefix}--data-table th.#{$iot-prefix}--filter-header-row--header {
  padding-right: 1px;
  padding-left: 1px;
  .#{$prefix}--table-header-label {
    padding-left: 0;
    padding-right: 0;
  }
}

.#{$iot-prefix}--filter-header-row--header {
  span.#{$prefix}--table-header-label {
    padding-top: 0;
  }

  .#{$prefix}--form-item input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: $spacing-07;
  }
  .#{$prefix}--form-item input:placeholder-shown {
    padding-right: $spacing-03;
  }

  /* Need to force the colors of the selected-items counter in
     the multiselect box back to their original colors as they
     were being overridden by other styles */
  .#{$iot-prefix}--filterheader-multiselect {
    .bx--list-box__selection--multi {
      background-color: $interactive-02;
    }
    .bx--list-box__selection--multi > svg {
      fill: $ui-background;
    }
  }

  .#{$prefix}--tag--filter {
    &:focus {
      outline: 2px solid $interactive-01;
      outline-offset: -2px;

      svg {
        border: none;
      }
    }

    & > svg {
      fill: $ui-05;
      border-radius: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .#{$iot-prefix}--combobox {
    padding-top: 0;
  }
}
