@import '../../../../globals/vars';
@import '../../../../globals/mixins';

$grouped-columns-filter-border-width: 2px;

.#{$iot-prefix}--filter-header-row--form-item {
  display: inline-block;
  position: relative;

  input {
    padding-right: $spacing-08;
  }

  .#{$prefix}--list-box__selection {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.#{$prefix}--data-table
  th.#{$iot-prefix}--filter-header-row--header.#{$iot-prefix}--tableheader-filter {
  padding-right: $spacing-02;
  padding-left: $spacing-02;
  padding-bottom: $spacing-03;

  &.#{$iot-prefix}--tableheader-filter:not(:first-of-type) {
    border-left-width: $grouped-columns-filter-border-width;

    [dir='rtl'] & {
      border-left-width: 0;
      border-right-width: $grouped-columns-filter-border-width;
    }
  }

  &.#{$iot-prefix}--tableheader-filter:first-of-type {
    border-right-width: $grouped-columns-filter-border-width;

    [dir='rtl'] & {
      border-right-width: 0;
      border-left-width: $grouped-columns-filter-border-width;
    }

    & + .#{$iot-prefix}--tableheader-filter {
      border-left-width: 0;

      [dir='rtl'] & {
        border-right-width: 0;
      }
    }
  }
}

.#{$prefix}--data-table--xl th.#{$iot-prefix}--filter-header-row--header {
  height: $spacing-08;
}

.#{$prefix}--data-table
  th.#{$iot-prefix}--filter-header-row--last-column.#{$iot-prefix}--filter-header-row--last-column:not(:last-of-type) {
  border-right-width: $grouped-columns-filter-border-width;

  [dir='rtl'] &.#{$iot-prefix}--filter-header-row--last-column {
    border-left-width: $grouped-columns-filter-border-width;
  }
}

.#{$prefix}--data-table th.#{$iot-prefix}--filter-header-row--header {
  padding-left: 1px;
  padding-right: 1px;

  .#{$prefix}--table-header-label {
    padding-left: 0;
    padding-right: 0;
  }
}

.#{$iot-prefix}--filter-header-row--header {
  span.#{$prefix}--table-header-label {
    padding-top: 0;
  }

  .#{$prefix}--form-item input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: $spacing-07;
  }

  .#{$prefix}--form-item input:placeholder-shown {
    padding-right: $spacing-03;
  }

  /* Need to force the colors of the selected-items counter in
     the multiselect box back to their original colors as they
     were being overridden by other styles */
  .#{$iot-prefix}--filterheader-multiselect {
    .#{$prefix}--list-box__selection--multi {
      background-color: $interactive-02;
    }
    .#{$prefix}--list-box__selection--multi > svg {
      fill: $ui-background;
    }

    &.#{$iot-prefix}--filterheader-multiselect__menu--fit-content {
      @include list-box-menu-fits-content();
    }

    // Default for when fit-content is active and the menu is wider than the input
    // is that the menu expands to the right. This style makes it expand tp the left
    // unless we are in RTL mode.
    &.#{$iot-prefix}--filterheader-multiselect__menu--flip-horizontal {
      @include list-box-menu-flip-horizontal();
    }
  }

  .#{$prefix}--tag--filter {
    &:focus {
      outline: 2px solid $interactive-01;
      outline-offset: -2px;

      svg {
        border: none;
      }
    }

    & > svg {
      fill: $ui-05;
      border-radius: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .#{$iot-prefix}--combobox {
    padding-top: 0;
  }
}

.#{$prefix}--data-table {
  .#{$prefix}--table-header-label {
    .#{$prefix}--multi-select,
    .#{$iot-prefix}--combobox {
      .#{$prefix}--list-box__menu.#{$prefix}--list-box__menu {
        max-height: var(--filter-header-dropdown-max-height);
      }
    }
  }
}

.#{$prefix}--data-table .#{$prefix}--list-box input[role='combobox'],
.#{$prefix}--data-table .#{$prefix}--list-box input[type='text'] {
  padding-left: $spacing-04;
}
