@import '~carbon-components/scss/globals/scss/vars';
div.bx--toolbar-action.bx--toolbar-search-container-expandable {
  > div.bx--search.bx--search--sm.table-toolbar-search {
    flex-grow: 2;

    > svg.bx--search-magnifier {
      height: 20px;
      fill: $icon-02;
      padding: 0;
    }
  }
}

.table-toolbar-secondary-title {
  padding: $spacing-05;
  @include type-style('productive-heading-01');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
