@import '../../../globals/vars';

.#{$iot-prefix}--tooltip-svg-wrapper {
  background: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  height: auto;
  min-width: $spacing-09;
  outline: 2px solid transparent;

  &:hover {
    background: $hover-ui;
  }

  &:active,
  &:focus {
    outline: 2px solid $focus;
    outline-offset: -2px;
  }

  svg {
    margin: 0 auto;
    height: auto;
    width: auto;
    fill: $carbon--gray-70;
  }
}
