@import '../../globals/vars';

.#{$iot-prefix}--hotspot-content h4 {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  color: white;
}
