.dashboard {
  &--header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
  &--lastupdated {
    display: flex;
    white-space: nowrap;
    align-items: center;

    & > p {
      margin-left: $spacing-05;
      margin-bottom: 0;
    }
  }

  &--header-left {
    display: flex;
    flex-flow: column;

    & > p {
      padding-bottom: $spacing-05;
      margin-bottom: 0;
    }

    & > h2 {
      font-size: 1.75rem;
      font-weight: 400;
      margin-bottom: 0;
    }

    & > p,
    div {
      color: $text-02;
    }
  }

  &--header-right {
    display: flex;
    flex-flow: row;
    flex-grow: 0;

    & > div + div {
      margin-left: $spacing-05;
    }
  }

  &--header-actions {
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-grow: 0;

    & > div + div {
      margin-left: 0.5rem;
    }
  }
}
