.wizardContainer {
  display: flex;
}

.wizard :global(.bx--modal-container) {
  min-width: 630px;
  max-width: 100%;
  margin-top: 24px;
  padding-top: 32px;
}

.wizardSidebar {
  min-width: 200px;
}

.wizardHeader :global(.bx--modal-header) {
  display: flex;
}

.wizard :global(.bx--modal-content) {
  margin-bottom: 48px;
  max-height: 80vh;
  overflow: auto;
}
