@import '~carbon-components/scss/components/progress-bar/progress-bar';
@import '../../globals/vars';

.#{$iot-prefix}--progress-bar-container {
  position: relative;

  .#{$prefix}--progress-bar__label {
    @include carbon--type-style('productive-heading-01');
    color: $text-01;
    margin-right: calc(#{$spacing-10} + #{$spacing-05});
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.#{$iot-prefix}--progress-bar__label--right {
  position: absolute;
  right: 0;
  display: inline-flex;
  gap: $spacing-02;
  justify-content: center;
  align-items: center;

  [dir='rtl'] & {
    right: unset;
    left: 0;
  }
}

.#{$iot-prefix}--progress-bar__icon {
  display: inline-flex;
}

.#{$iot-prefix}--progress-bar__value-label {
  @include carbon--type-style('body-short-01');
  color: $text-01;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(#{$spacing-09} + #{$spacing-03});
}

// reposition the inline label to be even with the progress bar
.#{$iot-prefix}--progress-bar__value-label--inline {
  position: relative;
  top: -($spacing-02);
}

.#{$iot-prefix}--progress-bar__value-label--over {
  color: var(--progress-bar-fill-color);
}

.#{$prefix}--progress-bar__track {
  background-color: $ui-02;

  .#{$iot-prefix}--progress-bar-container--light & {
    background-color: $ui-01;
  }
}

.#{$prefix}--progress-bar__bar {
  background-color: var(--progress-bar-fill-color);
  border: 1px solid var(--progress-bar-stroke-color);

  [dir='rtl'] & {
    // make the bar fill from the right when in RTL
    transform-origin: 100% 50%;
  }
}

.#{$iot-prefix}--progress-bar-wrapper--inline {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: $spacing-03;

  .#{$prefix}--progress-bar__label {
    margin-right: 0;
  }
}
