@use '@carbon/react/scss/components/progress-bar' as *;
@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;
.#{$iot-prefix}--progress-bar-container {
  position: relative;

  .#{$prefix}--progress-bar__label {
    @include type-style('heading-compact-01');
    color: $text-primary;
    margin-right: calc(#{$spacing-10} + #{$spacing-03});
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.#{$iot-prefix}--progress-bar-container--with-icon {
  .#{$prefix}--progress-bar__label {
    margin-right: calc(#{$spacing-11} + #{$spacing-03});
  }
}

.#{$iot-prefix}--progress-bar__label--right {
  position: absolute;
  right: 0;
  display: inline-flex;
  gap: $spacing-02;
  justify-content: center;
  align-items: center;

  [dir='rtl'] & {
    right: unset;
    left: 0;
  }
}

.#{$iot-prefix}--progress-bar__icon {
  display: inline-flex;
}

.#{$iot-prefix}--progress-bar__value-label {
  @include type-style('body-compact-01');
  color: $text-primary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $spacing-10;
}

// reposition the inline label to be even with the progress bar
.#{$iot-prefix}--progress-bar__value-label--inline {
  position: relative;
  top: -($spacing-02);
}

.#{$iot-prefix}--progress-bar__value-label--over {
  color: var(--progress-bar-fill-color);
}

.#{$prefix}--progress-bar__track {
  background-color: $layer-02;

  .#{$iot-prefix}--progress-bar-container--light & {
    background-color: $layer-01;
  }
}

.#{$prefix}--progress-bar__bar {
  background-color: var(--progress-bar-fill-color);
  border: 1px solid var(--progress-bar-stroke-color);

  [dir='rtl'] & {
    // make the bar fill from the right when in RTL
    transform-origin: 100% 50%;
  }
}

.#{$iot-prefix}--progress-bar-wrapper--inline {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: $spacing-03;

  .#{$prefix}--progress-bar__label {
    margin-right: 0;
  }
}
