@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
.#{$iot-prefix}--code-editor {
  &-container {
    background-color: $layer-01;
    height: 100%;
    overflow: hidden;
    min-height: 3.5rem;
    padding-top: $spacing-05;
  }
  &-container--light {
    background-color: $background;
  }
  &-container--disabled {
    background-color: $layer-active-01;
    .view-lines.monaco-mouse-cursor-text {
      background-color: $layer-active-01;
      > div > span > * {
        color: $icon-on-color-disabled; //$disabled-03;
      }
    }
  }

  &-wrapper {
    position: relative;
    height: 100%;
    .monaco-editor {
      background-color: transparent;
      height: 100%;
    }
    .monaco-editor .margin,
    .monaco-editor-background,
    .monaco-editor .inputarea.ime-input {
      background-color: transparent;
    }
  }

  &-copy {
    background-color: $layer-01;
    z-index: 1;
  }

  &-copy-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  &-upload-wrapper {
    position: absolute;
    top: 0;
    right: $spacing-08;
  }

  &-copy--light {
    background-color: $background;
  }
  &-copy--disabled-container {
    background-color: $border-disabled;
  }

  &-upload.cds--btn.cds--btn--icon-only {
    background-color: $layer-01;
    z-index: 1;
  }
  &-upload--light.cds--btn.cds--btn--icon-only {
    background-color: $background;
    &:hover {
      background-color: $layer-hover-01;
    }
  }
  &-upload--disabled.cds--btn.cds--btn--icon-only {
    background-color: $layer-active-01;
  }
}
