@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
.#{$iot-prefix}--code-editor {
  &-container {
    background-color: $layer-01;
    height: 100%;
    overflow: hidden;
    min-height: 3.5rem;
    padding-top: $spacing-05;
  }
  &-container--light {
    background-color: $background;
  }
  &-container--disabled {
    background-color: $text-disabled;
    .view-lines.monaco-mouse-cursor-text {
      background-color: $text-disabled;
      > div > span > * {
        color: $icon-on-color-disabled; //$disabled-03;
      }
    }
  }

  &-wrapper {
    position: relative;
    height: 100%;
    .monaco-editor {
      background-color: transparent;
      height: 100%;
    }
    .monaco-editor .margin,
    .monaco-editor-background,
    .monaco-editor .inputarea.ime-input {
      background-color: transparent;
    }
  }
  &-copy {
    background-color: $layer-01;
    position: absolute;
    inset-inline-start: calc(100% - 2.5rem);
    top: 0;
    z-index: 1;
  }
  &-copy--light {
    background-color: $background;
  }
  &-copy--disabled-container {
    background-color: $border-disabled;
  }

  &-upload.bx--btn.bx--btn--icon-only {
    background-color: $layer-01;
    position: absolute;
    inset-inline-start: calc(100% - 5.03rem);
    top: 0;
    z-index: 1;
  }
  &-upload--light.bx--btn.bx--btn--icon-only {
    background-color: $background;
    &:hover {
      background-color: $layer-hover-01;
    }
  }
  &-upload--disabled.bx--btn.bx--btn--icon-only {
    background-color: $text-disabled;
  }
}
