.#{$iot-prefix}--read-only-value {
  display: block;
  margin-bottom: $spacing-06;
  label,
  textarea,
  div {
    display: block;
    &:focus-visible {
      outline: unset;
    }
  }
  > label {
    display: inline-block;
    @include type-style('label-01');
    color: $text-02;
    > textarea,
    div {
      @include type-style('body-short-01');
      margin-top: $spacing-02;
      color: $text-01;
      border: 0;
      background: none;
      padding-left: 0;
      resize: none;
    }
  }

  &__inline {
    margin-bottom: $spacing-03;
    label {
      @include type-style('body-short-01');
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-06;
      color: $text-02;
      align-items: baseline;
      > textarea,
      div {
        @include type-style('body-short-01');
        color: $text-01;
      }
    }
  }
  &__inline_small {
    > label {
      @include type-style('label-01');
      > textarea,
      div {
        @include type-style('label-01');
      }
    }
  }
}
