@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;
.#{$iot-prefix}--read-only-value {
  display: block;
  margin-bottom: $spacing-06;
  label,
  textarea,
  div {
    display: block;
    &:focus-visible {
      outline: unset;
    }
  }
  > label {
    display: inline-block;
    @include type-style('label-01');
    color: $text-secondary;
    > textarea,
    div {
      @include type-style('body-compact-01');
      margin-top: $spacing-02;
      color: $text-primary;
      border: 0;
      background: none;
      padding-top: 0;
      padding-left: 0;
      resize: none;
    }
  }

  &__inline {
    margin-bottom: $spacing-03;
    label {
      @include type-style('body-compact-01');
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-06;
      color: $text-secondary;
      align-items: baseline;
      > textarea,
      div {
        @include type-style('body-compact-01');
        color: $text-primary;
      }
    }
  }

  &__inline#{&}--loading {
    label {
      align-items: flex-start;
    }
  }

  &__inline_small {
    > label {
      @include type-style('label-01');
      > textarea,
      div {
        @include type-style('label-01');
      }
    }
  }

  &--loading {
    label {
      width: 100%;
    }
  }

  .#{$prefix}--skeleton__text {
    margin-bottom: $spacing-02;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
