@use '../../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/components/data-table' as *;

.#{$iot-prefix}-table-foot {
  border-top: 2px solid $layer-accent-01;

  .#{$prefix}--data-table--xs & tr {
    height: $spacing-06;
  }

  .#{$prefix}--data-table--sm & tr {
    height: $spacing-07;
  }

  .#{$prefix}--data-table--md & tr {
    height: $spacing-08;
  }

  .#{$prefix}--data-table--xl & tr {
    height: $spacing-10;
  }
}

.#{$iot-prefix}-table-foot--label {
  @include type-style('heading-compact-01');
}

.#{$iot-prefix}-table-foot--value {
  @include type-style('heading-compact-01');
}

td.#{$iot-prefix}-table-foot--value__sortable {
  padding-right: $spacing-09;
}

html[dir='rtl'] {
  td.#{$iot-prefix}-table-foot--value__sortable {
    padding-left: $spacing-08;
  }
}
