@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars';
@use '../../../globals/typography';

.#{vars.$iot-prefix}-table-foot {
  border-top: 2px solid theme.$ui-03;

  .#{vars.$prefix}--data-table--xs & tr {
    height: spacing.$spacing-06;
  }

  .#{vars.$prefix}--data-table--sm & tr {
    height: spacing.$spacing-07;
  }

  .#{vars.$prefix}--data-table--md & tr {
    height: spacing.$spacing-08;
  }

  .#{vars.$prefix}--data-table--xl & tr {
    height: spacing.$spacing-10;
  }
}

.#{vars.$iot-prefix}-table-foot--label {
  @include typography.type-style('productive-heading-01');
}

.#{vars.$iot-prefix}-table-foot--value {
  @include typography.type-style('productive-heading-01');
}

td.#{vars.$iot-prefix}-table-foot--value__sortable {
  padding-right: spacing.$spacing-09;
}

html[dir='rtl'] {
  td.#{vars.$iot-prefix}-table-foot--value__sortable {
    padding-left: spacing.$spacing-08;
  }
}
