@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;
@use '../../../globals/typography';

.#{$iot-prefix}-table-foot {
  border-top: 2px solid theme.$ui-03;

  .#{$prefix}--data-table--xs & tr {
    height: spacing.$spacing-06;
  }

  .#{$prefix}--data-table--sm & tr {
    height: spacing.$spacing-07;
  }

  .#{$prefix}--data-table--md & tr {
    height: spacing.$spacing-08;
  }

  .#{$prefix}--data-table--xl & tr {
    height: spacing.$spacing-10;
  }
}

.#{$iot-prefix}-table-foot--label {
  @include typography.type-style('productive-heading-01');
}

.#{$iot-prefix}-table-foot--value {
  @include typography.type-style('productive-heading-01');
}

td.#{$iot-prefix}-table-foot--value__sortable {
  padding-right: spacing.$spacing-09;
}

html[dir='rtl'] {
  td.#{$iot-prefix}-table-foot--value__sortable {
    padding-left: spacing.$spacing-08;
  }
}
