$css--font-face: true !default;
$css--helpers: true !default;
$css--body: true !default;
$css--use-layer: true !default;
$css--reset: true !default;
$css--typography: true !default;
$css--plex: true !default;

$feature-flags: (
  ui-shell: true,
);

@import '~carbon-components/scss/globals/scss/styles';

// .storybook-container {
//   // background: #f9fafb;
// }

.storybook-container > div {
  width: 100%;
}

.list {
  background-color: #fff;
  width: rem(200px);
  position: absolute;
  right: 0;
  top: 100%;

  li {
    padding: 0.5rem;
    text-align: left;
  }
}

.bx--header__global .bx--header__menu-bar {
  margin-left: 0;
}
