@use '../../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/components/data-table' as *;

.#{$iot-prefix}--table-toolbar__advanced-filters-button-wrapper {
  .#{$iot-prefix}--flyout-menu--tooltip-anchor {
    height: unset;
    width: unset;
  }
  .#{$prefix}--popover-content .#{$prefix}--toggletip-actions > * {
    flex-grow: 1;
  }
}

.#{$iot-prefix}--advanced-filter__tab-container {
  width: clamp(30rem, 45rem, 100vw);
}

.#{$iot-prefix}--filter-flyout__simple-field {
  flex: 1;

  &.#{$prefix}--form-item {
    position: relative;

    .#{$prefix}--list-box__selection {
      top: 67%;
    }
  }

  .#{$prefix}--text-input-wrapper {
    width: 100%;
  }

  .#{$prefix}--date-picker.#{$prefix}--date-picker--single {
    text-align: initial;
  }

  .#{$prefix}--date-picker.#{$prefix}--date-picker--single .#{$prefix}--date-picker__input {
    width: 100%;
  }
}

.#{$iot-prefix}--filter-flyout__simple-row {
  display: flex;
  flex: 1 1 0%;
  gap: $spacing-05;
  flex-direction: row;
  padding-bottom: $spacing-05;

  &:last-of-type {
    padding-bottom: 0;
  }

  .#{$prefix}--list-box__wrapper {
    flex: 1;

    & > label {
      margin-right: 100%;
    }

    .#{$prefix}--list-box__selection,
    .#{$prefix}--list-box__menu-icon {
      padding-right: 0;
    }
  }

  .#{$prefix}--tag__close-icon {
    padding-right: 0;
  }
}

.#{$prefix}--label {
  button.#{$iot-prefix}--advanced-filter__inline-button {
    padding: inherit;
    min-height: inherit;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    border: 0;
  }
}
