.#{$iot-prefix}--advanced-filter__tab-container {
  width: clamp(30rem, 45rem, 100vw);
}

.#{$iot-prefix}--filter-flyout__simple-field {
  flex: 1;

  &.#{$prefix}--form-item {
    position: relative;

    .#{$prefix}--list-box__selection {
      top: 67%;
    }
  }

  .#{$prefix}--text-input-wrapper {
    width: 100%;
  }

  .#{$prefix}--date-picker.#{$prefix}--date-picker--single {
    text-align: initial;
  }

  .#{$prefix}--date-picker.#{$prefix}--date-picker--single .#{$prefix}--date-picker__input {
    width: 100%;
  }
}

.#{$iot-prefix}--filter-flyout__simple-row {
  display: flex;
  flex: 1 1 0%;
  gap: $spacing-05;
  flex-direction: row;
  padding-bottom: $spacing-05;

  &:last-of-type {
    padding-bottom: 0;
  }

  .#{$prefix}--list-box__wrapper {
    flex: 1;
  }
}

.#{$prefix}--label {
  button.#{$iot-prefix}--advanced-filter__inline-button {
    padding: inherit;
    min-height: inherit;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    border: 0;
  }
}
