@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars';
@use '../../../globals/typography';
@use './table-toolbar-svg-button';
@use './advanced-filter-flyout';

div.#{vars.$prefix}--toolbar-action.#{vars.$prefix}--toolbar-search-container-expandable {
  > div.#{vars.$prefix}--search.#{vars.$prefix}--search--sm.table-toolbar-search {
    flex-grow: 2;
  }
}

.#{vars.$iot-prefix}--table-toolbar-secondary-title {
  padding: spacing.$spacing-05;
  @include typography.type-style('productive-heading-01');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{vars.$iot-prefix}--table-toolbar {
  width: 100%;
  padding-top: spacing.$spacing-01;
}

.#{vars.$iot-prefix}--table-toolbar-content {
  flex: 1;
  font-size: 0.875rem;
  // Z-index higher than 1 is needed to have Dropdown components correctly show
  // the listbox on top of the relatively positioned table columns and reszie handle.
  z-index: 2;
}

.#{vars.$prefix}--batch-actions:not(.#{vars.$prefix}--batch-actions--active)
  ~ .#{vars.$prefix}--toolbar-content {
  // The carbon clip-path is hiding the menus for Dropdowns placed in the toolbar,
  // but the clip-path is only needed when batch actions are active.
  clip-path: unset;
}

.#{vars.$iot-prefix}--table-batch-actions {
  z-index: 3;

  & + .bx--toolbar-action {
    padding: 0;
  }

  // TODO - remove this entire selector once we've upgraded to Carbon v10.18.0+
  // https://github.com/carbon-design-system/carbon/pull/6660
  .#{vars.$prefix}--action-list {
    position: absolute;
    right: 0;
  }

  // TODO - remove this entire selector once we've upgraded to Carbon v10.18.0+
  // https://github.com/carbon-design-system/carbon/pull/6660
  .#{vars.$prefix}--batch-summary {
    position: absolute;
    left: 0;
  }
}

.#{vars.$iot-prefix}--table-tooltip-container {
  padding: spacing.$spacing-05 0;
}

.#{vars.$iot-prefix}--table-row-edit-actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding: spacing.$spacing-03;
}

html[dir='rtl'] {
  .#{vars.$iot-prefix}--table-batch-actions {
    .#{vars.$prefix}--action-list {
      left: 0;
      right: auto;
    }

    .#{vars.$prefix}--batch-summary {
      left: auto;
      margin-left: 0;
      margin-right: spacing.$spacing-05;
      right: 0;
    }

    .#{vars.$prefix}--btn--primary.#{vars.$prefix}--batch-summary__cancel::before {
      left: auto;
      right: 0;
    }
  }
}

.#{vars.$iot-prefix}--table-toolbar-aggregations__overflow-menu {
  min-height: spacing.$spacing-09;
  width: spacing.$spacing-09;
}

.#{vars.$iot-prefix}--table-toolbar-aggregations__overflow-icon {
  height: initial;
  width: initial;
}
