@use '../../../globals/theme' as *;
@use '../../../globals/vars' as *;
@use '../../../globals/colors' as *;
@use '../../../globals/mixins' as *;

button.#{$iot-prefix}--tooltip-svg-wrapper,
.#{$iot-prefix}--tooltip-svg-wrapper.#{$prefix}--btn--ghost:hover {
  color: $gray-70;
}
button.#{$prefix}--btn.#{$iot-prefix}--tooltip-svg-wrapper.#{$prefix}--btn--ghost {
  border: 0;
  &.#{$iot-prefix}--table-toolbar-button-active:not(:hover) {
    background-color: $ui-02;
  }
}

.#{$iot-prefix}--tooltip-svg-wrapper--disabled {
  @include disabled-icon-button();
}
