@use '../../../globals/theme';
@use '../../../globals/vars';
@use "../../../globals/colors";
@use "../../../globals/mixins";

button.#{vars.$iot-prefix}--tooltip-svg-wrapper,
.#{vars.$iot-prefix}--tooltip-svg-wrapper.#{vars.$prefix}--btn--ghost:hover {
  color: colors.$gray-70;
}
button.#{vars.$prefix}--btn.#{vars.$iot-prefix}--tooltip-svg-wrapper.#{vars.$prefix}--btn--ghost {
  border: 0;
  &.#{vars.$iot-prefix}--table-toolbar-button-active:not(:hover) {
    background-color: theme.$ui-02;
  }
}

.#{vars.$iot-prefix}--tooltip-svg-wrapper--disabled {
  @include mixins.disabled-icon-button();
}
