@use '../../../globals/vars' as *;
@use '../../../globals/mixins' as *;
@use './table-toolbar-svg-button' as *;
@use './advanced-filter-flyout' as *;
@use './table-toolbar-search' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '../../../globals/mixins' as *;
@use '@carbon/react/scss/components/data-table' as *;

$duration-fast-02: 110ms;
div.#{$prefix}--toolbar-action.#{$prefix}--toolbar-search-container-expandable {
  > div.#{$prefix}--search.#{$prefix}--search--sm.table-toolbar-search {
    flex-grow: 2;
  }
}

.#{$iot-prefix}--table-toolbar-secondary-title {
  padding: $spacing-05;
  @include type-style('heading-compact-01');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$iot-prefix}--table-toolbar {
  width: 100%;
  padding-top: $spacing-01;
}

.#{$prefix}--table-toolbar {
  height: $spacing-09;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 3rem;
  background-color: $layer-01;
}

.#{$prefix}--batch-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f62fe;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  pointer-events: none;
  -webkit-transform: translate3d(0, 48px, 0);
  transform: translate3d(0, 48px, 0);
  transition: transform $duration-fast-02 cubic-bezier(0.2, 0, 0.38, 0.9),
    clip-path $duration-fast-02 cubic-bezier(0.2, 0, 0.38, 0.9),
    opacity $duration-fast-02 cubic-bezier(0.2, 0, 0.38, 0.9),
    -webkit-transform $duration-fast-02 cubic-bezier(0.2, 0, 0.38, 0.9),
    -webkit-clip-path $duration-fast-02 cubic-bezier(0.2, 0, 0.38, 0.9);
  will-change: transform;
}

.#{$iot-prefix}--table-toolbar-content {
  flex: 1;
  font-size: 0.875rem;
  // Z-index higher than 1 is needed to have Dropdown components correctly show
  // the listbox on top of the relatively positioned table columns and resize handle.
  z-index: 2;
  display: flex;
  justify-content: flex-end;

  .#{$prefix}--toolbar-search-container-active .#{$prefix}--search-input {
    border-bottom: 0;
  }

  .#{$iot-prefix}--table-overflow-batch-actions.#{$prefix}--overflow-menu--open {
    @include hide-tooltip();
  }

  .#{$iot-prefix}--table-toolbar-aggregations__overflow-menu.#{$prefix}--overflow-menu--open {
    @include hide-tooltip();
  }
}

.#{$prefix}--batch-actions:not(.#{$prefix}--batch-actions--active) ~ .#{$prefix}--toolbar-content {
  // The carbon clip-path is hiding the menus for Dropdowns placed in the toolbar,
  // but the clip-path is only needed when batch actions are active.
  clip-path: unset;
}

.#{$iot-prefix}--table-batch-actions {
  z-index: 3;

  & + .#{$prefix}--toolbar-action {
    padding: 0;
  }
}

.#{$iot-prefix}--table-tooltip-container {
  padding: $spacing-05 0;
}

.#{$iot-prefix}--table-row-edit-actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding: $spacing-03;
}

html[dir='rtl'] {
  .#{$iot-prefix}--table-batch-actions {
    .#{$prefix}--action-list {
      left: 0;
      right: auto;
      .#{$prefix}--btn .#{$prefix}--btn__icon {
        margin-left: 0;
        margin-right: $spacing-03;
      }
    }

    .#{$prefix}--batch-summary {
      left: auto;
      margin-left: 0;
      margin-right: $spacing-05;
      right: 0;
    }

    .#{$prefix}--btn--primary.#{$prefix}--batch-summary__cancel::before {
      left: auto;
      right: 0;
    }
  }
}

.#{$iot-prefix}--table-toolbar-aggregations__overflow-menu {
  min-height: $spacing-09;
  width: $spacing-09;
}

.#{$iot-prefix}--table-toolbar-aggregations__overflow-icon {
  height: initial;
  width: initial;
}

.#{$iot-prefix}--table-toolbar-aggregations__overflow-menu-content {
  display: flex;
  align-items: center;
  text-align: left;
  min-width: 0;

  [dir='rtl'] & {
    text-align: right;
  }

  svg {
    margin-right: $spacing-03;
    flex-shrink: 0;

    [dir='rtl'] & {
      margin-right: 0;
      margin-left: $spacing-03;
    }
  }
}

.#{$iot-prefix}--table-overflow-batch-actions {
  &.#{$prefix}--overflow-menu--open,
  &.#{$prefix}--overflow-menu--open:hover,
  &:hover {
    // background-color: $hover-primary;//$$hover-primary;
  }

  &:focus {
    outline: 2px solid $layer-01;
    outline-offset: -($spacing-01);
  }

  &.#{$iot-prefix}--overflow-menu-icon.#{$iot-prefix}--tooltip-svg-wrapper .#{$prefix}--btn__icon {
    fill: $layer-01;
  }

  // hide the divider between overflow menu and cancel on hover
  &:hover,
  &:focus {
    & + .#{$prefix}--btn--primary.#{$prefix}--batch-summary__cancel::before {
      opacity: 0;
    }

    &.#{$iot-prefix}--overflow-menu-icon.#{$iot-prefix}--tooltip-svg-wrapper
      svg.#{$prefix}--btn__icon {
      fill: $layer-01;
    }
  }
}

.#{$iot-prefix}--table-overflow-batch-actions__menu {
  &:after {
    // background-color: $hover-primary; // $hover-primary
  }
}
