@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';

.#{vars.$iot-prefix}--list-builder__container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.#{vars.$iot-prefix}--list-builder__all {
  width: 100%;
  height: 100%;
  align-self: stretch;
  padding: spacing.$spacing-02;
}

.#{vars.$iot-prefix}--list-builder__selected {
  width: 100%;
  height: 100%;
  align-self: stretch;
  padding: spacing.$spacing-02;
}
