@use '../../globals/vars' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/spacing' as *;

.#{$iot-prefix}--list-builder__container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.#{$iot-prefix}--list-builder__all {
  width: 100%;
  height: 100%;
  align-self: stretch;
  padding: $spacing-02;
}

.#{$iot-prefix}--list-builder__selected {
  width: 100%;
  height: 100%;
  align-self: stretch;
  padding: $spacing-02;
}

html[dir='rtl'] .#{$iot-prefix}--list-builder__reset-button .#{$prefix}--btn__icon {
  margin-left: 0;
  margin-right: $spacing-03;
}
