@use '../src/globals/vars' as *;
@use '@carbon/react/scss/config' as *;

.sb-show-main.sb-main-padded {
  padding: 0;
}
/* stylelint-disable */
.storybook-container {
  padding: 3rem;
  height: 100vh;
}

.storybook-container .info__overlay p {
  margin: 12px 0;
}
/* stylelint-enable */

// header-specific
.#{$iot-prefix}--header--story-test-class {
  .#{$prefix}--text-truncate--end span {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .#{$prefix}--header__menu-title[role='menuitem'][aria-expanded='true']
    + .#{$prefix}--header__menu {
    z-index: 6001;
  }
}
