@use '../../../../globals/theme';
@use '../../../../globals/spacing';
@use '../../../../globals/vars';
@use '../../../../globals/layout';

.#{vars.$iot-prefix}--table-detail-wizard-header--wrapper {
  display: block;
  border-bottom: layout.rem(1px) solid #dadada8c;
}

.#{vars.$iot-prefix}--table-detail-wizard-header--heading {
  float: left;
  font-size: 1.25rem;
  line-height: layout.rem(50px);
  vertical-align: middle;
  margin-left: spacing.$spacing-05;

  html[dir='rtl'] & {
    float: right;
    margin-left: unset;
    margin-right: spacing.$spacing-05;
  }
}

.#{vars.$iot-prefix}--table-detail-wizard-header--button {
  float: right;
  margin-left: auto;

  .#{vars.$prefix}--btn--ghost {
    height: layout.rem(50px);
  }

  .#{vars.$prefix}--btn__icon {
    margin-left: layout.rem(5px);
    margin-right: layout.rem(5px);
  }

  html[dir='rtl'] & {
    float: left;
  }
}
