@use '../../../../globals/vars' as *;

.#{$iot-prefix}--table-detail-wizard-header--wrapper {
  display: block;
  border-bottom: rem(1px) solid #dadada8c;
}

.#{$iot-prefix}--table-detail-wizard-header--heading {
  float: left;
  font-size: 1.25rem;
  line-height: rem(50px);
  vertical-align: middle;
  margin-left: $spacing-05;

  html[dir='rtl'] & {
    float: right;
    margin-left: unset;
    margin-right: $spacing-05;
  }
}

.#{$iot-prefix}--table-detail-wizard-header--button {
  float: right;
  margin-left: auto;

  .#{$prefix}--btn--ghost {
    height: rem(50px);
  }

  .#{$prefix}--btn__icon {
    margin-left: rem(5px);
    margin-right: rem(5px);
  }

  html[dir='rtl'] & {
    float: left;
  }
}
