@import '~carbon-components/scss/globals/scss/vars';
@import '../../globals/vars';

.#{$iot-prefix}--sample-tile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 6rem;
  height: 100%;
  overflow: hidden;
}
.#{$iot-prefix}--sample-tile-icon {
  background-color: #dfe3e6;
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.#{$iot-prefix}--sample-tile-title {
  color: $inverse-support-04;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  padding-bottom: 0.5rem;
  max-width: calc(100vw - 20rem);
  @media screen and (min-width: $two-pane) {
    max-width: calc(100vw / 2 - 15rem);
  }
  @media screen and (min-width: $three-pane) {
    max-width: calc(100vw / 3 - 15rem);
  }
}

.#{$iot-prefix}--sample-tile-contents {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 1rem;
  align-self: flex-start;
}

.#{$iot-prefix}--sample-tile-description {
  font-size: $typography-01;
}
