@import '~carbon-components/scss/globals/scss/vars';
@import '../../globals/vars';

.#{$iot-prefix}--tile-catalog {
  display: flex;
  flex-flow: column nowrap;
}

.#{$iot-prefix}--tile-catalog--header {
  background: $ui-02;

  display: flex;
  height: 3rem;

  .bx--toolbar-action:active:not([disabled]) {
    outline-color: transparent;
  }

  .bx--toolbar-search-container-expandable {
    max-width: 40%;
    padding: 0;
    width: auto;
  }

  .bx--search-input:focus {
    width: 100%;
  }
}

.#{$iot-prefix}--tile-catalog--empty-tile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  > * {
    padding-bottom: $spacing-03;
  }
}
