@import '../../vendor/carbon-components/scss/globals/scss/vars';

.#{$iot-prefix}--wizard-inline {
  &__header {
    @include carbon--type-style('productive-heading-03');
    margin-bottom: $spacing-06;
    padding: $spacing-05 $spacing-05 0 $spacing-05;
  }

  &__progress-indicator {
    padding-bottom: $spacing-06;
    padding-left: $spacing-05;
  }

  &__sidebar {
    min-width: var(--min-width);
    width: 25%;
    padding-left: $spacing-05;
  }
}
