@import '../../globals/vars';
@import '~carbon-components/scss/globals/scss/layout';

.#{$iot-prefix}-flyout-menu {
  color: initial;
  background: $ui-background;
  min-width: 300px;
  .bx--tooltip__caret {
    display: none;
  }

  &__bottom-container {
    border-top: 1px solid $carbon--gray-40;

    padding-top: $spacing-03;
    margin-top: $spacing-03;
  }

  &__cancel {
    margin-right: $spacing-03;
  }
}

.#{$iot-prefix}-flyout-menu.bx--tooltip {
  max-width: unset !important;
}
