@import '../../globals/vars';
@import '~carbon-components/scss/globals/scss/layout';

$shadow-block-size: 0.1875rem;

.#{$iot-prefix}-flyout-menu {
  display: flex;

  &.top {
    flex-direction: column-reverse;
  }

  &.bottom {
    flex-direction: column;
  }

  &.right,
  [dir='rtl'] &.left {
    flex-direction: row;
  }

  &.left,
  [dir='rtl'] &.right {
    flex-direction: row-reverse;
  }

  &--body {
    color: initial;
    background: $ui-02;
    box-shadow: 0;
    border-radius: 0;

    .#{$prefix}--tooltip__caret {
      display: none;
    }
  }

  &__shadow-block {
    display: block;
    position: absolute;
    background: $ui-02;

    &.bottom-start {
      height: $shadow-block-size !important;
      top: -$shadow-block-size;
      left: 0;
    }

    &.bottom-end {
      height: $shadow-block-size !important;
      top: -$shadow-block-size;
      right: 0;
    }

    &.top-start {
      height: 0.375rem !important;
      bottom: -0.375rem;
      left: 0;
    }

    &.top-end {
      height: 0.375rem !important;
      bottom: -0.375rem;
      right: 0;
    }

    &.left-start {
      width: $shadow-block-size !important;
      right: -$shadow-block-size;
      top: 0;
    }

    &.left-end {
      width: $shadow-block-size !important;
      right: -$shadow-block-size;
      bottom: 0;
    }

    &.right-start {
      width: $shadow-block-size !important;
      left: -$shadow-block-size;
      top: 0;
    }

    &.right-end {
      width: $shadow-block-size !important;
      left: -$shadow-block-size;
      bottom: 0;
    }
  }

  &--tooltip-anchor {
    position: relative;
    height: 0px;
    width: 0px;
  }

  &--open {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) !important;
  }

  &__light {
    background: $ui-01 !important;
  }

  &__bottom-container {
    border-top: 1px solid $carbon--gray-40;

    padding-top: $spacing-04;
    margin-top: $spacing-04;
  }

  &__bottom-container-custom {
    min-height: 64px;
    width: 100%;
  }

  [dir='rtl'] &__submit,
  &__cancel {
    margin-right: $spacing-04;
  }

  [dir='rtl'] &__cancel,
  &__submit {
    margin-right: 0;
  }
}

.#{$iot-prefix}-flyout-menu--body.#{$prefix}--tooltip {
  min-width: unset !important;
  max-width: unset !important;
}

.#{$iot-prefix}-flyout-menu__trigger-button {
  color: $icon-01;
  background: $ui-02;

  > svg {
    margin-left: 0 !important;
  }
}

// Removes a blue square on highlight
.#{$iot-prefix}-flyout-menu__trigger-button.#{$prefix}--tooltip--a11y::before {
  display: none !important;
}

// Removes Assistive Text Overlay
.#{$iot-prefix}-flyout-menu__trigger-button.#{$prefix}--btn.bx--btn--icon-only
  .#{$prefix}--assistive-text {
  display: none !important;
}
