@import 'TableHead/table-head';

.table--edit-mode {
  .table--edit-mode-toast {
    margin-bottom: $spacing-03;
    min-width: $spacing-09 * 10;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .table--edit-mode-button {
    width: $spacing-09 * 2;
    height: $spacing-07;
    border-color: $interactive-01;
    border-width: $spacing-01 / 2;
    min-height: auto;
    margin: auto $spacing-03;
    text-align: center;
    padding: 0;
    display: block;
  }
}
