@import '~carbon-components/scss/globals/scss/vars';
@import 'TableHead/table-head';
@import 'TableSkeletonWithHeaders/table-skeleton-with-headers';
@import 'TableCellRenderer/table-cell-renderer';
@import 'TableDetailWizard/table-detail-wizard';
@import '../../globals/vars';

table.#{$prefix}--side-nav--data-table {
  white-space: nowrap;
}

.#{$iot-prefix}--data-table--row-actions {
  height: 0;
}

.#{$iot-prefix}--data-table--fixed {
  table-layout: fixed;
}

.#{$iot-prefix}--table__cell--truncate {
  max-width: 0;
}

.#{$iot-prefix}--data-table--resize td {
  word-break: break-all;
}

.#{$iot-prefix}--table-container {
  min-width: unset;
  padding-top: 0;

  .addons-iot-table-container {
    overflow-x: auto;
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--expanded-tablerow td:first-of-type:before {
    left: auto;
    right: 0;
  }
  .#{$iot-prefix}--expanded-tablerow > td * {
    text-align: right;
  }
}
