@import '../../../../globals/vars';

@mixin backgroundGradient($color) {
  background: linear-gradient(90deg, rgba(229, 229, 229, 0) 0, #{$color} 16px);
}

.#{$iot-prefix}--row-actions-container {
  height: 100%;
  > * {
    margin-left: $spacing-04;
  }
  .#{$iot-prefix}--row-actions-cell-btn--icononly {
    margin-left: 0;

    .#{$prefix}--btn__icon {
      margin-left: 0;
    }
  }
}

.#{$iot-prefix}--row-actions-container__background {
  height: 100%;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  opacity: 0;
  padding-left: $spacing-06;
  z-index: 0;
  @include backgroundGradient($hover-ui);
}

.#{$prefix}--data-table tbody tr:hover .#{$iot-prefix}--row-actions-container__background {
  background: linear-gradient(90deg, rgba(229, 229, 229, 0) 0, #{$hover-ui} $spacing-05);
}

.#{$iot-prefix}--action-overflow-item {
  div {
    width: 100%;
  }
  svg {
    margin-right: $spacing-03;

    html[dir='rtl'] & {
      margin-left: $spacing-03;
      margin-right: 0;
    }
  }
}

.#{$iot-prefix}--row-actions-container__background:focus-within {
  opacity: 1;
  @include backgroundGradient($ui-01);
  transition: opacity $duration--fast-02 motion(entrance, productive);
}

.#{$prefix}--data-table tbody tr:hover .#{$iot-prefix}--row-actions-container__background,
.#{$iot-prefix}--row-actions-container__background--overflow-menu-open {
  opacity: 1;
  transition: opacity $duration--fast-02 motion(entrance, productive);
}

.#{$prefix}--data-table tbody tr {
  &:not(:hover) .#{$iot-prefix}--row-actions-container__background--overflow-menu-open {
    @include backgroundGradient($ui-01);
  }

  &.bx--data-table--selected:hover .#{$iot-prefix}--row-actions-container__background {
    @include backgroundGradient($hover-selected-ui);
  }

  &.#{$prefix}--data-table--selected:not(:hover) {
    .#{$iot-prefix}--row-actions-container__background--overflow-menu-open,
    .#{$iot-prefix}--row-actions-container__background:focus-within {
      @include backgroundGradient($carbon--gray-20);
    }
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--row-actions-container__background {
    margin-left: unset;
    margin-right: 0.75rem;
    padding-left: unset;
    padding-right: 24px;

    .#{$prefix}--btn__icon {
      margin-left: unset;
      margin-right: 0.5rem;
      transform: rotate(180deg);
    }
  }
}
