@use '../../globals/vars' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/config' as *;
.#{$iot-prefix}--card-editor {
  height: 100%;
  width: 16rem;
  display: flex;
  background: $layer-01;
  flex-direction: column;
  border-left: 1px solid $layer-accent-01;
  &--header {
    flex: 0 0 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-02;
    border-bottom: 1px solid $layer-accent-01;
    h5 {
      padding: 0 $spacing-03;
    }
  }

  &--footer {
    border-top: solid 1px $layer-accent-01;
    & > button {
      justify-content: space-between;
      width: 100%;
    }
  }

  &--content {
    flex: 1;
    height: 100%;
    overflow: auto;

    .#{$iot-prefix}--list-item {
      height: $spacing-09;
    }
  }

  &--header--title {
    @include type-style('heading-compact-02');
    padding-left: $spacing-03;
    width: 100%;
  }
}

.#{$iot-prefix}--card-gallery-list__icon > svg {
  height: 34px;
  width: 40px;
}

.#{$iot-prefix}--card-edit-form--threshold-input-group
  .#{$prefix}--tooltip-trigger__wrapper
  .#{$prefix}--btn--icon-only {
  padding: 0;
}

.#{$iot-prefix}--card-edit-form--threshold-input-group
  .#{$prefix}--tooltip-trigger__wrapper
  .#{$prefix}--btn--icon-only
  svg {
  right: 1rem;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  margin: auto;
}
