@use '@carbon/react/scss/components/menu' as *;
@use '../../globals/vars' as *;
@use './menu-button-shadow-blocker' as *;
@use '@carbon/react/scss/config' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/utilities/_box-shadow' as *;
@use '@carbon/react/scss/layer' as *;
@use '@carbon/react/scss/components/button' as *;
.#{$iot-prefix}--menu-button {
  .#{$iot-prefix}--menu-button__primary + .#{$iot-prefix}--menu-button__secondary {
    border-left: 1px solid $layer-01;
  }

  .#{$prefix}--btn--ghost.#{$prefix}--btn--icon-only {
    color: $icon-primary;
  }

  &--open {
    .#{$iot-prefix}--menu-button__trigger {
      &.#{$prefix}--btn--primary {
        background-color: $button-primary-active;
      }
      &.#{$prefix}--btn--secondary {
        background-color: $button-secondary-active;
      }
      &.#{$prefix}--btn--tertiary {
        background-color: $button-tertiary-active;
        color: $text-on-color;
      }
      &.#{$prefix}--btn--ghost {
        background-color: $border-disabled;
        color: $link-secondary;
      }
    }

    .#{$prefix}--btn--ghost.#{$prefix}--btn--icon-only {
      background-color: $layer-01;
      @include box-shadow();
    }
  }
}

.#{$iot-prefix}--menu-button__menu {
  padding: 0;
  .#{$prefix}--menu-divider {
    margin: 0;
  }
}

.#{$prefix}--menu.#{$prefix}--menu--open.#{$prefix}--menu--root {
  opacity: var(--iot-menu-button-menu-opacity);
}

html[dir='rtl'] .#{$iot-prefix}--menu-button__menu {
  .#{$prefix}--menu-option__icon {
    margin-right: 0;
    margin-left: $spacing-03;
  }

  .#{$prefix}--menu-option__info {
    margin-left: 0;
    margin-right: $spacing-05;
    transform: rotate(180deg);
  }
}
