@import '~carbon-components/scss/components/menu/menu';
@import '../../globals/vars';

.#{$iot-prefix}--menu-button {
  .#{$iot-prefix}--menu-button__primary + .#{$iot-prefix}--menu-button__secondary {
    border-left: 1px solid $ui-01;
  }

  .#{$prefix}--btn--ghost.#{$prefix}--btn--icon-only {
    color: $icon-01;
  }

  &--open {
    .#{$iot-prefix}--menu-button__trigger {
      background-color: $active-primary;
    }

    .#{$prefix}--btn--ghost.#{$prefix}--btn--icon-only {
      background-color: $ui-01;
      @include box-shadow;
    }
  }
}

html[dir='rtl'] .#{$iot-prefix}--menu-button {
  .#{$prefix}--context-menu-option__icon {
    margin-right: 0;
    margin-left: $spacing-03;
  }

  .#{$prefix}--context-menu-option__info {
    margin-left: 0;
    margin-right: $spacing-05;
    transform: rotate(180deg);
  }
}
