@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;
@use '../../../globals/colors';

.#{$iot-prefix}--save-view-modal__body-text {
  margin-bottom: spacing.$spacing-06;
}

.#{$iot-prefix}--save-view-modal__view-description {
  margin-top: spacing.$spacing-04;
  margin-bottom: spacing.$spacing-04;
  color: colors.$gray-60;
}
