@use '../../../globals/vars' as *;

.#{$iot-prefix}--save-view-modal__body-text {
  margin-bottom: $spacing-06;
}

.#{$iot-prefix}--save-view-modal__view-description {
  margin-top: $spacing-04;
  margin-bottom: $spacing-04;
  color: $carbon--gray-60;
}
