@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
.#{$iot-prefix}--filtertags-container {
  &__wrap {
    white-space: nowrap;
    min-width: 0;
    flex: 1;

    .#{$prefix}--overflow-menu {
      width: auto;
      min-width: 4.5rem;
    }
  }

  .#{$iot-prefix}--filtertags-overflow-menu,
  .#{$iot-prefix}--filtertags-overflow-menu.#{$prefix}--overflow-menu--open,
  .#{$prefix}--overflow-menu.#{$prefix}--overflow-menu--open:hover,
  .#{$iot-prefix}--filtertags-overflow-menu:hover {
    box-shadow: none;
    background-color: unset;
    display: inline-block;

    .#{$prefix}--tag {
      cursor: pointer;
    }
  }
  .#{$iot-prefix}--filtertags-overflow-items[data-floating-menu-direction='bottom']::after {
    background-color: unset;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    bottom: 100%;
    height: 0;
    left: 50%;
    top: unset;
    transform: translateX(-50%);
    width: 0;
  }
}

.#{$iot-prefix}--filtertags-overflow-item span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
