@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
@use "../../globals/colors";

.#{$iot-prefix}--btn {
  justify-content: flex-start;

  .#{$prefix}--loading {
    margin-top: -(spacing.$spacing-05);
    margin-bottom: -(spacing.$spacing-05);
    margin-right: spacing.$spacing-03;
  }
  .#{$prefix}--loading__stroke {
    stroke: colors.$gray-50;
  }
}

.#{$iot-prefix}--btn.#{$prefix}--btn.#{$prefix}--btn--ghost.#{$prefix}--btn--icon-only:not(.#{$iot-prefix}--btn-icon-selection--selected).#{$iot-prefix}--btn-icon-selection--recommended {
  border: 1px solid theme.$support-02;
}

.#{$iot-prefix}--btn:not(.#{$iot-prefix}--btn-icon-selection--selected)
  .#{$iot-prefix}--btn-icon-selection--recommended_marker {
  position: absolute;
  top: 0;
  right: 0;
  border-width: spacing.$spacing-04 0 0 spacing.$spacing-04;
  border-style: solid;
  border-color: theme.$support-02 transparent;
}

.#{$iot-prefix}--btn.#{$prefix}--btn--field:not(.#{$iot-prefix}--btn-icon-selection--selected)
  .#{$iot-prefix}--btn-icon-selection--recommended_marker {
  border-width: spacing.$spacing-03 0 0 spacing.$spacing-03;
}

.#{$iot-prefix}--btn.#{$prefix}--btn--sm:not(.#{$iot-prefix}--btn-icon-selection--selected)
  .#{$iot-prefix}--btn-icon-selection--recommended_marker {
  border-width: spacing.$spacing-02 0 0 spacing.$spacing-02;
}

.#{$iot-prefix}--btn-icon-selection--selected {
  border-color: theme.$focus;
}

.#{$iot-prefix}--btn.#{$prefix}--btn.#{$prefix}--btn--ghost.#{$prefix}--btn--icon-only.#{$iot-prefix}--btn-icon-selection
  svg
  path {
  fill: theme.$icon-01;
  outline-color: transparent;
}

.#{$iot-prefix}--btn.#{$prefix}--btn.#{$prefix}--btn--ghost.#{$prefix}--btn--icon-only.#{$iot-prefix}--btn-icon-selection.#{$iot-prefix}--btn-icon-selection--selected
  svg
  path {
  fill: theme.$interactive-01;
  outline-color: transparent;
}

[dir='rtl'] {
  .#{$iot-prefix}--btn:not(.#{$prefix}--btn--icon-only) {
    text-align: right;
    padding-left: 60px; // fixed values to invert $button-padding of Carbon's theme-tokens.scss
    padding-right: 12px;
  }

  .#{$prefix}--btn .#{$prefix}--btn__icon {
    left: spacing.$spacing-05;
    right: initial;
  }
}
