@use '../../../globals/theme';
@use '../../../globals/spacing';
@use '../../../globals/vars' as *;
@use '../mixins';
@use "../../../globals/mixins" as globals-mixins;

$border-radius: 5px;

.#{$iot-prefix}--hotspot-text-style-tab {
  &__form {
    @include mixins.vertical-form();
    .#{$prefix}--number input[type='number'] {
      padding-right: 5rem;
    }
  }

  &__text-style {
    @include globals-mixins.content-switcher-border-radius($border-radius, left, right);
  }

  html[dir='rtl'] &__text-style {
    @include globals-mixins.content-switcher-border-radius($border-radius, right, left);
  }

  &__dropdown {
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: spacing.$spacing-06;

    .#{$prefix}--dropdown__wrapper.#{$prefix}--list-box__wrapper {
      width: 100%;
    }

    .#{$prefix}--form-item {
      min-width: 10rem;
    }
  }
}

.#{$iot-prefix}--hotspot-editor--text-info-message {
  @include mixins.info-message();
}

.#{$iot-prefix}--hotspot-text-style-tab__delete-button-container {
  display: flex;
  justify-content: flex-end;
}
