@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use '../../globals/colors';
@use '../../globals/mixins';
@use '../../globals/motion';
@use '../../globals/typography';
@use '../../globals/layout';
@use '~carbon-components/scss/components/ui-shell/ui-shell' as shell;
@use '~carbon-components/scss/components/ui-shell/side-nav' as nav;

/*****************************
*
* This file brings in Carbon sidenav styles and aligns the pattern changes
* we have made in code. (ie. having buttons as well as anchors for sidenav
* links, using isRail while still wanting collapse on small screens, etc. )
*
*****************************/

// Disable for file since this is from Carbon

/* stylelint-disable */
$small-screen-breakpoint: 65.99em;

.#{vars.$iot-prefix}--side-nav {
  ///////////////////////////////////////
  // Added here to allow for collapse sidenav
  // with isRail property functionality
  ///////////////////////////////////////
  @media (max-width: $small-screen-breakpoint) {
    width: 0;
  }

  ///////////////////////////////////////
  // Added here to allow for collapse sidenav
  // with isRail property functionality
  ///////////////////////////////////////
  &.#{vars.$iot-prefix}--side-nav--expanded {
    @media (max-width: $small-screen-breakpoint) {
      width: 16rem;
    }
  }

  ///////////////////////////////////////
  // Added here to align the button with the
  // regular Carbon anchor tag
  ///////////////////////////////////////
  button.#{vars.$prefix}--side-nav__link {
    background: none;
    border: none;
    width: 100%;
  }

  ///////////////////////////////////////
  // Duplicated here to remove scoping
  // carbon does to anchor element
  //////////////////////////////////////
  .#{vars.$prefix}--side-nav__menu
    .#{vars.$prefix}--side-nav__link:not(.#{vars.$prefix}--side-nav__link--current):not([aria-current='page']):hover {
    color: colors.$gray-100;
    background-color: shell.$shell-side-nav-bg-04;
  }

  .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__link {
    height: shell.mini-units(4);
    min-height: shell.mini-units(4);
    padding-left: shell.mini-units(4);
    font-weight: 400;
  }

  .#{vars.$prefix}--side-nav__item.#{vars.$prefix}--side-nav__item--icon
    .#{vars.$prefix}--side-nav__link {
    padding-left: shell.mini-units(9);
  }

  .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__link--current,
  .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__link[aria-current='page'],
  .#{vars.$prefix}--side-nav__link--current {
    background-color: colors.$gray-20;

    > span {
      color: colors.$gray-100;
      font-weight: 600;
    }
  }

  .#{vars.$prefix}--side-nav__link {
    @include mixins.focus-outline('reset');
    @include typography.type-style('productive-heading-01');

    position: relative;
    display: flex;
    align-items: center;
    min-height: shell.mini-units(4);
    padding: 0 shell.mini-units(2);
    text-decoration: none;
    transition: color motion.$duration-fast-02, background-color motion.$duration-fast-02,
      outline motion.$duration-fast-02;
  }

  .#{vars.$prefix}--side-nav__link > .#{vars.$prefix}--side-nav__link-text {
    @include shell.text-overflow();

    color: shell.$shell-side-nav-text-01;
    font-size: layout.rem(14px);
    line-height: 1.25rem;
    letter-spacing: 0.1px;
    user-select: none;
  }

  .#{vars.$prefix}--side-nav__link:focus {
    @include mixins.focus-outline('outline');

    // Windows, Firefox HCM Fix
    @media screen and (-ms-high-contrast: active), screen and (prefers-contrast) {
      outline: 3px solid transparent;
      outline-offset: -3px;
    }
  }

  .#{vars.$prefix}--side-nav__link[aria-current='page'],
  .#{vars.$prefix}--side-nav__link--current {
    font-weight: 600;
    background-color: shell.$shell-side-nav-bg-04;
  }

  .#{vars.$prefix}--side-nav__link[aria-current='page'] .#{vars.$prefix}--side-nav__link-text,
  .#{vars.$prefix}--side-nav__link--current .#{vars.$prefix}--side-nav__link-text {
    color: colors.$gray-100;
  }

  .#{vars.$prefix}--side-nav__link[aria-current='page']::before,
  .#{vars.$prefix}--side-nav__link--current::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background-color: shell.$shell-side-nav-accent-01;
    content: '';
  }

  &.#{vars.$prefix}--side-nav--fixed .#{vars.$prefix}--side-nav__link {
    padding-left: shell.mini-units(2);
  }

  &.#{vars.$prefix}--side-nav--fixed
    .#{vars.$prefix}--side-nav__item:not(.#{vars.$prefix}--side-nav__item--icon)
    .#{vars.$prefix}--side-nav__menu
    .#{vars.$prefix}--side-nav__link {
    padding-left: shell.mini-units(4);
  }
}
/* stylelint-enable */
