@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use "~@carbon/styles/scss/components/ui-shell/functions";

$textColor: #f3f3f3;
$selectedBgColor: #565656;
$hoverBgColor: #3d3d3d;

.#{vars.$iot-prefix}--side-nav {
  /////////////////////////////////////////
  // Support for mult-level (3) side nav items
  ////////////////////////////////////////
  .#{vars.$prefix}--side-nav__menu-item
    + .#{vars.$prefix}--side-nav__item
    > .#{vars.$prefix}--side-nav__submenu {
    font-weight: 400;
    padding-left: functions.mini-units(9);

    & + .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__link {
      padding-left: functions.mini-units(13);
    }
  }

  .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__link--current > span {
    color: $textColor;
  }

  .#{vars.$prefix}--side-nav__item:not(.#{vars.$prefix}--side-nav__item--active):hover
    .#{vars.$prefix}--side-nav__item:not(.#{vars.$prefix}--side-nav__item--active)
    > .#{vars.$prefix}--side-nav__submenu:hover {
    color: $textColor;
  }

  .#{vars.$prefix}--side-nav__item:not(.#{vars.$prefix}--side-nav__item--active):hover
    .#{vars.$prefix}--side-nav__item:not(.#{vars.$prefix}--side-nav__item--active)
    > .#{vars.$prefix}--side-nav__submenu:hover,
  .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__item:hover,
  .#{vars.$prefix}--side-nav__menu
    .#{vars.$prefix}--side-nav__submenu:hover
    + .#{vars.$prefix}--side-nav__menu {
    background-color: $selectedBgColor;
  }

  .#{vars.$prefix}--side-nav__menu
    .#{vars.$prefix}--side-nav__menu
    .#{vars.$prefix}--side-nav__link:not(.#{vars.$prefix}--side-nav__link--current):not([aria-current='page']):hover {
    background-color: $hoverBgColor;
  }
}
