@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars' as *;
@use "../../globals/motion";
@use "../../globals/mixins";
@use 'side-nav-carbon';
@use "~@carbon/styles/scss/components/ui-shell/functions";

/////////////////////////////////////////////
// AI applications dark sidenav theme styles
////////////////////////////////////////////
$textColor: theme.$inverse-01;
$selectedBgColor: theme.$inverse-02;
$hoverBgColor: #2c2c2c;

.#{$iot-prefix}--side-nav {
  background: theme.$ui-05;

  .#{$prefix}--side-nav__submenu,
  .#{$prefix}--side-nav__link > .#{$prefix}--side-nav__link-text,
  .#{$prefix}--side-nav__item--active .#{$prefix}--side-nav__submenu-title,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    > .#{$prefix}--side-nav__link:hover
    > span,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    .#{$prefix}--side-nav__menu-item
    > .#{$prefix}--side-nav__link:hover
    > span,
  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current > span,
  .#{$prefix}--side-nav__link--current > span {
    color: $textColor;
  }

  .#{$prefix}--side-nav__icon > svg {
    fill: $textColor;
  }

  .#{$prefix}--side-nav__submenu:hover,
  .#{$prefix}--side-nav__submenu:hover + .#{$prefix}--side-nav__menu,
  [aria-expanded='true'].#{$prefix}--side-nav__submenu,
  [aria-expanded='true'].#{$prefix}--side-nav__submenu + .#{$prefix}--side-nav__menu,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    > .#{$prefix}--side-nav__link:hover {
    background-color: $hoverBgColor;
  }

  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current,
  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link[aria-current='page'],
  .#{$prefix}--side-nav__link--current,
  .#{$prefix}--side-nav__menu
    .#{$prefix}--side-nav__link:not(.#{$prefix}--side-nav__link--current):not([aria-current='page']):hover {
    background-color: $selectedBgColor;
  }

  .#{$prefix}--side-nav__menu
    .#{$prefix}--side-nav__link:not(.#{$prefix}--side-nav__link--current):not([aria-current='page']):hover,
  &.#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current > span,
  &.#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link[aria-current='page'] > span,
  &.#{$prefix}--side-nav__link--current > span {
    color: $textColor;
  }

  .#{$prefix}--side-nav__item--active .#{$prefix}--side-nav__submenu[aria-expanded='false'] {
    background-color: $selectedBgColor;
    color: $textColor;
  }

  &.#{$prefix}--side-nav.#{$prefix}--side-nav--rail:not(.#{$prefix}--side-nav--fixed):hover {
    // stylelint-disable-next-line declaration-property-unit-blacklist
    transition: width motion.$duration-fast-01 motion.motion(entrance, productive) 300ms;
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--side-nav {
    left: unset;
    right: 0;
  }

  .#{$prefix}--side-nav__icon:not(.#{$prefix}--side-nav__submenu-chevron) {
    margin-left: functions.mini-units(3);
    margin-right: unset;
  }

  .#{$iot-prefix}--side-nav__item--depth-0 {
    .#{$prefix}--side-nav__link-text {
      padding-right: spacing.$spacing-09 + spacing.$spacing-03;
    }
  }
}

.#{$iot-prefix}--side-nav__item--depth-1 {
  .#{$prefix}--side-nav__submenu-title {
    padding-left: spacing.$spacing-09 + spacing.$spacing-03;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: spacing.$spacing-09 + spacing.$spacing-03;
    }
  }
  .#{$prefix}--side-nav__link-text {
    padding-left: spacing.$spacing-05;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: spacing.$spacing-10 + spacing.$spacing-03;
    }
  }
}

.#{$iot-prefix}--side-nav__item--depth-2 {
  .#{$prefix}--side-nav__submenu-title {
    padding-left: spacing.$spacing-10 + spacing.$spacing-03;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: spacing.$spacing-10 + spacing.$spacing-03;
    }
  }

  .#{$prefix}--side-nav__link-text {
    padding-left: spacing.$spacing-07;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: spacing.$spacing-10 + spacing.$spacing-06;
    }
  }
}

.#{$iot-prefix}--side-nav__item--depth-3 {
  .#{$prefix}--side-nav__submenu-title {
    padding-left: spacing.$spacing-10 + spacing.$spacing-06;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: spacing.$spacing-10 + spacing.$spacing-06;
    }
  }

  .#{$prefix}--side-nav__link-text {
    padding-left: spacing.$spacing-09;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: spacing.$spacing-09;
    }
  }
}

.#{$prefix}--side-nav__overlay-active {
  z-index: mixins.z('overlay');
}
