@use '../../globals/theme';
@use '../../globals/spacing';
@use '../../globals/vars';
@use "../../globals/motion";
@use "../../globals/mixins";
@use 'side-nav-carbon';
@use "carbon-components/scss/components/ui-shell/ui-shell" as shell;

/////////////////////////////////////////////
// AI applications dark sidenav theme styles
////////////////////////////////////////////
$textColor: theme.$inverse-01;
$selectedBgColor: theme.$inverse-02;
$hoverBgColor: #2c2c2c;

.#{vars.$iot-prefix}--side-nav {
  background: theme.$ui-05;

  .#{vars.$prefix}--side-nav__submenu,
  .#{vars.$prefix}--side-nav__link > .#{vars.$prefix}--side-nav__link-text,
  .#{vars.$prefix}--side-nav__item--active .#{vars.$prefix}--side-nav__submenu-title,
  .#{vars.$prefix}--side-nav__item:not(.#{vars.$prefix}--side-nav__item--active)
    > .#{vars.$prefix}--side-nav__link:hover
    > span,
  .#{vars.$prefix}--side-nav__item:not(.#{vars.$prefix}--side-nav__item--active)
    .#{vars.$prefix}--side-nav__menu-item
    > .#{vars.$prefix}--side-nav__link:hover
    > span,
  .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__link--current > span,
  .#{vars.$prefix}--side-nav__link--current > span {
    color: $textColor;
  }

  .#{vars.$prefix}--side-nav__icon > svg {
    fill: $textColor;
  }

  .#{vars.$prefix}--side-nav__submenu:hover,
  .#{vars.$prefix}--side-nav__submenu:hover + .#{vars.$prefix}--side-nav__menu,
  [aria-expanded='true'].#{vars.$prefix}--side-nav__submenu,
  [aria-expanded='true'].#{vars.$prefix}--side-nav__submenu + .#{vars.$prefix}--side-nav__menu,
  .#{vars.$prefix}--side-nav__item:not(.#{vars.$prefix}--side-nav__item--active)
    > .#{vars.$prefix}--side-nav__link:hover {
    background-color: $hoverBgColor;
  }

  .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__link--current,
  .#{vars.$prefix}--side-nav__menu .#{vars.$prefix}--side-nav__link[aria-current='page'],
  .#{vars.$prefix}--side-nav__link--current,
  .#{vars.$prefix}--side-nav__menu
    .#{vars.$prefix}--side-nav__link:not(.#{vars.$prefix}--side-nav__link--current):not([aria-current='page']):hover {
    background-color: $selectedBgColor;
  }

  .#{vars.$prefix}--side-nav__menu
    .#{vars.$prefix}--side-nav__link:not(.#{vars.$prefix}--side-nav__link--current):not([aria-current='page']):hover,
  &.bx--side-nav__menu .bx--side-nav__link--current > span,
  &.bx--side-nav__menu .bx--side-nav__link[aria-current='page'] > span,
  &.bx--side-nav__link--current > span {
    color: $textColor;
  }

  .#{vars.$prefix}--side-nav__item--active
    .#{vars.$prefix}--side-nav__submenu[aria-expanded='false'] {
    background-color: $selectedBgColor;
    color: $textColor;
  }

  &.#{vars.$prefix}--side-nav.#{vars.$prefix}--side-nav--rail:not(.#{vars.$prefix}--side-nav--fixed):hover {
    // stylelint-disable-next-line declaration-property-unit-blacklist
    transition: width motion.$duration-fast-01 motion.motion(entrance, productive) 300ms;
  }
}

html[dir='rtl'] {
  .#{vars.$iot-prefix}--side-nav {
    left: unset;
    right: 0;
  }

  .#{vars.$prefix}--side-nav__icon:not(.#{vars.$prefix}--side-nav__submenu-chevron) {
    margin-left: shell.mini-units(3);
    margin-right: unset;
  }
}

.#{vars.$prefix}--side-nav__overlay-active {
  z-index: mixins.z('overlay');
}
