@import './side-nav-carbon';
@import '../../globals/typography';
@import '../../globals/vars';
@import '../../globals/spacing';

/////////////////////////////////////////////
// AI applications dark sidenav theme styles
////////////////////////////////////////////
$textColor: $inverse-01;
$selectedBgColor: $inverse-02;
$hoverBgColor: #2c2c2c;

.#{$iot-prefix}--side-nav {
  background: $ui-05;

  .#{$prefix}--side-nav__submenu,
  .#{$prefix}--side-nav__link > .#{$prefix}--side-nav__link-text,
  .#{$prefix}--side-nav__item--active .#{$prefix}--side-nav__submenu-title,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    > .#{$prefix}--side-nav__link:hover
    > span,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    .#{$prefix}--side-nav__menu-item
    > .#{$prefix}--side-nav__link:hover
    > span,
  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current > span,
  .#{$prefix}--side-nav__link--current > span,
  .#{$prefix}--search-input {
    color: $textColor;
  }

  .#{$prefix}--search {
    // Prevent the close button from overlaying the magnifier when side nav is collapsed
    min-width: $spacing-11;
    margin-bottom: -($spacing-05);
    z-index: z('overlay');
  }
  .#{$prefix}--search-input,
  .#{$prefix}--search-close:hover {
    border-bottom-color: transparent;
  }
  .#{$prefix}--search-magnifier-icon {
    left: $spacing-05;
  }
  .#{$prefix}--search-magnifier-icon,
  .#{$prefix}--search-close svg {
    fill: $inverse-01;
  }

  .#{$prefix}--search-close {
    &:hover,
    &:active {
      background-color: $hoverBgColor;
    }
    &::before {
      background-color: transparent;
    }
  }

  .#{$prefix}--search-input {
    background-color: $ui-05;
    &::placeholder {
      color: $ui-03;
    }
  }

  .#{$iot-prefix}--side-nav__pinned-items {
    flex: none;
    border-bottom: 1px solid $ui-04;
    & + .#{$prefix}--side-nav__items {
      padding-top: 0;
    }
  }

  .#{$iot-prefix}--side-nav__item--is-filtering .#{$prefix}--side-nav__submenu {
    pointer-events: none;
    .#{$prefix}--side-nav__submenu-chevron {
      display: none;
    }
  }

  .#{$iot-prefix}--side-nav__item--is-filtering .#{$prefix}--side-nav__link-text {
    display: inline-flex;
    mark {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
      flex-shrink: 1;
      background: $ui-01;
      color: $interactive-04;
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
      flex-shrink: 2;
    }
  }

  .#{$iot-prefix}--side-nav__empty-search-msg {
    margin: $spacing-07 $spacing-09 $spacing-05 $spacing-09;
    color: $textColor;
    display: none;
    @include type-style('body-short-01');
  }

  &.#{$iot-prefix}--side-nav--expanded,
  &.#{$prefix}--side-nav--expanded {
    .#{$iot-prefix}--side-nav__empty-search-msg {
      display: block;
    }
  }

  .#{$prefix}--side-nav__icon > svg {
    fill: $textColor;
  }

  .#{$prefix}--side-nav__submenu:hover,
  .#{$prefix}--side-nav__submenu:hover + .#{$prefix}--side-nav__menu,
  [aria-expanded='true'].#{$prefix}--side-nav__submenu,
  [aria-expanded='true'].#{$prefix}--side-nav__submenu + .#{$prefix}--side-nav__menu,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    > .#{$prefix}--side-nav__link:hover {
    background-color: $hoverBgColor;
  }

  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current,
  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link[aria-current='page'],
  .#{$prefix}--side-nav__link--current,
  .#{$prefix}--side-nav__menu
    .#{$prefix}--side-nav__link:not(.#{$prefix}--side-nav__link--current):not(
      [aria-current='page']
    ):hover {
    background-color: $selectedBgColor;
  }

  .#{$prefix}--side-nav__menu
    .#{$prefix}--side-nav__link:not(.#{$prefix}--side-nav__link--current):not(
      [aria-current='page']
    ):hover,
  &.#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current > span,
  &.#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link[aria-current='page'] > span,
  &.#{$prefix}--side-nav__link--current > span {
    color: $textColor;
  }

  .#{$prefix}--side-nav__item--active .#{$prefix}--side-nav__submenu[aria-expanded='false'] {
    background-color: $selectedBgColor;
    color: $textColor;
  }

  &.#{$prefix}--side-nav.#{$prefix}--side-nav--rail:not(.#{$prefix}--side-nav--fixed):hover {
    // stylelint-disable-next-line declaration-property-unit-blacklist
    transition: width $duration--fast-01 motion(entrance, productive) 300ms;
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--side-nav {
    left: unset;
    right: 0;

    &.#{$prefix}--side-nav--rail {
      &:not(.#{$prefix}--side-nav--expanded) {
        .#{$prefix}--search-close {
          display: none;
        }
      }
    }
    .#{$prefix}--search {
      min-width: unset;
    }
  }

  .#{$prefix}--side-nav__icon:not(.#{$prefix}--side-nav__submenu-chevron) {
    margin-left: mini-units(3);
    margin-right: unset;
  }

  .#{$iot-prefix}--side-nav__item--depth-0 {
    .#{$prefix}--side-nav__link-text {
      padding-right: $spacing-09 + $spacing-03;
    }
  }
}

.#{$iot-prefix}--side-nav__item--depth-1 {
  .#{$prefix}--side-nav__submenu-title {
    padding-left: $spacing-09 + $spacing-03;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: $spacing-09 + $spacing-03;
    }
  }
  .#{$prefix}--side-nav__link-text {
    padding-left: $spacing-05;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: $spacing-10 + $spacing-03;
    }
  }
}

.#{$iot-prefix}--side-nav__item--depth-2 {
  .#{$prefix}--side-nav__submenu-title {
    padding-left: $spacing-10 + $spacing-03;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: $spacing-10 + $spacing-03;
    }
  }

  .#{$prefix}--side-nav__link-text {
    padding-left: $spacing-07;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: $spacing-10 + $spacing-06;
    }
  }
}

.#{$iot-prefix}--side-nav__item--depth-3 {
  .#{$prefix}--side-nav__submenu-title {
    padding-left: $spacing-10 + $spacing-06;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: $spacing-10 + $spacing-06;
    }
  }

  .#{$prefix}--side-nav__link-text {
    padding-left: $spacing-09;

    html[dir='rtl'] & {
      padding-left: unset;
      padding-right: $spacing-09;
    }
  }
}

.#{$prefix}--side-nav__overlay-active {
  z-index: z('overlay');
}
