@import './side-nav-carbon';

/////////////////////////////////////////////
// AI applications dark sidenav theme styles
////////////////////////////////////////////
$textColor: $inverse-01;
$selectedBgColor: $inverse-02;
$hoverBgColor: #2c2c2c;

.#{$iot-prefix}--side-nav {
  background: $ui-05;

  .#{$prefix}--side-nav__submenu,
  .#{$prefix}--side-nav__link > .#{$prefix}--side-nav__link-text,
  .#{$prefix}--side-nav__item--active .#{$prefix}--side-nav__submenu-title,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    > .#{$prefix}--side-nav__link:hover
    > span,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    .#{$prefix}--side-nav__menu-item
    > .#{$prefix}--side-nav__link:hover
    > span,
  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current > span,
  .#{$prefix}--side-nav__link--current > span {
    color: $textColor;
  }

  .#{$prefix}--side-nav__icon > svg {
    fill: $textColor;
  }

  .#{$prefix}--side-nav__submenu:hover,
  .#{$prefix}--side-nav__submenu:hover + .#{$prefix}--side-nav__menu,
  [aria-expanded='true'].#{$prefix}--side-nav__submenu,
  [aria-expanded='true'].#{$prefix}--side-nav__submenu + .#{$prefix}--side-nav__menu,
  .#{$prefix}--side-nav__item:not(.#{$prefix}--side-nav__item--active)
    > .#{$prefix}--side-nav__link:hover {
    background-color: $hoverBgColor;
  }

  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current,
  .#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link[aria-current='page'],
  .#{$prefix}--side-nav__link--current,
  .#{$prefix}--side-nav__menu
    .#{$prefix}--side-nav__link:not(.#{$prefix}--side-nav__link--current):not([aria-current='page']):hover {
    background-color: $selectedBgColor;
  }

  .#{$prefix}--side-nav__menu
    .#{$prefix}--side-nav__link:not(.#{$prefix}--side-nav__link--current):not([aria-current='page']):hover,
  &.#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link--current > span,
  &.#{$prefix}--side-nav__menu .#{$prefix}--side-nav__link[aria-current='page'] > span,
  &.#{$prefix}--side-nav__link--current > span {
    color: $textColor;
  }

  .#{$prefix}--side-nav__item--active .#{$prefix}--side-nav__submenu[aria-expanded='false'] {
    background-color: $selectedBgColor;
    color: $textColor;
  }

  &.#{$prefix}--side-nav.#{$prefix}--side-nav--rail:not(.#{$prefix}--side-nav--fixed):hover {
    // stylelint-disable-next-line declaration-property-unit-blacklist
    transition: width $duration--fast-01 motion(entrance, productive) 300ms;
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--side-nav {
    left: unset;
    right: 0;
  }

  .#{$prefix}--side-nav__icon:not(.#{$prefix}--side-nav__submenu-chevron) {
    margin-left: mini-units(3);
    margin-right: unset;
  }
}

.#{$prefix}--side-nav__overlay-active {
  z-index: z('overlay');
}
