@import '~carbon-components/scss/components/data-table/data-table';

.table-header-label {
  &-start {
    .#{$prefix}--table-header-label {
      width: 100%;
      text-align: start;
    }
  }

  &-center {
    .#{$prefix}--table-header-label {
      width: 100%;
      text-align: center;
    }
  }

  &-end {
    .#{$prefix}--table-header-label {
      width: 100%;
      text-align: end;
    }
  }
}

td.data-table {
  &-start {
    text-align: start;
  }

  &-center {
    text-align: center;
  }

  &-end {
    text-align: end;
  }
}

html[dir='rtl'] {
  .#{$prefix}--table-sort__icon-unsorted,
  .#{$prefix}--table-sort__icon {
    margin-right: $spacing-03;
    margin-left: 0;
  }

  td.data-table {
    &-start {
      text-align: start;
    }

    &-center {
      text-align: center;
    }

    &-end {
      text-align: end;
    }
  }
}

.#{$prefix}--data-table {
  .table-header-sortable:not(.#{$prefix}--table-sort) {
    padding: 0;
  }
  .#{$prefix}--table-sort {
    padding-left: $spacing-04;
    padding-right: $spacing-04;
  }
}
