@import '~carbon-components/scss/components/data-table/data-table';

.table-header-label {
  &-start {
    .#{$prefix}--table-header-label {
      text-align: start;
    }
  }

  &-center {
    .#{$prefix}--table-header-label {
      text-align: center;
    }
  }

  &-end {
    .#{$prefix}--table-header-label {
      text-align: end;
    }
  }
}

.table-header-label-start .table-header-label-start,
.table-header-label-center .table-header-label-center,
.table-header-label-end .table-header-label-end {
  .#{$prefix}--table-header-label {
    width: 100%;
  }
}

td.data-table {
  &-start {
    text-align: start;
  }

  &-center {
    text-align: center;
  }

  &-end {
    text-align: end;
  }
}

html[dir='rtl'] {
  .#{$prefix}--table-sort__icon-unsorted,
  .#{$prefix}--table-sort__icon {
    margin-right: $spacing-03;
    margin-left: 0;
  }

  td.data-table {
    &-start {
      text-align: start;
      padding-right: $spacing-04;
    }

    &-center {
      text-align: center;
    }

    &-end {
      text-align: end;
      padding-left: $spacing-05;
    }
  }
}

.#{$prefix}--data-table {
  .table-header-sortable:not(.#{$prefix}--table-sort) {
    padding: 0;
  }
  .#{$prefix}--table-sort {
    padding-left: $spacing-04;
    padding-right: $spacing-04;
  }
}

.#{$prefix}--data-table .#{$prefix}--checkbox-table-cell {
  padding-bottom: $spacing-03;
  padding-top: $spacing-03;
  width: 2.5rem;

  /* Added to undo carbon component. this needs to be removed when we redo this table */
  &::after {
    background-color: transparent !important;
  }
}

.#{$prefix}--toolbar-search-container-active .#{$prefix}--search .#{$prefix}--search-input {
  padding-right: $spacing-09;
}

.table-toolbar-secondary-title {
  padding: $spacing-05;
  @include type-style('productive-heading-01');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  & + * {
    margin-left: $spacing-05;
  }
}

// Fixes bug when modal is opened, then closed. The toolbar moves to the top
section.#{$prefix}--table-toolbar {
  overflow: unset;
}

.#{$prefix}--expandable-row .#{$prefix}--table-expand {
  z-index: 2;
}

.#{$prefix}--expandable-row .#{$prefix}--checkbox-table-cell {
  z-index: 1;
}

tr.#{$prefix}--parent-row.#{$prefix}--data-table--selected td,
tr.#{$prefix}--parent-row.#{$prefix}--data-table--selected:not(.#{$prefix}--expandable-row):hover
  td,
tr.#{$prefix}--parent-row.#{$prefix}--data-table--selected.#{$prefix}--expandable-row td,
tr.#{$prefix}--parent-row.#{$prefix}--data-table--selected.#{$prefix}--expandable-row
  td:first-of-type {
  border-bottom-color: $active-ui;
  box-shadow: none;
}
