name: Publish

on:
  push:
    branches:
      - master
      - next

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.CARBON_BOT_TOKEN }}

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Validate formatting
        run: yarn format:check

      - name: Lint
        run: yarn lint

      - name: Test, collect coverage
        run: yarn test:ci

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "./packages/react/coverage/lcov.info"
          base-path: "packages/react"

      - name: Build
        run: yarn build

      - name: Publish
        env:
          GH_TOKEN: ${{ secrets.CARBON_BOT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn publish-npm
