/* stylelint-disable declaration-property-unit-blacklist */
@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/typography';

.page-title-bar {
  &-title {
    justify-content: space-between;
    &-dynamic {
      position: var(--bar-title-position);
      margin: -$spacing-05 0 $spacing-06 $spacing-07;
    }
    &--condensed {
      &-static {
        margin-left: $spacing-03;
      }
      &-before {
        margin-top: $spacing-07;
        margin-left: $spacing-03;
        transition: all $duration--moderate-02;
      }
      &-after {
        margin-top: 0;
        margin-left: $spacing-03;
        transition: all $duration--moderate-02;
        display: flex;
        align-items: center;
      }
    }
    &--text {
      align-items: center;
      display: flex;

      h2 {
        @include type-style('productive-heading-04');
        // need to match the 40x40px icons that could render in
        height: $spacing-08;
      }

      & #tooltip {
        fill: $icon-01;
      }
    }

    &--edit {
      margin-left: $spacing-05;
    }
  }
  .#{$prefix}--tab-content {
    padding: unset;
    padding-top: $spacing-05;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: $spacing-05 $spacing-07 $spacing-06 $spacing-07;

    &-sticky {
      position: sticky;
      top: 0;
      width: 100%;
      border-bottom: $ui-03;
      background-color: $ui-01;
    }
    &-condensed {
      position: sticky;
      top: 0;
      border-bottom: $ui-03;
      height: unset;
      padding: 0 $spacing-07;
      transition: background-color $duration--moderate-02;
      background-color: $ui-01;
    }
    &-left {
      float: left;
    }
    &-right {
      float: right;
      &-dynamic {
        margin: -$spacing-03 $spacing-07 $spacing-06 0;
        margin-left: $spacing-05;
        position: sticky;
        top: 0;
        z-index: 2000;
      }
    }
  }

  &-description {
    @include type-style('body-short-01');
    margin-top: $spacing-05;
    max-width: 40rem;
  }

  &-breadcrumb {
    &-dynamic {
      height: $spacing-09;
      overflow: hidden;
      display: flex;
      padding: $spacing-05 0 $spacing-05 $spacing-07;
      transition: all $duration--moderate-02;
      position: sticky;
      top: 0;
    }
    &-condensed-static {
      display: flex;
      align-items: center;
    }
    &-condensed {
      position: sticky;
      top: 0;
      transition: all $duration--moderate-02;
      background: $ui-01;
      z-index: 1000;
      border-bottom: $ui-03;
    }
  }

  &-loading {
    height: carbon--rem(20px);
    margin: $spacing-05 0 0 $spacing-07;
  }

  &-content {
    padding: 0 $spacing-07;
  }
}
