@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/layout';

.add-card {
  border: 1px solid transparent;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $ui-01;
  min-height: 8rem;
  min-width: 8.5rem;
  max-width: 18.75rem;
  max-height: 15.625rem;

  svg {
    margin: auto 0 0 auto;
  }
}
