@use '../../globals/vars' as *;
.#{$iot-prefix}--meter-chart--wrapper {
  height: 100%;
  width: 100%;
}
[dir='rtl'] {
  .#{$iot-prefix}--meter-chart--wrapper .bx--cc--meter-title {
    .proportional-meter-total {
      text-anchor: start;
    }
    .proportional-meter-title {
      text-anchor: end;
    }
  }
}
