@import '~carbon-components/scss/components/progress-indicator/progress-indicator';
@import '../../globals/vars';

.#{$iot-prefix}--progress-indicator {
  &.#{$prefix}--progress--vertical {
    .#{$prefix}--progress-step {
      overflow: hidden;
    }

    .#{$prefix}--progress-step-button {
      display: list-item;
      padding: 0 $spacing-03;
      text-align: left;
      min-height: unset;
      width: 100%;
    }

    .#{$prefix}--progress-label {
      max-width: calc(100% - 2.2rem);
      position: relative;
    }

    .#{$prefix}--progress-optional {
      margin-left: $spacing-08;
    }
  }

  .#{$prefix}--progress-optional {
    margin-left: $spacing-07;
  }

  .#{$prefix}--progress-step svg {
    margin-left: $spacing-03;
    margin-right: $spacing-03;
  }

  .#{$prefix}--progress-line {
    top: 0;
  }
}

.#{$prefix}--progress-line {
  width: 100%;
}

.#{$prefix}--skeleton {
  .#{$prefix}--progress-step {
    flex: unset;
  }
}

html[dir='rtl'] {
  .#{$iot-prefix}--progress-indicator {
    &.#{$prefix}--progress--vertical {
      .#{$prefix}--progress-step-button {
        text-align: right;
      }
      .#{$prefix}--progress-optional {
        margin-right: $spacing-08;
      }
    }

    .#{$prefix}--progress-optional {
      margin-right: $spacing-07;
      right: 0;
      margin-left: 0;
      left: unset;
    }

    .#{$prefix}--progress-line {
      right: 0;
      left: unset;
    }
  }

  .#{$prefix}--skeleton {
    .#{$prefix}--progress-step--incomplete svg {
      margin-right: 0;
      margin-left: $spacing-03;
    }
  }
}
