@import '~carbon-components/scss/components/progress-indicator/progress-indicator';
@import '../../globals/vars';

.#{$iot-prefix}--progress-indicator {
  .#{$prefix}--progress-optional {
    position: absolute;
    text-align: start;
  }
  &.#{$prefix}--progress--vertical .#{$prefix}--progress-optional {
    margin-left: 2rem;
  }
  &.#{$prefix}--progress--vertical .#{$prefix}--progress-step-button {
    display: list-item;
  }
  .#{$prefix}--skeleton {
    .#{$prefix}--progress-step {
      flex: unset;
    }
    .#{$prefix}--progress-step--incomplete svg {
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}
