@use '../../../../globals/vars' as *;

.#{$iot-prefix}--load-more-cell {
  &--content.#{$iot-prefix}--btn {
    @include type-style('body-short-01');
    color: $interactive-01;
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
}
