@import '../../../../globals/vars';

.#{$iot-prefix}--load-more-cell {
  text-align: center !important;
  cursor: pointer;
  width: 100%;

  &--content {
    @include type-style('body-short-01');
    color: $interactive-01 !important;
    min-width: 100%;
    display: flex;
    justify-content: center !important;
  }
}
